
.signout-logo{
    background: url("../assets/images/signout.png")left center no-repeat;
    background-size: 24px;
    background-position: 10px;
}

/*
.red-btn{
    height:38px;
    width:133px;
    background-color: #dc242e;
    border-left: 14px solid #dc242e;
    border-top:none;
    border-bottom: none;
    border-right:none;
}*/

.signout{
    margin-right: 30px;
    margin-top: 6px;
}

button[disabled]{
    opacity: 0.5;
}

.signout-btn{
    background-color: #dc242e;
    padding: 8px 20px 8px 40px;
    border-radius: 2px;
    border: none;
    color: #fff;
    &:hover{
        opacity: 0.9;
    }
}

.admnpnl-input-labels-text{
  margin-left: 50px;
}

.fliter-div-margin{
    margin: 15px 50px;
}

.btn-margin{
    margin: auto;
    display: block;
    margin-top: 10px;
}

.dsp-in-blk{
  display: inline-block !important;
}

.display-center{
    display: flex;
    justify-content: center;
}

.display-inline{
    display:inline-flex;
    align-items:center;
}

.center-align{
    display:flex;
    align-items:center;
}


.float-right{
    float:right;
}

.alert-box{
    margin-top:16px;
}

.text-center{
    text-align: center;
}

.label-calander-text{
    color:black;
    font-size: 16px;
    letter-spacing: 0.5px;
}


.sidebar-icon {
   height: 25px;
    width: 29px;
    position: relative;
    top: 4px;
    display: inline-block;
}

.sidebar-credit-to-user-icon{
    background: url("../assets/images/leftsidebar-sprit.png") 0 0 no-repeat;
}

.sidebar-debit-from-user-icon{
    background: url("../assets/images/leftsidebar-sprit.png") -27px 0 no-repeat;
}

.sidebar-reports-icon{
    background: url("../assets/images/leftsidebar-sprit.png") -58px 0 no-repeat;
}


.sidebar-game-reports-icon{
    background: url("../assets/images/leftsidebar-sprit.png") -86px 0 no-repeat;
}
.sidebar-game-revenue-icon{
     background: url("../assets/images/leftsidebar-sprit.png") -116px 0 no-repeat;
}

.sidebar-reset-password-icon{
     background: url("../assets/images/leftsidebar-sprit.png") -144px 0 no-repeat;
}

.sidebar-sfs-exceptions-icon{
    background: url("../assets/images/leftsidebar-sprit.png") -172px 0 no-repeat;
}


.sidebar-account-telly-icon{
  background: url("../assets/images/leftsidebar-sprit.png") -200px 0 no-repeat;
}

.sidebar-player-detail-icon{
  background: url("../assets/images/leftsidebar-sprit.png") -228px 0 no-repeat;
}

.sidebar-account-cms-icon{
  background: url("../assets/images/leftsidebar-sprit.png") -260px 0 no-repeat;
}

.sidebar-account-email-editor-icon{
  background: url("../assets/images/leftsidebar-sprit.png") -288px 0 no-repeat;
}

.sidebar-admin-msg-icon{
  background: url("../assets/images/leftsidebar-sprit.png") -318px 0 no-repeat;
}

.my-profile-icon{
background: url("../assets/images/user-profile.png") no-repeat;
}

.change-password-icon{
    background: url("../assets/images/change-password.png") no-repeat;
}

.sign-out-icon{
    background: url("../assets/images/signout.png") no-repeat;
}

.more-options-icon{
    background: url("../assets/images/more-options.png") no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
}

.header-user-name{
    margin : 14px 14px 14px 10px;;
    color: #fff;
    font-size: 16px;
    float: left;
}

.header-user-name .caret{
    border-top: 8px dashed #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    margin-top: -2px;
}

.alert{
    position : relative;
}

.alert-button{
    position: absolute !important;
    right: 12px !important;
    top: 4px !important;
}

.selected{
    background-color: #dc242e;
}

.input-group-date{
    display: inline-flex;
    align-items: center;
}

.date-picker{
    margin-left : 14px;
}

.vertical-center{
    display:flex;
    align-items : center;

}

.btn-inline{
        margin: auto;
    display: block;
    margin-top: 0px;
}

.btn-exception{
    margin : 0;
}

.nav-menu-container{
    background-color:#333;
}
.nav-menu-list{
    flex-wrap:wrap;
    color: #fff;
}
.nav-menu-list li{
    padding:12px 15px;
    cursor: pointer;
    border-right: 2px solid #ddd;
    float: left;
}

.nav-menu-list li.selected{
    background-color: #dc242e;
}

.nav-menu-list li a{
    color:white;
}

table.admin-pnl-table{
    background-color: transparent;
    width: 420px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

table.admin-pnl-table tr {
    border-bottom: 1px solid #ddd;
}

table.admin-pnl-table tr th {
    background: #e5e5e5;
    width: 50%;
}

.admnpnl-btn-lg {
    width: 225px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    margin: 10px 6px 10px 0;
    background: linear-gradient(to bottom, #c33132, #c33132 45%, #be2222 55%, #be2222);
    border: 1px solid #A94442;
}


.upload-wrapper{
    position : relative;

    width :100%;
    min-height: 250px;
    background-color:#fff;
        box-shadow: 0 0 3px rgba(0,0,0,.15);
}

.form-btn-bottom{
    position:relative;
    bottom:0;
    width:100%;
}

.image-table-container{
    min-height: 178px;
}

.loader-container{
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.57);
    position: fixed;
    left:0;
    z-index:999;

}

.loader-image{
    z-index:100000;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:60px;
}

.hide-loader{
    display: none;
}

.padd-left-0{
    padding-left:0 !important;
}

.show-loader{
    display:block;
}

.label-txt{
    padding:8px 0;
    font-size: 12px ;
    white-space: nowrap ;
}

.game-score-table{
    table tbody tr td input{
        width:40px;
        padding:0;
        text-align:center;
    }
}
