/*  THEME Based variables for Admin panel   */

$NAVBAR_BG_COLOR: #323232;
$FOOTER_BG_COLOR: #323232;
$SIDEBAR_BG_COLOR: #383838;
$SIDEMENU_HOVER_BG_COLOR: #dc242e;
$SIDEMENU_BORDER_BOTTOM_COLOR: #D9D9D9;
$MAINMENU_BG_COLOR: #323232;
$MAINMENU_HOVER_BG_COLOR: #dc242e;
$ADMIN_PANEL_HEADING_BG_COLOR: #d9d9d9;
$ADMIN_PANEL_HEADING_TEXT_COLOR: #333;
$FORM_CONTAINTER_BG_COLOR: #f2f2f2;

/*  THEME Based variables for Admin panel   */

body{
  overflow-y: scroll !important;
}


/*Mixin to create gradient background for buttons*/
@mixin btn-color-gradient($top-color, $bottom-color, $border-color) {
    background: $top-color;
    background: -webkit-linear-gradient(to bottom,$top-color,$top-color 45%,$bottom-color 55%,$bottom-color);/* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom,$top-color,$top-color 45%,$bottom-color 55%,$bottom-color); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom,$top-color,$top-color 45%,$bottom-color 55%,$bottom-color); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom,$top-color,$top-color 45%,$bottom-color 55%,$bottom-color); /* Standard syntax */
    border: 1px solid $border-color;
  &:hover{
    opacity: 0.9;
  }
  &:active{
    background: $bottom-color;
  }
}

/* BEGIN CSS Styles for Admin panel buttons  */
.admnpnl-btn {
  width: 125px;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
  margin: 10px 6px 10px 0;
  /*  use Mixin 'btn-color-gradient(top-color, bottom-color, border-color)' for gradient background effect in buttons  */
  /*Button color classes*/
  &.btn-red{
    @include btn-color-gradient(#c33132, #be2222, #A94442);
  }
  &.btn-grey{
    @include btn-color-gradient(#484848, #404040, #bbb);
  }
  &.btn-blue{
    @include btn-color-gradient(#337ab7, #2B6698, #2e6da4);
  }
  /*button sizes*/
  &.btn-md{
    width: 100px;
    padding: 4px;
  }
  &.resend-btn{
    width: 80px;
    font-size: 14px;
    padding: 2px;
    margin: 0;
  }
  &.send-message{
    width: auto;
    padding: 4px 10px;
    margin: 10px 0 !important;
  }
}
/* END CSS Styles for Admin panel buttons  */

/* BEGIN CSS Styles for Admin panel forms  */
.admnpnl-form{
  font-family: 'Open Sans', sans-serif;
  background: #f2f2f2;
  margin-top: 15px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 10px 1px #ccc;

  .form-container{
    padding: 20px;
    background-color: $FORM_CONTAINTER_BG_COLOR;
  }

  .form-group{
    margin-bottom: 25px;
  }

  label{
    font-size: 15px;
    color: #333;
    padding: 5px 0 0 50px;
    font-weight: 600;

    sup{
      color: #C0392B;
    }
  }

  input{
    border-radius: 2px !important;
  }

  .form-btn-group{
    button{
      margin: 10px 15px;
    }
  }

  .date-group{
    margin-bottom: 5px;
    label{
      float: left;
      margin-right: 15px;
      padding-left: 36px !important;
    }
    a.dropdown-toggle{
      float: left;
      width: 220px;
    }
  }
}
label{
  sup{
    color: #C0392B;
  }
}
/* END CSS Styles for Admin panel forms  */

.report-wrapper{
  background: #f2f2f2;
  margin: 15px 0 65px;
  padding: 10px 0;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 10px 1px #ccc;
}

.main-sidebar{
  position: fixed;
  background: $SIDEBAR_BG_COLOR;
  width: 25%;
  margin-top: 50px;
  overflow: auto;
  top: 0;
  bottom: 0;
}


/*  BEGIN CSS for admin actions dropdown  */
.admin-actions{
    height: 51px;
    float: right;
    margin-right: -15px;
    cursor: pointer;
    &.open{
      .user-profile{
        background: #555;
      }
    }
    .user-profile{
        background: #323232;
        text-align: center;
        &:hover{
          background: #555;
        }
        .profile-pic{
            height: 38px;
            width: 38px;
            display: inline-block;
            background: #bbb;
            border: 1px solid #f2f2f2;
            border-radius: 50%;
            margin: 7px 0 0 10px;
            float: left;
        }
    }
    .dropdown-menu{
        right: 0;
        left: initial;
        border-radius: 0;
        margin: 0;
        padding: 0;
        li{
            a{
                position: relative;
                background: #323232;
                padding: 15px;
                padding-left: 50px;
                color: #fff;
                text-transform: uppercase;
                border-bottom: 1px solid #f2f2f2;
                &:hover{
                    background: #dc242e;
                }
                span{
                    position: absolute;
                    left: 15px;
                    top: 12px;
                    height: 25px;
                    width: 29px;
                    background-size: contain;
                    background-position: 4px 0;
                }
            }
        }
    }
}
/*  END CSS for admin actions dropdown   */

/*  BEGIN CSS for sliding sidebar Menu  */
.sidemenu-toggle{
    height: 53px;
    width: 50px;
    position: absolute;
    right: -50px;
    top: 0;
    z-index: 1;
    cursor: pointer;
    background: url("../assets/images/menu-toggle.png") no-repeat #d9d9d9;
    background-position: 10px 15px;
    background-size: 55%;
}

.no-transition{
  transition: 0s all !important;
}

.view-wrapper{
  padding: 0 15px;
  background-color: #e1e0e5;
}

body:not(.menu-slide){
  .view-wrapper{
    float: left;
    width: 75%;
  }
}

body.menu-slide{
 .page-wrapper{
    .main-content{
      margin-left: 0;
      transition: margin 0.8s ease;
    }
    .sidemenu{
      margin-left: -25%;
      transition: margin 0.8s ease;
    }
    &.menu-open{
        .main-content{
          margin-left: 25%;
          transition: margin 0.8s ease;
        }
        .sidemenu{
          margin-left: 0;
          transition: margin 0.8s ease;
        }
    }
  }
}
/*  ENd CSS for sliding sidebar Menu  */

.main-content.ng-leave,
.main-content.ng-leave-active{
  display: none;
}

/*.main-content.ng-enter,
.main-content.ng-enter-active{
  transition: margin 0.8s ease;
}*/

/* BEGIN CSS Styles for HTML Editor */
.editor-wrapper{
  margin-top: 10px;
  min-height: 520px;
}

.sub-header-button{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    button{
        background: #dc242e;
        color: #fff;
        border: 0;
        border-radius: 4px;
        box-shadow: 1px 1px 4px #bbb;
        font-size: 16px;
        padding: 4px 10px;
        &:hover,&:active{
            background: #ca2a32;
        }
    }
}
/* END CSS Styles for HTML Editor */

/* BEGIN Overriding ngDialog CSS */
.ngdialog.ngdialog-theme-default{
  padding-top: 20px !important;
}

.ngdialog.ngdialog-theme-default .ngdialog-content{
  width: 80% !important;
}
/* END Overriding ngDialog CSS */

.modal-body-editor iframe{
  min-height: 420px;
}

.tally-radio-btns{
  label{
    vertical-align: top;
  }
}


/*  BEGIN CSS Styles for Admin Panel Main Menu  */
.admnpnl-main-menu{
    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    li{
        float: left;
        a{
            color: #fff;
            background: $MAINMENU_BG_COLOR;
            font-size: 14px;
            display: block;
            padding: 12px 20px;
            height: 51px;
            line-height: 2;
            &:hover{
                background: $MAINMENU_HOVER_BG_COLOR;
                text-decoration: none;
            }
        }
        &.has-children{
            position: relative;
            ul{
                width: 240px;
                position: absolute;
                top: 100%;
                left: 0;
                display: none;
            }
            &:hover{
                ul{
                    display: block;
                }
            }
            li{
                border-right: 1px solid #f2f2f2;
                border-top: 1px solid #f2f2f2;
                a{
                    padding: 4px 0;
                    width: 72px;
                    text-align: center;
                    .menu-icon{
                        height: 24px;
                        width: 24px;
                        background-size: contain;
                        margin: 0 auto;
                    }
                    .menu-text{
                        color: #fff;
                        font-size: 12px;
                        line-height: 1;
                        margin-top: 3px;
                    }
                }
            }
        }
    }
}
/*  END CSS Styles for Admin Panel Main Menu  */

footer{
  height: 50px;
  background-color: $FOOTER_BG_COLOR;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2;
}

/*.login-screen {
    text-align: center;
}*/


/*  BEGIN CSS Styles for admin panel sidebar menu   */
.admnpnl-menu{
    padding-bottom: 60px;
}
.admnpnl-menu a {
    padding: 3% 6%;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.admnpnl-menu a:hover {
    background-color: $SIDEMENU_HOVER_BG_COLOR;
}

.admnpnl-menu li{
    border-bottom: 1px solid $SIDEMENU_BORDER_BOTTOM_COLOR;
}
/*  END CSS Styles for admin panel sidebar menu   */

/*  BEGIN CSS admin panel form classes  */
.admnpnl-heading {
    font-family: 'Open Sans', sans-serif;
    font-size : 22px;
    font-weight: 600;
    padding : 11px 0 11px 50px;
    background: $ADMIN_PANEL_HEADING_BG_COLOR;
    color: $ADMIN_PANEL_HEADING_TEXT_COLOR;
}

.admnpnl-input-labels {
    font-size: 16px;
    letter-spacing: 0.5px;
    padding :10px 0px;
}

.admpnl-input-group {
    margin-top: 15px;
}

.admnpnl-input {
    padding: 10px 0px;
}

.admnpnl-input input {
    border-radius: 0px;
}

.admnpnl-button{
    padding: 10px 50px;
    border-radius: 0px;
    border :none;
}

/*
.admnpnl-gry-button, .admnpnl-gry-button:hover {
    background: #404040;
}

.admnpnl-red-button, .admnpnl-red-button:hover{
    background: #de333c;
}*/

.admnpnl-button-group {
    text-align: center;
    margin-top: 20px;
}

.admnpnl-button-group div {
    margin-bottom: 50px;
}

.admnpnl-search-box{
    font-size : 18px;
    display:flex;
    justify-content : flex-end;
    input[type="text"]{
        height : 31px;
    }

}

.menu-item-text {
    vertical-align: top;
    padding: 5px;
    display: inline-block;
}

.data-row-margin{
    margin-top: 50px;
}

.rupee-font{
    font-family: rupee;
}

.rupee-msg{
    position: absolute;
    font-weight: 600;
}
/*  END CSS admin panel form classes  */

/* BEGIN CSS for Responsive design */
@media only screen and (max-width: 768px){
  .main-sidebar{
    position: initial;
    width: auto;
    .admnpnl-menu{
      a{
        padding: 10px;
      }
    }
  }

  .admnpnl-form{
    .form-group{
      label{
        padding: 5px 0 0 15px;
      }
      input,.input-group, select{
        max-width: 360px;
      }
    }
  }
}
/* END CSS for Responsive design */

.pad0{
  padding: 0 !important;
}



/*OverRiding UI Grid CSS*/
.ui-grid {
  height: auto !important;
   .ui-grid-viewport {
     height: 100% !important;
     max-height: 350px !important;
   }
 }
 /*OverRiding UI Grid CSS*/

 .user-can-select{
  -webkit-user-select: initial !important;
  -moz-user-select: initial !important;
  -ms-user-select: initial !important;
      user-select: initial !important;
 }

 .send-msg-form{
   #time{
     width: 60px;
   }
   .ui-select-container input {
    width: 100% !important;
  }
 }

// Overriding ui select css
 .ui-select-container input{
   width: 100% !important;
 }
 // Overriding ui select css
 .active-row{
     background-color: #ddd;

 }

 .fa-pencil-square-o{
     font-size:25px !important;
 }

 .fantasy-form-container{
     border: 4px solid #aaa;
     margin: 0 auto;
     padding: 10px;
     overflow-x:hidden;
     p{
         padding-left:10px;
         font-weight:700;
     }
     .radio-input input, label{
         vertical-align: middle;
         margin : 0;
     }
     .form-group{
         padding:0 0 10px 0 !important;
     }

     .form-btn{
         margin:20px 0;
     }

 }
 .entry-amt{
         background: #dc242e;
         padding:6px;
         color:#fff;
     }
 .input-lable{
    padding: 0;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left:15px;
 }

 .prize-list-container{
     background : #fafafa;
 }

 .prize-table{
     ::-webkit-scrollbar {
         display: none;
     }
     table{
         display:block;
         height: 325px;
         position: relative;
         overflow-y: scroll;
         tbody, thead, tr{
             display:table;
             width:100%;
             table-layout:fixed;
         }
         thead{
             border: 1px solid black;
             background: #264462;
             color: white;
             margin-bottom: 6px;
/*             display:inline-block;
             width:100%;*/
         }
         tbody{
/*             display:inline-block;
             width:100%;*/
             height:280px;
             overflow-y : auto;
             input{
                 background-color: #fff;
                 border: 1px solid #e8e8e8!important;
                 border-radius: 4px;
                 box-sizing: border-box;
                 position: relative;
                 font-size: 12px;
                 float: left;
                 height: 34px;
                 line-height: 34px;
                 padding: 0 10px;
                 width: 100%;
                 z-index: 1;
             }
         }
         tr, td{
           text-align:center;
           padding-right:0 !important;
           input[type="checkbox"]{
               width:100%;
               height:20px;
           }
         }
     }
 }

 .field-status-container{
    border: 2px solid black;
    padding-top: 0px;

    .field-btn{
        border-bottom: 2px solid black;
        padding-bottom: 10px;
        background: #4fa9d4;
        padding-top: 10px !important;
    }

 }

 .amt-withdrawal{
     thead tr:nth-child(1){
         border-bottom: 4px solid #cec7c7;
         background-color: #cd5c5c;
     }
     th, td{
         text-align : center;
     }
     table,th{
             border:4px solid #cec7c7;
         }
         tbody td{
             border-right:4px solid #cec7c7
         }

 }

 .pagination-list{
     ul{
         text-align : right;
         display: inline-block;
         padding-left: 0;
         margin: 20px 0;
         border-radius: 4px;
         border:2px solid black;
     }
     li{
         width : 30px;
         text-align : center;
         padding : 4px;
         font-size : 15px;
         list-style : none;
         display : inline-block;
         border-left:1px solid black;
     }
 }

 .mute-box{
     font-size : 20px;
         text-align : right;
     i{
         font-size:30px;
     }
 }

 .popup-error-msg{
     height:20px;
     margin-top:3px;
 }

 .pagination-list{
     ul li{
         cursor:pointer;
     }
 }

 .simulator-data-div{
   padding: 20px;
   input{
     width: 320px;
   }
 }
 
 .user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

.menu-btn{
  background-color: #615a5a;
  padding:25px;  
    
  .menu-btn-inner{
      left:2%!important;
  }
}

.user-detail-heading{
   background-color: #dc242e !important;
   color : #fff !important;
}

.panel{
    margin-bottom : 60px !important            
}


