/* Default CSS */

body, ol, ul, li, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

@font-face {
    font-family: calibriLight;
    src: url('../assets/fonts/calibri.ttf') format('truetype');
}

@font-face {
    font-family: calibriBold;
    src: url('../assets/fonts/calibrib.ttf') format('truetype');
}

@font-face {
    font-family: PaddingtonSC;
    src: url('../assets/fonts/PaddingtonSC.ttf') format('truetype');
}

@font-face {
    font-family: rupee;
    src: url('../assets/fonts/Rupee_Foradian.ttf') format('truetype');
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}

html,body,div{
-webkit-touch-callout: none;
-webkit-user-select: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent;
}

.right-float{
	float: right;
}

.left-float{
	float: left;
}

button, span, input, a {
    outline: none;
}

.btn-submit{
    width:100px;
}

.padd-0{
    padding : 0 !important;
}

.padd-top-0{
    padding-top:0 !important;
}

.marg-0{
    margin:0 !important;
}

.marg-10{
    margin:10px !important;
}

.marg-top-10{
    margin-top:10px;
}

.marg-top-20{
    margin-top:20px;
}

.marg-bottom-10{
    margin-bottom:10px;
}

.marg-left-10{
    margin-left:10px;
}

.marg-right-10{
    margin-right:10px;
}

.padd-left-10{
    padding-left:10px;
}

.padd-right-10{
    padding-right:10px;
}

.txt-no-wrap{
    white-space: nowrap;
}

.txt-align-left{
    text-align:left;
}

.padd-10{
    padding : 10px;
}

.player-icon{
    background: url(../assets/images/player-icons.png) no-repeat;
    position: relative;
    z-index: 0;
    width: 27px;
    height: 27px;
    display: inline-block;
    background-size: 100%;
}

.vertical-center{
    display : flex;
    justify-content: center;
    align-items: center;
}

.allrounder{
        background-position: 0 0!important;
}
.batsman{
        background-position: 0 34%!important;
}

.bowler{
        background-position: 0 66%!important;
}

.keeper{
        background-position: 0 100%!important;
}

.error-msg{
    top : 30px !important;
    font-size: 13px;
    padding-left: 16px;
    padding-top: 4px;
}

.square-checkbox {
    width: 20px;
    position: relative;
    margin: 20px auto;
}

.checkbox-square{
    input[type=checkbox]{
        margin: 2px 0 0 16px !important;
        line-height: normal;  
        width: 19px;
        height: 19px;
    }
    
}

.bg-voilet{
    background: #b7b7e4;
}

.bg-red{
   background-color: #dc242e !important; 
}

.font-25{
    font-size: 25px !important;
}

.font-11{
    font-size: 11px !important;
}

.color-red{
    color : #dc242e !important;
}

.color-green{
    color : #1f861f !important;
}

.table-min-height{
    min-height : 220px;
}
    