/**** Bootstrap CSS override ***/
$BG_COLOR: #E1E0E5;
$FOOTER_COLOR: #323232;
$DARK_BROWN_COLOR: #313131;
$HEADER_LOGO: url("../assets/images/logo.png") center no-repeat;
$tabGradient: linear-gradient(to bottom, rgba(174, 174, 174, 1), rgba(174, 174, 174, 1) 46%, rgba(159, 159, 159, 1) 56%, rgba(159, 159, 159, 1) );
$tabRedGradient: linear-gradient(to bottom, rgba(200, 70, 70, 1), rgba(200, 70, 70, 1) 46%, rgba(190, 34, 34, 1) 56%, rgba(190, 34, 34, 1) )!important;

.navbar-inverse{
    background-color: $NAVBAR_BG_COLOR;
    border-color: #fff;
    max-height: 52px;
}

/*** Bootstrap css override end ***/

.logo{
    background: $HEADER_LOGO;
    width: 135px;
    height: 50px;
    background-size: contain;
}

/*.login-screen {
    text-align: center;
}*/

.footer-txt{
    color: #fff;
    padding: 11px;
}

.fontcolor-white{
    color: #fff;
}

.font-normal{
    font-family: calibriLight;
    font-weight: 100;
}

.fontcolor-red{
    color: #C0392B;
}

.auto-margin{
    margin: auto;
}

.login-box{
    background-color: $DARK_BROWN_COLOR;
    border-radius: 8px;
    height: auto;
    margin-top: 120px;
    width: 460px;
    box-shadow: 4px 4px 3px #888888;
    padding: 0;
}

.login-container{
    position: relative;
    padding: 40px 60px 20px;
    .form-group{
        label{
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.6px;
        }
        input{
            border-radius: 2px !important;
        }
    }
}

.login-header{
    font-family: calibriBold;
    font-size: 22px;
    background-color: #222;
    padding: 2px 0px;
    text-align: center;
    display: block;
    border-radius: 8px 8px 0 0;
    -webkit-box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.2)
}

.heading-field{
    font-family: calibriLight;
    font-size: 16px;
    display: block;
    padding-left: 9px;
}

.error{
    color: #C0392B;
    font-weight: 600;
}

.field-error{
    position: absolute;
    color: #C0392B;
    font-weight: 600;
    font-size: 13px;
    white-space: nowrap;
}

.error-msg{
    top: 10px;
    left: 0;
    right: 0;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.2px;
}

.red-btn-gradient {
    background: $tabRedGradient;
    color: #ffffff;
    padding: 5% 0;
    text-shadow: 1px 1px #000000;
    border-radius: 4px;
    width: 65%;
}

.red-btn-gradient:hover{
    background: $tabGradient;
}

.chkbox{
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-right: 10px !important;
}


