/* Default CSS */
/* line 3, ../../app/styles/default.scss */
body, ol, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

/* line 8, ../../app/styles/default.scss */
ul, ol, li {
  list-style: none;
}

/* line 12, ../../app/styles/default.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@font-face {
  font-family: calibriLight;
  src: url("../assets/fonts/calibri.ttf") format("truetype");
}
@font-face {
  font-family: calibriBold;
  src: url("../assets/fonts/calibrib.ttf") format("truetype");
}
@font-face {
  font-family: PaddingtonSC;
  src: url("../assets/fonts/PaddingtonSC.ttf") format("truetype");
}
@font-face {
  font-family: rupee;
  src: url("../assets/fonts/Rupee_Foradian.ttf") format("truetype");
}
/* line 41, ../../app/styles/default.scss */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

/* line 49, ../../app/styles/default.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 55, ../../app/styles/default.scss */
html, body, div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

/* line 62, ../../app/styles/default.scss */
.right-float {
  float: right;
}

/* line 66, ../../app/styles/default.scss */
.left-float {
  float: left;
}

/* line 70, ../../app/styles/default.scss */
button, span, input, a {
  outline: none;
}

/* line 74, ../../app/styles/default.scss */
.btn-submit {
  width: 100px;
}

/* line 78, ../../app/styles/default.scss */
.padd-0 {
  padding: 0 !important;
}

/* line 82, ../../app/styles/default.scss */
.padd-top-0 {
  padding-top: 0 !important;
}

/* line 86, ../../app/styles/default.scss */
.marg-0 {
  margin: 0 !important;
}

/* line 90, ../../app/styles/default.scss */
.marg-10 {
  margin: 10px !important;
}

/* line 94, ../../app/styles/default.scss */
.marg-top-10 {
  margin-top: 10px;
}

/* line 98, ../../app/styles/default.scss */
.marg-top-20 {
  margin-top: 20px;
}

/* line 102, ../../app/styles/default.scss */
.marg-bottom-10 {
  margin-bottom: 10px;
}

/* line 106, ../../app/styles/default.scss */
.marg-left-10 {
  margin-left: 10px;
}

/* line 110, ../../app/styles/default.scss */
.marg-right-10 {
  margin-right: 10px;
}

/* line 114, ../../app/styles/default.scss */
.padd-left-10 {
  padding-left: 10px;
}

/* line 118, ../../app/styles/default.scss */
.padd-right-10 {
  padding-right: 10px;
}

/* line 122, ../../app/styles/default.scss */
.txt-no-wrap {
  white-space: nowrap;
}

/* line 126, ../../app/styles/default.scss */
.txt-align-left {
  text-align: left;
}

/* line 130, ../../app/styles/default.scss */
.padd-10 {
  padding: 10px;
}

/* line 134, ../../app/styles/default.scss */
.player-icon {
  background: url(../assets/images/player-icons.png) no-repeat;
  position: relative;
  z-index: 0;
  width: 27px;
  height: 27px;
  display: inline-block;
  background-size: 100%;
}

/* line 144, ../../app/styles/default.scss */
.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 150, ../../app/styles/default.scss */
.allrounder {
  background-position: 0 0 !important;
}

/* line 153, ../../app/styles/default.scss */
.batsman {
  background-position: 0 34% !important;
}

/* line 157, ../../app/styles/default.scss */
.bowler {
  background-position: 0 66% !important;
}

/* line 161, ../../app/styles/default.scss */
.keeper {
  background-position: 0 100% !important;
}

/* line 165, ../../app/styles/default.scss */
.error-msg {
  top: 30px !important;
  font-size: 13px;
  padding-left: 16px;
  padding-top: 4px;
}

/* line 172, ../../app/styles/default.scss */
.square-checkbox {
  width: 20px;
  position: relative;
  margin: 20px auto;
}

/* line 179, ../../app/styles/default.scss */
.checkbox-square input[type=checkbox] {
  margin: 2px 0 0 16px !important;
  line-height: normal;
  width: 19px;
  height: 19px;
}

/* line 188, ../../app/styles/default.scss */
.bg-voilet {
  background: #b7b7e4;
}

/* line 192, ../../app/styles/default.scss */
.bg-red {
  background-color: #dc242e !important;
}

/* line 196, ../../app/styles/default.scss */
.font-25 {
  font-size: 25px !important;
}

/* line 200, ../../app/styles/default.scss */
.font-11 {
  font-size: 11px !important;
}

/* line 204, ../../app/styles/default.scss */
.color-red {
  color: #dc242e !important;
}

/* line 208, ../../app/styles/default.scss */
.color-green {
  color: #1f861f !important;
}

/* line 212, ../../app/styles/default.scss */
.table-min-height {
  min-height: 220px;
}

/*  THEME Based variables for Admin panel   */
/*  THEME Based variables for Admin panel   */
/* line 16, ../../app/styles/common.scss */
body {
  overflow-y: scroll !important;
}

/*Mixin to create gradient background for buttons*/
/* BEGIN CSS Styles for Admin panel buttons  */
/* line 38, ../../app/styles/common.scss */
.admnpnl-btn {
  width: 125px;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
  margin: 10px 6px 10px 0;
  /*  use Mixin 'btn-color-gradient(top-color, bottom-color, border-color)' for gradient background effect in buttons  */
  /*Button color classes*/
  /*button sizes*/
}
/* line 50, ../../app/styles/common.scss */
.admnpnl-btn.btn-red {
  background: #c33132;
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #c33132, #c33132 45%, #be2222 55%, #be2222);
  /* Standard syntax */
  border: 1px solid #A94442;
}
/* line 29, ../../app/styles/common.scss */
.admnpnl-btn.btn-red:hover {
  opacity: 0.9;
}
/* line 32, ../../app/styles/common.scss */
.admnpnl-btn.btn-red:active {
  background: #be2222;
}
/* line 53, ../../app/styles/common.scss */
.admnpnl-btn.btn-grey {
  background: #484848;
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #484848, #484848 45%, #404040 55%, #404040);
  /* Standard syntax */
  border: 1px solid #bbb;
}
/* line 29, ../../app/styles/common.scss */
.admnpnl-btn.btn-grey:hover {
  opacity: 0.9;
}
/* line 32, ../../app/styles/common.scss */
.admnpnl-btn.btn-grey:active {
  background: #404040;
}
/* line 56, ../../app/styles/common.scss */
.admnpnl-btn.btn-blue {
  background: #337ab7;
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #337ab7, #337ab7 45%, #2B6698 55%, #2B6698);
  /* Standard syntax */
  border: 1px solid #2e6da4;
}
/* line 29, ../../app/styles/common.scss */
.admnpnl-btn.btn-blue:hover {
  opacity: 0.9;
}
/* line 32, ../../app/styles/common.scss */
.admnpnl-btn.btn-blue:active {
  background: #2B6698;
}
/* line 60, ../../app/styles/common.scss */
.admnpnl-btn.btn-md {
  width: 100px;
  padding: 4px;
}
/* line 64, ../../app/styles/common.scss */
.admnpnl-btn.resend-btn {
  width: 80px;
  font-size: 14px;
  padding: 2px;
  margin: 0;
}
/* line 70, ../../app/styles/common.scss */
.admnpnl-btn.send-message {
  width: auto;
  padding: 4px 10px;
  margin: 10px 0 !important;
}

/* END CSS Styles for Admin panel buttons  */
/* BEGIN CSS Styles for Admin panel forms  */
/* line 79, ../../app/styles/common.scss */
.admnpnl-form {
  font-family: 'Open Sans', sans-serif;
  background: #f2f2f2;
  margin-top: 15px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 10px 1px #ccc;
}
/* line 86, ../../app/styles/common.scss */
.admnpnl-form .form-container {
  padding: 20px;
  background-color: #f2f2f2;
}
/* line 91, ../../app/styles/common.scss */
.admnpnl-form .form-group {
  margin-bottom: 25px;
}
/* line 95, ../../app/styles/common.scss */
.admnpnl-form label {
  font-size: 15px;
  color: #333;
  padding: 5px 0 0 50px;
  font-weight: 600;
}
/* line 101, ../../app/styles/common.scss */
.admnpnl-form label sup {
  color: #C0392B;
}
/* line 106, ../../app/styles/common.scss */
.admnpnl-form input {
  border-radius: 2px !important;
}
/* line 111, ../../app/styles/common.scss */
.admnpnl-form .form-btn-group button {
  margin: 10px 15px;
}
/* line 116, ../../app/styles/common.scss */
.admnpnl-form .date-group {
  margin-bottom: 5px;
}
/* line 118, ../../app/styles/common.scss */
.admnpnl-form .date-group label {
  float: left;
  margin-right: 15px;
  padding-left: 36px !important;
}
/* line 123, ../../app/styles/common.scss */
.admnpnl-form .date-group a.dropdown-toggle {
  float: left;
  width: 220px;
}

/* line 130, ../../app/styles/common.scss */
label sup {
  color: #C0392B;
}

/* END CSS Styles for Admin panel forms  */
/* line 136, ../../app/styles/common.scss */
.report-wrapper {
  background: #f2f2f2;
  margin: 15px 0 65px;
  padding: 10px 0;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 10px 1px #ccc;
}

/* line 144, ../../app/styles/common.scss */
.main-sidebar {
  position: fixed;
  background: #383838;
  width: 25%;
  margin-top: 50px;
  overflow: auto;
  top: 0;
  bottom: 0;
}

/*  BEGIN CSS for admin actions dropdown  */
/* line 156, ../../app/styles/common.scss */
.admin-actions {
  height: 51px;
  float: right;
  margin-right: -15px;
  cursor: pointer;
}
/* line 162, ../../app/styles/common.scss */
.admin-actions.open .user-profile {
  background: #555;
}
/* line 166, ../../app/styles/common.scss */
.admin-actions .user-profile {
  background: #323232;
  text-align: center;
}
/* line 169, ../../app/styles/common.scss */
.admin-actions .user-profile:hover {
  background: #555;
}
/* line 172, ../../app/styles/common.scss */
.admin-actions .user-profile .profile-pic {
  height: 38px;
  width: 38px;
  display: inline-block;
  background: #bbb;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  margin: 7px 0 0 10px;
  float: left;
}
/* line 183, ../../app/styles/common.scss */
.admin-actions .dropdown-menu {
  right: 0;
  left: initial;
  border-radius: 0;
  margin: 0;
  padding: 0;
}
/* line 190, ../../app/styles/common.scss */
.admin-actions .dropdown-menu li a {
  position: relative;
  background: #323232;
  padding: 15px;
  padding-left: 50px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid #f2f2f2;
}
/* line 198, ../../app/styles/common.scss */
.admin-actions .dropdown-menu li a:hover {
  background: #dc242e;
}
/* line 201, ../../app/styles/common.scss */
.admin-actions .dropdown-menu li a span {
  position: absolute;
  left: 15px;
  top: 12px;
  height: 25px;
  width: 29px;
  background-size: contain;
  background-position: 4px 0;
}

/*  END CSS for admin actions dropdown   */
/*  BEGIN CSS for sliding sidebar Menu  */
/* line 217, ../../app/styles/common.scss */
.sidemenu-toggle {
  height: 53px;
  width: 50px;
  position: absolute;
  right: -50px;
  top: 0;
  z-index: 1;
  cursor: pointer;
  background: url("../assets/images/menu-toggle.png") no-repeat #d9d9d9;
  background-position: 10px 15px;
  background-size: 55%;
}

/* line 230, ../../app/styles/common.scss */
.no-transition {
  transition: 0s all !important;
}

/* line 234, ../../app/styles/common.scss */
.view-wrapper {
  padding: 0 15px;
  background-color: #e1e0e5;
}

/* line 240, ../../app/styles/common.scss */
body:not(.menu-slide) .view-wrapper {
  float: left;
  width: 75%;
}

/* line 248, ../../app/styles/common.scss */
body.menu-slide .page-wrapper .main-content {
  margin-left: 0;
  transition: margin 0.8s ease;
}
/* line 252, ../../app/styles/common.scss */
body.menu-slide .page-wrapper .sidemenu {
  margin-left: -25%;
  transition: margin 0.8s ease;
}
/* line 257, ../../app/styles/common.scss */
body.menu-slide .page-wrapper.menu-open .main-content {
  margin-left: 25%;
  transition: margin 0.8s ease;
}
/* line 261, ../../app/styles/common.scss */
body.menu-slide .page-wrapper.menu-open .sidemenu {
  margin-left: 0;
  transition: margin 0.8s ease;
}

/*  ENd CSS for sliding sidebar Menu  */
/* line 270, ../../app/styles/common.scss */
.main-content.ng-leave,
.main-content.ng-leave-active {
  display: none;
}

/*.main-content.ng-enter,
.main-content.ng-enter-active{
  transition: margin 0.8s ease;
}*/
/* BEGIN CSS Styles for HTML Editor */
/* line 281, ../../app/styles/common.scss */
.editor-wrapper {
  margin-top: 10px;
  min-height: 520px;
}

/* line 286, ../../app/styles/common.scss */
.sub-header-button {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
/* line 291, ../../app/styles/common.scss */
.sub-header-button button {
  background: #dc242e;
  color: #fff;
  border: 0;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #bbb;
  font-size: 16px;
  padding: 4px 10px;
}
/* line 299, ../../app/styles/common.scss */
.sub-header-button button:hover, .sub-header-button button:active {
  background: #ca2a32;
}

/* END CSS Styles for HTML Editor */
/* BEGIN Overriding ngDialog CSS */
/* line 307, ../../app/styles/common.scss */
.ngdialog.ngdialog-theme-default {
  padding-top: 20px !important;
}

/* line 311, ../../app/styles/common.scss */
.ngdialog.ngdialog-theme-default .ngdialog-content {
  width: 80% !important;
}

/* END Overriding ngDialog CSS */
/* line 316, ../../app/styles/common.scss */
.modal-body-editor iframe {
  min-height: 420px;
}

/* line 321, ../../app/styles/common.scss */
.tally-radio-btns label {
  vertical-align: top;
}

/*  BEGIN CSS Styles for Admin Panel Main Menu  */
/* line 329, ../../app/styles/common.scss */
.admnpnl-main-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 334, ../../app/styles/common.scss */
.admnpnl-main-menu li {
  float: left;
}
/* line 336, ../../app/styles/common.scss */
.admnpnl-main-menu li a {
  color: #fff;
  background: #323232;
  font-size: 14px;
  display: block;
  padding: 12px 20px;
  height: 51px;
  line-height: 2;
}
/* line 344, ../../app/styles/common.scss */
.admnpnl-main-menu li a:hover {
  background: #dc242e;
  text-decoration: none;
}
/* line 349, ../../app/styles/common.scss */
.admnpnl-main-menu li.has-children {
  position: relative;
}
/* line 351, ../../app/styles/common.scss */
.admnpnl-main-menu li.has-children ul {
  width: 240px;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}
/* line 359, ../../app/styles/common.scss */
.admnpnl-main-menu li.has-children:hover ul {
  display: block;
}
/* line 363, ../../app/styles/common.scss */
.admnpnl-main-menu li.has-children li {
  border-right: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
}
/* line 366, ../../app/styles/common.scss */
.admnpnl-main-menu li.has-children li a {
  padding: 4px 0;
  width: 72px;
  text-align: center;
}
/* line 370, ../../app/styles/common.scss */
.admnpnl-main-menu li.has-children li a .menu-icon {
  height: 24px;
  width: 24px;
  background-size: contain;
  margin: 0 auto;
}
/* line 376, ../../app/styles/common.scss */
.admnpnl-main-menu li.has-children li a .menu-text {
  color: #fff;
  font-size: 12px;
  line-height: 1;
  margin-top: 3px;
}

/*  END CSS Styles for Admin Panel Main Menu  */
/* line 389, ../../app/styles/common.scss */
footer {
  height: 50px;
  background-color: #323232;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2;
}

/*.login-screen {
    text-align: center;
}*/
/*  BEGIN CSS Styles for admin panel sidebar menu   */
/* line 405, ../../app/styles/common.scss */
.admnpnl-menu {
  padding-bottom: 60px;
}

/* line 408, ../../app/styles/common.scss */
.admnpnl-menu a {
  padding: 3% 6%;
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

/* line 415, ../../app/styles/common.scss */
.admnpnl-menu a:hover {
  background-color: #dc242e;
}

/* line 419, ../../app/styles/common.scss */
.admnpnl-menu li {
  border-bottom: 1px solid #D9D9D9;
}

/*  END CSS Styles for admin panel sidebar menu   */
/*  BEGIN CSS admin panel form classes  */
/* line 425, ../../app/styles/common.scss */
.admnpnl-heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 600;
  padding: 11px 0 11px 50px;
  background: #d9d9d9;
  color: #333;
}

/* line 434, ../../app/styles/common.scss */
.admnpnl-input-labels {
  font-size: 16px;
  letter-spacing: 0.5px;
  padding: 10px 0px;
}

/* line 440, ../../app/styles/common.scss */
.admpnl-input-group {
  margin-top: 15px;
}

/* line 444, ../../app/styles/common.scss */
.admnpnl-input {
  padding: 10px 0px;
}

/* line 448, ../../app/styles/common.scss */
.admnpnl-input input {
  border-radius: 0px;
}

/* line 452, ../../app/styles/common.scss */
.admnpnl-button {
  padding: 10px 50px;
  border-radius: 0px;
  border: none;
}

/*
.admnpnl-gry-button, .admnpnl-gry-button:hover {
    background: #404040;
}

.admnpnl-red-button, .admnpnl-red-button:hover{
    background: #de333c;
}*/
/* line 467, ../../app/styles/common.scss */
.admnpnl-button-group {
  text-align: center;
  margin-top: 20px;
}

/* line 472, ../../app/styles/common.scss */
.admnpnl-button-group div {
  margin-bottom: 50px;
}

/* line 476, ../../app/styles/common.scss */
.admnpnl-search-box {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
}
/* line 480, ../../app/styles/common.scss */
.admnpnl-search-box input[type="text"] {
  height: 31px;
}

/* line 486, ../../app/styles/common.scss */
.menu-item-text {
  vertical-align: top;
  padding: 5px;
  display: inline-block;
  font-size: 12px;
}

/* line 492, ../../app/styles/common.scss */
.data-row-margin {
  margin-top: 50px;
}

/* line 496, ../../app/styles/common.scss */
.rupee-font {
  font-family: rupee;
}

/* line 500, ../../app/styles/common.scss */
.rupee-msg {
  position: absolute;
  font-weight: 600;
}

/*  END CSS admin panel form classes  */
/* BEGIN CSS for Responsive design */
@media only screen and (max-width: 768px) {
  /* line 508, ../../app/styles/common.scss */
  .main-sidebar {
    position: initial;
    width: auto;
  }
  /* line 512, ../../app/styles/common.scss */
  .main-sidebar .admnpnl-menu a {
    padding: 10px;
  }

  /* line 520, ../../app/styles/common.scss */
  .admnpnl-form .form-group label {
    padding: 5px 0 0 15px;
  }
  /* line 523, ../../app/styles/common.scss */
  .admnpnl-form .form-group input, .admnpnl-form .form-group .input-group, .admnpnl-form .form-group select {
    max-width: 360px;
  }
}
/* END CSS for Responsive design */
/* line 531, ../../app/styles/common.scss */
.pad0 {
  padding: 0 !important;
}

/*OverRiding UI Grid CSS*/
/* line 538, ../../app/styles/common.scss */
.ui-grid {
  height: auto !important;
}
/* line 540, ../../app/styles/common.scss */
.ui-grid .ui-grid-viewport {
  height: 100% !important;
  max-height: 350px !important;
}

/*OverRiding UI Grid CSS*/
/* line 547, ../../app/styles/common.scss */
.user-can-select {
  -webkit-user-select: initial !important;
  -moz-user-select: initial !important;
  -ms-user-select: initial !important;
  user-select: initial !important;
}

/* line 555, ../../app/styles/common.scss */
.send-msg-form #time {
  width: 60px;
}
/* line 558, ../../app/styles/common.scss */
.send-msg-form .ui-select-container input {
  width: 100% !important;
}

/* line 564, ../../app/styles/common.scss */
.ui-select-container input {
  width: 100% !important;
}

/* line 568, ../../app/styles/common.scss */
.active-row {
  background-color: #ddd;
}

/* line 573, ../../app/styles/common.scss */
.fa-pencil-square-o {
  font-size: 25px !important;
}

/* line 577, ../../app/styles/common.scss */
.fantasy-form-container {
  border: 4px solid #aaa;
  margin: 0 auto;
  padding: 10px;
  overflow-x: hidden;
}
/* line 582, ../../app/styles/common.scss */
.fantasy-form-container p {
  padding-left: 10px;
  font-weight: 700;
}
/* line 586, ../../app/styles/common.scss */
.fantasy-form-container .radio-input input, .fantasy-form-container label {
  vertical-align: middle;
  margin: 0;
}
/* line 590, ../../app/styles/common.scss */
.fantasy-form-container .form-group {
  padding: 0 0 10px 0 !important;
}
/* line 594, ../../app/styles/common.scss */
.fantasy-form-container .form-btn {
  margin: 20px 0;
}

/* line 599, ../../app/styles/common.scss */
.entry-amt {
  background: #dc242e;
  padding: 6px;
  color: #fff;
}

/* line 604, ../../app/styles/common.scss */
.input-lable {
  padding: 0;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

/* line 612, ../../app/styles/common.scss */
.prize-list-container {
  background: #fafafa;
}

/* line 617, ../../app/styles/common.scss */
.prize-table ::-webkit-scrollbar {
  display: none;
}
/* line 620, ../../app/styles/common.scss */
.prize-table table {
  display: block;
  height: 325px;
  position: relative;
  overflow-y: scroll;
}
/* line 625, ../../app/styles/common.scss */
.prize-table table tbody, .prize-table table thead, .prize-table table tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
/* line 630, ../../app/styles/common.scss */
.prize-table table thead {
  border: 1px solid black;
  background: #264462;
  color: white;
  margin-bottom: 6px;
  /*             display:inline-block;
               width:100%;*/
}
/* line 638, ../../app/styles/common.scss */
.prize-table table tbody {
  /*             display:inline-block;
               width:100%;*/
  height: 280px;
  overflow-y: auto;
}
/* line 643, ../../app/styles/common.scss */
.prize-table table tbody input {
  background-color: #fff;
  border: 1px solid #e8e8e8 !important;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  font-size: 12px;
  float: left;
  height: 34px;
  line-height: 34px;
  padding: 0 10px;
  width: 100%;
  z-index: 1;
}
/* line 658, ../../app/styles/common.scss */
.prize-table table tr, .prize-table table td {
  text-align: center;
  padding-right: 0 !important;
}
/* line 661, ../../app/styles/common.scss */
.prize-table table tr input[type="checkbox"], .prize-table table td input[type="checkbox"] {
  width: 100%;
  height: 20px;
}

/* line 669, ../../app/styles/common.scss */
.field-status-container {
  border: 2px solid black;
  padding-top: 0px;
}
/* line 673, ../../app/styles/common.scss */
.field-status-container .field-btn {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  background: #4fa9d4;
  padding-top: 10px !important;
}

/* line 683, ../../app/styles/common.scss */
.amt-withdrawal thead tr:nth-child(1) {
  border-bottom: 4px solid #cec7c7;
  background-color: #cd5c5c;
}
/* line 687, ../../app/styles/common.scss */
.amt-withdrawal th, .amt-withdrawal td {
  text-align: center;
}
/* line 690, ../../app/styles/common.scss */
.amt-withdrawal table, .amt-withdrawal th {
  border: 4px solid #cec7c7;
}
/* line 693, ../../app/styles/common.scss */
.amt-withdrawal tbody td {
  border-right: 4px solid #cec7c7;
}

/* line 700, ../../app/styles/common.scss */
.pagination-list ul {
  text-align: right;
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  border: 2px solid black;
}
/* line 708, ../../app/styles/common.scss */
.pagination-list li {
  width: 30px;
  text-align: center;
  padding: 4px;
  font-size: 15px;
  list-style: none;
  display: inline-block;
  border-left: 1px solid black;
}

/* line 719, ../../app/styles/common.scss */
.mute-box {
  font-size: 20px;
  text-align: right;
}
/* line 722, ../../app/styles/common.scss */
.mute-box i {
  font-size: 30px;
}

/* line 727, ../../app/styles/common.scss */
.popup-error-msg {
  height: 20px;
  margin-top: 3px;
}

/* line 733, ../../app/styles/common.scss */
.pagination-list ul li {
  cursor: pointer;
}

/* line 738, ../../app/styles/common.scss */
.simulator-data-div {
  padding: 20px;
}
/* line 740, ../../app/styles/common.scss */
.simulator-data-div input {
  width: 320px;
}

/* line 745, ../../app/styles/common.scss */
.user-row {
  margin-bottom: 14px;
}

/* line 749, ../../app/styles/common.scss */
.user-row:last-child {
  margin-bottom: 0;
}

/* line 753, ../../app/styles/common.scss */
.dropdown-user {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
}

/* line 759, ../../app/styles/common.scss */
.dropdown-user:hover {
  cursor: pointer;
}

/* line 763, ../../app/styles/common.scss */
.table-user-information > tbody > tr {
  border-top: 1px solid #dddddd;
}

/* line 767, ../../app/styles/common.scss */
.table-user-information > tbody > tr:first-child {
  border-top: 0;
}

/* line 772, ../../app/styles/common.scss */
.table-user-information > tbody > tr > td {
  border-top: 0;
}

/* line 775, ../../app/styles/common.scss */
.toppad {
  margin-top: 20px;
}

/* line 779, ../../app/styles/common.scss */
.menu-btn {
  background-color: #615a5a;
  padding: 25px;
}
/* line 783, ../../app/styles/common.scss */
.menu-btn .menu-btn-inner {
  left: 2% !important;
}

/* line 788, ../../app/styles/common.scss */
.user-detail-heading {
  background-color: #dc242e !important;
  color: #fff !important;
}

/* line 793, ../../app/styles/common.scss */
.panel {
  margin-bottom: 60px !important;
}

/* line 2, ../../app/styles/classes.scss */
.signout-logo {
  background: url("../assets/images/signout.png") left center no-repeat;
  background-size: 24px;
  background-position: 10px;
}

/*
.red-btn{
    height:38px;
    width:133px;
    background-color: #dc242e;
    border-left: 14px solid #dc242e;
    border-top:none;
    border-bottom: none;
    border-right:none;
}*/
/* line 19, ../../app/styles/classes.scss */
.signout {
  margin-right: 30px;
  margin-top: 6px;
}

/* line 24, ../../app/styles/classes.scss */
button[disabled] {
  opacity: 0.5;
}

/* line 28, ../../app/styles/classes.scss */
.signout-btn {
  background-color: #dc242e;
  padding: 8px 20px 8px 40px;
  border-radius: 2px;
  border: none;
  color: #fff;
}
/* line 34, ../../app/styles/classes.scss */
.signout-btn:hover {
  opacity: 0.9;
}

/* line 39, ../../app/styles/classes.scss */
.admnpnl-input-labels-text {
  margin-left: 50px;
}

/* line 43, ../../app/styles/classes.scss */
.fliter-div-margin {
  margin: 15px 50px;
}

/* line 47, ../../app/styles/classes.scss */
.btn-margin {
  margin: auto;
  display: block;
  margin-top: 10px;
}

/* line 53, ../../app/styles/classes.scss */
.dsp-in-blk {
  display: inline-block !important;
}

/* line 57, ../../app/styles/classes.scss */
.display-center {
  display: flex;
  justify-content: center;
}

/* line 62, ../../app/styles/classes.scss */
.display-inline {
  display: inline-flex;
  align-items: center;
}

/* line 67, ../../app/styles/classes.scss */
.center-align {
  display: flex;
  align-items: center;
}

/* line 73, ../../app/styles/classes.scss */
.float-right {
  float: right;
}

/* line 77, ../../app/styles/classes.scss */
.alert-box {
  margin-top: 16px;
}

/* line 81, ../../app/styles/classes.scss */
.text-center {
  text-align: center;
}

/* line 85, ../../app/styles/classes.scss */
.label-calander-text {
  color: black;
  font-size: 16px;
  letter-spacing: 0.5px;
}

/* line 92, ../../app/styles/classes.scss */
.sidebar-icon {
  height: 25px;
  width: 29px;
  position: relative;
  top: 4px;
  display: inline-block;
}

/* line 100, ../../app/styles/classes.scss */
.sidebar-credit-to-user-icon {
  background: url("../assets/images/leftsidebar-sprit.png") 0 0 no-repeat;
}

/* line 104, ../../app/styles/classes.scss */
.sidebar-debit-from-user-icon {
  background: url("../assets/images/leftsidebar-sprit.png") -27px 0 no-repeat;
}

/* line 108, ../../app/styles/classes.scss */
.sidebar-reports-icon {
  background: url("../assets/images/leftsidebar-sprit.png") -58px 0 no-repeat;
}

/* line 113, ../../app/styles/classes.scss */
.sidebar-game-reports-icon {
  background: url("../assets/images/leftsidebar-sprit.png") -86px 0 no-repeat;
}

/* line 116, ../../app/styles/classes.scss */
.sidebar-game-revenue-icon {
  background: url("../assets/images/leftsidebar-sprit.png") -116px 0 no-repeat;
}

/* line 120, ../../app/styles/classes.scss */
.sidebar-reset-password-icon {
  background: url("../assets/images/leftsidebar-sprit.png") -144px 0 no-repeat;
}

/* line 124, ../../app/styles/classes.scss */
.sidebar-sfs-exceptions-icon {
  background: url("../assets/images/leftsidebar-sprit.png") -172px 0 no-repeat;
}

/* line 129, ../../app/styles/classes.scss */
.sidebar-account-telly-icon {
  background: url("../assets/images/leftsidebar-sprit.png") -200px 0 no-repeat;
}

/* line 133, ../../app/styles/classes.scss */
.sidebar-player-detail-icon {
  background: url("../assets/images/leftsidebar-sprit.png") -228px 0 no-repeat;
}

/* line 137, ../../app/styles/classes.scss */
.sidebar-account-cms-icon {
  background: url("../assets/images/leftsidebar-sprit.png") -260px 0 no-repeat;
}

/* line 141, ../../app/styles/classes.scss */
.sidebar-account-email-editor-icon {
  background: url("../assets/images/leftsidebar-sprit.png") -288px 0 no-repeat;
}

/* line 145, ../../app/styles/classes.scss */
.sidebar-admin-msg-icon {
  background: url("../assets/images/leftsidebar-sprit.png") -318px 0 no-repeat;
}

/* line 149, ../../app/styles/classes.scss */
.my-profile-icon {
  background: url("../assets/images/user-profile.png") no-repeat;
}

/* line 153, ../../app/styles/classes.scss */
.change-password-icon {
  background: url("../assets/images/change-password.png") no-repeat;
}

/* line 157, ../../app/styles/classes.scss */
.sign-out-icon {
  background: url("../assets/images/signout.png") no-repeat;
}

/* line 161, ../../app/styles/classes.scss */
.more-options-icon {
  background: url("../assets/images/more-options.png") no-repeat;
  height: 32px;
  width: 32px;
  background-size: contain;
}

/* line 168, ../../app/styles/classes.scss */
.header-user-name {
  margin: 14px 14px 14px 10px;
  color: #fff;
  font-size: 16px;
  float: left;
}

/* line 175, ../../app/styles/classes.scss */
.header-user-name .caret {
  border-top: 8px dashed #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  margin-top: -2px;
}

/* line 182, ../../app/styles/classes.scss */
.alert {
  position: relative;
}

/* line 186, ../../app/styles/classes.scss */
.alert-button {
  position: absolute !important;
  right: 12px !important;
  top: 4px !important;
}

/* line 192, ../../app/styles/classes.scss */
.selected {
  background-color: #dc242e;
}

/* line 196, ../../app/styles/classes.scss */
.input-group-date {
  display: inline-flex;
  align-items: center;
}

/* line 201, ../../app/styles/classes.scss */
.date-picker {
  margin-left: 14px;
}

/* line 205, ../../app/styles/classes.scss */
.vertical-center {
  display: flex;
  align-items: center;
}

/* line 211, ../../app/styles/classes.scss */
.btn-inline {
  margin: auto;
  display: block;
  margin-top: 0px;
}

/* line 217, ../../app/styles/classes.scss */
.btn-exception {
  margin: 0;
}

/* line 221, ../../app/styles/classes.scss */
.nav-menu-container {
  background-color: #333;
}

/* line 224, ../../app/styles/classes.scss */
.nav-menu-list {
  flex-wrap: wrap;
  color: #fff;
}

/* line 228, ../../app/styles/classes.scss */
.nav-menu-list li {
  padding: 12px 15px;
  cursor: pointer;
  border-right: 2px solid #ddd;
  float: left;
}

/* line 235, ../../app/styles/classes.scss */
.nav-menu-list li.selected {
  background-color: #dc242e;
}

/* line 239, ../../app/styles/classes.scss */
.nav-menu-list li a {
  color: white;
}

/* line 243, ../../app/styles/classes.scss */
table.admin-pnl-table {
  background-color: transparent;
  width: 420px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

/* line 250, ../../app/styles/classes.scss */
table.admin-pnl-table tr {
  border-bottom: 1px solid #ddd;
}

/* line 254, ../../app/styles/classes.scss */
table.admin-pnl-table tr th {
  background: #e5e5e5;
  width: 50%;
}

/* line 259, ../../app/styles/classes.scss */
.admnpnl-btn-lg {
  width: 225px;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
  margin: 10px 6px 10px 0;
  background: linear-gradient(to bottom, #c33132, #c33132 45%, #be2222 55%, #be2222);
  border: 1px solid #A94442;
}

/* line 274, ../../app/styles/classes.scss */
.upload-wrapper {
  position: relative;
  width: 100%;
  min-height: 250px;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

/* line 283, ../../app/styles/classes.scss */
.form-btn-bottom {
  position: relative;
  bottom: 0;
  width: 100%;
}

/* line 289, ../../app/styles/classes.scss */
.image-table-container {
  min-height: 178px;
}

/* line 293, ../../app/styles/classes.scss */
.loader-container {
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.57);
  position: fixed;
  left: 0;
  z-index: 999;
}

/* line 304, ../../app/styles/classes.scss */
.loader-image {
  z-index: 100000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
}

/* line 313, ../../app/styles/classes.scss */
.hide-loader {
  display: none;
}

/* line 317, ../../app/styles/classes.scss */
.padd-left-0 {
  padding-left: 0 !important;
}

/* line 321, ../../app/styles/classes.scss */
.show-loader {
  display: block;
}

/* line 325, ../../app/styles/classes.scss */
.label-txt {
  padding: 8px 0;
  font-size: 12px;
  white-space: nowrap;
}

/* line 332, ../../app/styles/classes.scss */
.game-score-table table tbody tr td input {
  width: 40px;
  padding: 0;
  text-align: center;
}

/**** Bootstrap CSS override ***/
/* line 9, ../../app/styles/login.scss */
.navbar-inverse {
  background-color: #323232;
  border-color: #fff;
  max-height: 52px;
}

/*** Bootstrap css override end ***/
/* line 17, ../../app/styles/login.scss */
.logo {
  background: url("../assets/images/logo.png") center no-repeat;
  width: 135px;
  height: 50px;
  background-size: contain;
}

/*.login-screen {
    text-align: center;
}*/
/* line 28, ../../app/styles/login.scss */
.footer-txt {
  color: #fff;
  padding: 11px;
}

/* line 33, ../../app/styles/login.scss */
.fontcolor-white {
  color: #fff;
}

/* line 37, ../../app/styles/login.scss */
.font-normal {
  font-family: calibriLight;
  font-weight: 100;
}

/* line 42, ../../app/styles/login.scss */
.fontcolor-red {
  color: #C0392B;
}

/* line 46, ../../app/styles/login.scss */
.auto-margin {
  margin: auto;
}

/* line 50, ../../app/styles/login.scss */
.login-box {
  background-color: #313131;
  border-radius: 8px;
  height: auto;
  margin-top: 120px;
  width: 460px;
  box-shadow: 4px 4px 3px #888888;
  padding: 0;
}

/* line 60, ../../app/styles/login.scss */
.login-container {
  position: relative;
  padding: 40px 60px 20px;
}
/* line 64, ../../app/styles/login.scss */
.login-container .form-group label {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.6px;
}
/* line 70, ../../app/styles/login.scss */
.login-container .form-group input {
  border-radius: 2px !important;
}

/* line 76, ../../app/styles/login.scss */
.login-header {
  font-family: calibriBold;
  font-size: 22px;
  background-color: #222;
  padding: 2px 0px;
  text-align: center;
  display: block;
  border-radius: 8px 8px 0 0;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.2);
}

/* line 89, ../../app/styles/login.scss */
.heading-field {
  font-family: calibriLight;
  font-size: 16px;
  display: block;
  padding-left: 9px;
}

/* line 96, ../../app/styles/login.scss */
.error {
  color: #C0392B;
  font-weight: 600;
}

/* line 101, ../../app/styles/login.scss */
.field-error {
  position: absolute;
  color: #C0392B;
  font-weight: 600;
  font-size: 13px;
  white-space: nowrap;
}

/* line 109, ../../app/styles/login.scss */
.error-msg {
  top: 10px;
  left: 0;
  right: 0;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.2px;
}

/* line 118, ../../app/styles/login.scss */
.red-btn-gradient {
  background: linear-gradient(to bottom, #c84646, #c84646 46%, #be2222 56%, #be2222) !important;
  color: #ffffff;
  padding: 5% 0;
  text-shadow: 1px 1px #000000;
  border-radius: 4px;
  width: 65%;
}

/* line 127, ../../app/styles/login.scss */
.red-btn-gradient:hover {
  background: linear-gradient(to bottom, #aeaeae, #aeaeae 46%, #9f9f9f 56%, #9f9f9f);
}

/* line 131, ../../app/styles/login.scss */
.chkbox {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  margin-right: 10px !important;
}

/* line 1, ../../app/styles/popup.scss */
.popup-md {
  position: absolute;
  width: 580px !important;
  transform: translate(90%, 32%);
  height: 400px;
  background: #f2f2f2;
  border: 7px solid #d9d9d9;
}

/* line 9, ../../app/styles/popup.scss */
.ngdialog {
  overflow: visible !important;
}

/* line 12, ../../app/styles/popup.scss */
.popup-container {
  position: absolute;
  padding: 0 10px 10px 10px;
  width: 100%;
  background: #f2f2f2;
  overflow: hidden;
}
/* line 18, ../../app/styles/popup.scss */
.popup-container .scroll-content {
  overflow-y: auto;
  height: 83%;
}
/* line 22, ../../app/styles/popup.scss */
.popup-container .popup-form {
  font-family: 'Open Sans', sans-serif;
  background: #f2f2f2;
}
/* line 26, ../../app/styles/popup.scss */
.popup-container .dialog-head {
  background: #333;
  color: #fff;
  margin-bottom: 15px;
}
/* line 30, ../../app/styles/popup.scss */
.popup-container .dialog-head h4 {
  text-align: center;
  padding: 10px;
}
/* line 35, ../../app/styles/popup.scss */
.popup-container .cross-btn {
  position: fixed;
  top: 4px;
  left: 93%;
  z-index: 9999999;
  padding: 0;
  background: #c74848;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  color: #fff;
}
/* line 48, ../../app/styles/popup.scss */
.popup-container td {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */