.popup-md{
    position:absolute;
    width: 580px !important;
    transform: translate(90%, 32%);
    height: 400px;
    background: #f2f2f2;
    border: 7px solid #d9d9d9;
}
.ngdialog{
    overflow: visible !important; 
}
.popup-container{
    position : absolute;
    padding:0 10px 10px 10px;   
    width:100%;
    background: #f2f2f2;
    overflow:hidden;
    .scroll-content{
        overflow-y: auto;
        height:83%;
    }
    .popup-form{
        font-family: 'Open Sans', sans-serif;
        background: #f2f2f2;  
    }
    .dialog-head{
        background: #333;
        color:#fff;
        margin-bottom:15px;
        h4{
            text-align:center;
            padding:10px;
        }
    }
    .cross-btn{
        position: fixed;
        top: 4px;
        left: 93%;
        z-index: 9999999;
        padding: 0;
        background: #c74848;
        width: 30px;
        height:30px;
        border-radius: 50%;
        border:none;
        color:#fff;
    }
    td{
        text-align: center;
    }
}