/*     BEGIN CSS for dynamic pages   */
/* line 148, _static-pages.scss */
.dynamic-page-container {
  background: #f7f7f7;
  margin: 3%;
  padding: 3%;
}
/* line 153, _static-pages.scss */
.dynamic-page-container h1, .dynamic-page-container h2, .dynamic-page-container h3, .dynamic-page-container h4, .dynamic-page-container h5, .dynamic-page-container h6 {
  margin: 5px 0 10px 0;
  font-weight: bold;
}
/* line 158, _static-pages.scss */
.dynamic-page-container h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
}
/* line 164, _static-pages.scss */
.dynamic-page-container h2 {
  font-size: 1.5rem;
}
/* line 168, _static-pages.scss */
.dynamic-page-container h3 {
  font-size: 1.375rem;
  text-decoration: underline;
}
/* line 173, _static-pages.scss */
.dynamic-page-container h4 {
  font-size: 1.2rem;
  text-decoration: underline;
}
/* line 179, _static-pages.scss */
.dynamic-page-container p {
  font-size: 1.4rem;
  line-height: normal;
  margin: 10px 0;
}
/* line 184, _static-pages.scss */
.dynamic-page-container p.small {
  font-size: 1.2rem;
}
/* line 187, _static-pages.scss */
.dynamic-page-container p img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
/* line 194, _static-pages.scss */
.dynamic-page-container ul, .dynamic-page-container ol {
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
}
/* line 197, _static-pages.scss */
.dynamic-page-container ul li, .dynamic-page-container ol li {
  list-style-type: disc;
  padding: 4px;
}
/* line 204, _static-pages.scss */
.dynamic-page-container ol > li {
  list-style-type: decimal !important;
}
/* line 208, _static-pages.scss */
.dynamic-page-container ol {
  counter-reset: item;
}
/* line 211, _static-pages.scss */
.dynamic-page-container ol > li {
  display: block;
  position: relative;
}
/* line 215, _static-pages.scss */
.dynamic-page-container ol > li:before {
  content: counters(item,".") ".";
  counter-increment: item;
  position: absolute;
  margin-right: 100%;
  right: 10px;
  /* space between number and text */
}
/* line 223, _static-pages.scss */
.dynamic-page-container table {
  border-collapse: collapse;
  background: #fff;
}
/* line 229, _static-pages.scss */
.dynamic-page-container table td {
  padding: 4px;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #aaa;
}

/*     BEGIN CSS for dynamic pages   */
