<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12">
            <div class ="admnpnl-heading">Scheduled League</div>          
        </div>
    </div>
    
    <div class="row display-center" ng-show="createLeague.defaultMsg.showAlert">
        <div class="col-md-8 alert-box  alert  alert-dismissible  display-center" ng-class="createLeague.defaultMsg.messageClass" role="alert" aa>
            <button type="button" class="close alert-button" data-hide="alert" aria-label="Close" ng-click="createLeague.onCloseAlert()"><span aria-hidden="true">&times;</span></button>
            <strong>&nbsp; &nbsp;</strong>{{createLeague.defaultMsg.message}}
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <form role="form"  class="admnpnl-form">
                <div class="form-container">
                    <div class="col-md-12">
                        <div class="form-group clearfix col-md-6">
                            <label for="username" class="col-md-4 padd-left-0">Select Tour<sup>*</sup></label>
                            <div class="col-md-8"> 
                                
                                 <select class="form-control"  ng-model="createLeague.tourId" placeholder="Select Match" 
                                         ng-change="createLeague.getMatchList(createLeague.tourData)">
                                    <option value="" selected>--Select Tour--</option>
                                    <option ng-repeat = "item in createLeague.tourList" value="{{item.tourId}}">
                                        {{item.tourName}}
                                    </option>
                                </select>
                                
                            </div>                        
                        </div> 

                        <div class="form-group clearfix col-md-6">
                            <label for="username" class="col-md-4 padd-left-0">Select Match list<sup>*</sup></label>
                            <div class="col-md-8">
                                <select class="form-control"  ng-model="createLeague.result.matchData" placeholder="Select Match" 
                                        ng-change="createLeague.getMatchTemplateList(createLeague.result.matchData)">
                                    <option value="" selected>--Select Match--</option>
                                    <option ng-repeat = "row in createLeague.result.matchList" value={{row}}>
                                        {{row.name + ' '}} {{'(' + row.relatedName + ')'}}
                                    </option>
                                </select>                          
                            </div>                        
                        </div> 
                        
                    </div>
                    
                    <div class="form-group clearfix">
                        <div class="col-md-12 form-group clearfix display-center">
<!--                            <div class=" form-btn-group">                                
                                <button type="submit" ng-click="createLeague.onSubmitFormData()" class="admnpnl-btn btn-red btn-md" >Submit</button>  
                            </div>-->
                        </div>                  
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
    <div class="row report-wrapper" ng-if="createLeague.result.templateList.length > 0">
        <div class="col-md-12">
            <span>Start Time : <b>{{createLeague.result.startTime}}</b></span><br>
            <span>Match : <b>{{createLeague.result.teamA}} vs {{createLeague.result.teamB}}</b></span>
        </div>
        <div class="col-md-12">
            <div class="table-responsive col-sm-12">
                <table class="table">
                    <thead>
                        <tr class="table-header">
                            <th>S.No.</th>
                            <th>Template Name</th>
                            <th>Start Time(in minutes)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="{{1}}" ng-repeat="item in createLeague.result.templateList">
                            <td>{{$index+1}}</td>
                            <td>{{item.templateName}}</td>
                            <td><input type='text' ng-model='item["time"]' ng-value="{{val}}" ng-only-number="" data-max-decimal-points="2" data-max-length="4" min="0"></td>
                            <td><button type="button" class="btn btn-large btn-primary ">
                                    <span ng-click="createLeague.onCreateLeague(item)"> Submit </span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="no-templates" ng-if="createLeague.createLeagueTemplatesArray.length == 0">
                <h4 class="text-center">
                    <p>There are no createLeague templates.</p><br/>
                    <p>Click Add Email Template to add create new templates.</p>
                </h4>
            </div>
        </div>
        
    </div>
</div>
