<div class="view-wrapper">
    <div class ="row">    
        <div class="col-sm-12">
            <div class ="admnpnl-heading">Create League Template</div>               
        </div>
    </div>
</div>
<div class="row display-center" ng-show="leagueTemplate.showAlert">
    <div class="col-md-8 alert-box  alert  alert-dismissible  display-center" ng-class="leagueTemplate.messageClass" role="alert" ng-show="leagueTemplate.showAlert">
        <button type="button" class="close alert-button" data-hide="alert" aria-label="Close" ng-click="leagueTemplate.onCloseAlert()"><span aria-hidden="true">&times;</span></button>
        <strong>&nbsp; &nbsp;</strong>{{leagueTemplate.message}}
    </div>
</div>
<div class="view-wrapper fantasy-form-container">
    <div class ="row">
        <div class="col-sm-12">
            <form role="form" ng-submit="leagueTemplate.onSubmitFormData()">
                <div class="col-sm-6">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Select Template</label>
                        <div class="col-md-7">

                            <select class="form-control" ng-model="leagueTemplate.templateData" 
                                    ng-change="leagueTemplate.fetchTemplateData(leagueTemplate.templateData)" >
                                <option value="" selected>---Select Template Name---</option>
                                <option value="{{item}}" ng-repeat="item in leagueTemplate.leagueTemplateList">{{item.templateName}}</option>
                            </select>

                        </div>                        
                    </div>

                    <div class="form-container">
                        <div class="form-group clearfix">
                            <label class='col-md-5 input-lable'>Template Name<sup>*</sup></label>
                            <div class="col-md-7">
                                <input type="text" class="form-control"  ng-model="leagueTemplate.result.templateName" ng-change="leagueTemplate.updateTemplate()">   
                                <p class="field-error ng-binding">{{leagueTemplate.errorMsg.leagueNameErrorMsg}}</p>
                            </div>                       
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Chip Type<sup>*</sup></label>
                        <div class="col-md-7">
                            <select class="form-control"  ng-model="leagueTemplate.result.chipType" placeholder="Select Template" ng-change="leagueTemplate.restPrizePool()">
                                <option value="" selected>--Select Chip Type--</option>
                                <option  value="real">
                                    Real
                                </option>
                                <option  value="skill">
                                    Skill
                                </option>
                            </select> 
                            <p class="field-error ng-binding">{{leagueTemplate.errorMsg.chipTypeErrorMsg}}</p>
                        </div>                        
                    </div>

                    <div class="form-container" ng-if="leagueTemplate.result.chipType == 'real'">
                        <div class="form-group clearfix">
                            <label class='col-md-5 input-lable'>Prize Pool Amount<sup>*</sup></label>
                            <div class="col-md-7">
                                <input type="number" class="form-control"  ng-model="leagueTemplate.result.totalPrizePoolAmt" ng-change="leagueTemplate.calcEntryAndWinAmt()">   
                                <p class="field-error ng-binding">{{leagueTemplate.errorMsg.totalPrizePoolAmtErrorMsg}}</p>
                            </div>                       
                        </div>
                    </div>

                    <div class="form-group clearfix" ng-if="leagueTemplate.result.chipType != null">
                        <label for="username" class="col-md-5">Max Team Register<sup>*</sup></label>
                        <div class="col-md-7">                            

                            <select class="form-control"  ng-model="leagueTemplate.result.maxTeamRegister" placeholder="Select Template"  
                                    ng-change="leagueTemplate.getCommissionRate(leagueTemplate.result.maxTeamRegister)">
                                <option value="" selected>--Select Team Size--</option>                               
                                <option  value="{{item.maxTeamRegister}}" ng-repeat="item in leagueTemplate.leagueSizeList">
                                   {{item.maxTeamRegister}}
                                </option>
                            </select>                          

                            <p class="field-error ng-binding">{{leagueTemplate.errorMsg.leagueSizeErrorMsg}}</p>
                        </div> 
                    </div>

                    <div class="form-container" ng-if="leagueTemplate.result.chipType == 'real' && leagueTemplate.result.maxTeamRegister != null">
                        <div class="form-group clearfix">
                            <label class='col-md-5 input-lable'>Commission Rate<sup>*</sup></label>
                            <div class="col-md-7">  
                                <input type="text" class="form-control" ng-model="leagueTemplate.result.commissionRate" min="1" max="50" ng-change="leagueTemplate.calcEntryAndWinAmt()">                       
                                <p class="field-error ng-binding">{{leagueTemplate.errorMsg.commiRateErrorMsg}}</p>
                            </div>                       
                        </div>
                    </div>

                    <div class="form-container">
                        <div class="form-group clearfix">
                            <label class='col-md-5 input-lable'>Max League Create<sup>*</sup></label>
                            <div class="col-md-7">
                                <input type="number" class="form-control"  ng-model="leagueTemplate.result.maxLeagueCreate">      
                                <p class="field-error ng-binding">{{leagueTemplate.errorMsg.maxLeagueCreateErrorMsg}}</p>
                            </div>                       
                        </div>
                    </div>

                    <div class="form-container">
                        <div class="form-group clearfix">                      
                            <div class="checkbox-square left-float">                              
                                <input type="checkbox" value="1" id="multiTeamAllow" name="" ng-model="leagueTemplate.result.isMultiTeamAllowed" />
                                <label for="multiTeamAllow"></label>                         
                            </div>                       
                            <p class=' left-float'>Multiple Team Allowed</p>                                             
                        </div>
                    </div>
                    
                    <div class="form-container">
                        <div class="form-group clearfix">                      
                            <div class="checkbox-square left-float">
                                <input type="checkbox" value="1" id="isDefaultLeague" name="" ng-model="leagueTemplate.result.isDefaultLeague"/>
                                <label for="defaultLeague"></label>                         
                            </div>                       
                            <p class=' left-float'>Check for Default League</p>                                             
                        </div>                       
                    </div>

                    <div class="form-container">
                        <div class="form-group clearfix">                      
                            <div class="checkbox-square left-float">
                                <input type="checkbox" value="1" id="confirmedLeague" name="" ng-model="leagueTemplate.result.isNotConfirmedLeague" 
                                       ng-click="leagueTemplate.setMinTeamThreshold()"/>
                                <label for="confirmedLeague"></label>                         
                            </div>                       
                            <p class=' left-float'>Check for Unconfirmed League</p>                                             
                        </div>                       
                    </div>

                    <div class="form-container" ng-if="leagueTemplate.result.isNotConfirmedLeague">
                        <div class="form-group clearfix">
                            <label class='col-md-5 input-lable'>Min. Team Threshold<sup>*</sup></label>
                            <div class="col-md-7">
                                <input  type="text" string-to-number class="form-control"  ng-model="leagueTemplate.result.thresholdTeam">   
                                <p class="field-error ng-binding">{{leagueTemplate.errorMsg.thresholdTeamErrorMsg}}</p>
                            </div>                       
                        </div>
                    </div>
                    <div class="form-container"  ng-if="leagueTemplate.showEntryWinAmt && leagueTemplate.result.totalPrizePoolAmt > 1">
                        <div class="form-group col-md-6 clearfix">                      
                            <div class="">
                                <span class=" entry-amt">Entry Amount : {{leagueTemplate.result.entryAmt}}</span>	                                
                            </div>                                                                                         
                        </div>
                        <div class="form-group col-md-6 clearfix">                      
                            <div class="">
                                <span class=" entry-amt">Winning Amount : {{leagueTemplate.result.winningAmt}}</span>	                                
                            </div>                                                                                         
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-container fantasy-form-container prize-list-container">
                        <div class="form-group clearfix">
                            <label class='col-md-4 input-lable center-align'>Add Rank Field</label>   
                            <div class="col-md-3"><input type="number" class="form-control" ng-model="leagueTemplate.result.rankField"></div>
                            <button class="btn btn-small btn-blue" ng-click="leagueTemplate.addRankField()">
                                <span >Add Fields</span>
                            </button>
                            <p class="field-error ng-binding">{{leagueTemplate.errorMsg.prizeListCountErrorMsg}}</p>
                        </div>

                        <!-- Winner List For 20 PLayer -->
                        <div class="form-group clearfix prize-table">                  
                            <div class="col-md-12 winner-list">
                                <p class="alert-danger">{{leagueTemplate.errorMsg.invalidRankErrorMsg}}</p>
                                <table>
                                    <thead>
                                        <tr>
                                            <td class="col-md-2">
                                                {{"S.No."}}
                                            </td>
                                            <td class="col-md-3">
                                                {{"Rank From"}}
                                            </td>
                                            <td class="col-md-3">
                                                {{"Rank To"}}
                                            </td>
                                            <td class="col-md-3">
                                                {{"Amount"}}
                                            </td> 
                                            <td class="col-md-1">
                                            </td>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        <tr ng-repeat='item in leagueTemplate.result.prizeTableList track by $index'>
                                            <td class="col-md-2">
                                                {{'#' + (1 + $index)}}
                                            </td>
                                            <td class="col-md-3">
                                                <input type="number" ng-model="leagueTemplate.prizeList[$index].startRank">
                                            </td>
                                            <td class="col-md-3">
                                                <input type="number" ng-model="leagueTemplate.prizeList[$index].toRank">
                                            </td>
                                            <td class="col-md-3">
                                                <input type="number" ng-model="leagueTemplate.prizeList[$index].prizeAmt">
                                            </td>  
                                            <td class="col-md-1">
                                                <i class='fa fa-plus-square'  ng-click="leagueTemplate.addPrizeRow()" style='font-size:20px;'></i>
                                                <i class='fa fa-minus-square' ng-if="leagueTemplate.result.prizeTableList.length > 1" ng-click="leagueTemplate.deletePrizeRow($index)" style='font-size:20px;'></i>                                        
                                            </td>
                                        </tr> 

                                    </tbody>
                                </table>                       
                            </div>                    
                        </div>
                    </div>                    
                </div>

                <div class="form-container">
                    <div class=" form-group clearfix">                      
                        <div class="col-md-12 display-center form-btn" ng-if="leagueTemplate.templateSelected != leagueTemplate.result.templateName">
                            <button class="col-md-4 btn btn-large btn-danger" type="button" value="1" name="" ng-click="leagueTemplate.onSubmitTemplateForm()"><label>Save Template</label>  </button>	                                
                        </div>    
                        <div class="col-md-12 display-center form-btn" ng-if="leagueTemplate.templateSelected == leagueTemplate.result.templateName" >
                            <button class="col-md-4 btn btn-large btn-danger" type="button" value="1" name="" ng-click="leagueTemplate.onSubmitTemplateForm()"><label>Update Template</label>  </button>	                                
                        </div>
                    </div>
                </div>

            </form>  
        </div>
    </div>                    
</div>