<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12"><div class ="admnpnl-heading">Account Tally</div></div>
    </div>
    <div class="row">

        <div class="col-sm-12">
            <form role="form" ng-submit="accounttelly.onSubmitFormData()">
                <div style="background: #f2f2f2;">
                    <div class="row admpnl-input-group">
                        <div class="col-sm-10 fliter-div-margin">
                                <div class="form-group clearfix tally-radio-btns" ng-init="accounttelly.reportName='failedTransaction'">
                                    <div class="col-md-4">
                                        <input type ="radio" id="failTransaction" name="exception"  value="failedTransaction" checked ng-model="accounttelly.reportName" ng-change="accounttelly.getConfigList(accounttelly.reportName)">
                                        <label for="">Failed Transaction</label>
                                    </div>
                                    <div class="col-md-4 ">
                                        <input type ="radio" id="gameAccount" name="exception" value="gameAccount" ng-model="accounttelly.reportName" ng-change="accounttelly.getConfigList(accounttelly.reportName)">
                                        <label for=""> Game Account</label>
                                    </div>
                                    <div class="col-md-4 ">
                                        <input type ="radio" id="webAmount" name="exception" value="websiteAccount" ng-model="accounttelly.reportName" ng-change="accounttelly.getConfigList(accounttelly.reportName)">
                                        <label for="">Website Account</label>
                                    </div>
                                </div>

                                <div class="col-sm-10 " ng-show="accounttelly.gameConfigList">
                                    <div class="form-group vertical-center">
                                            <label for="username" class="col-sm-4 label-text-center">Select Game Config<sup>*</sup></label>
                                            <div class="col-sm-6">
                                                <!-- <select   ng-model="configId"  class="form-control" placeholder="Select Config ID" >
                                                    <option value="-1"  >--Select Configuration--</option>
                                                    <option ng-repeat = "row in configCollection" value={{row.configId}}>
                                                        {{row.configName}}
                                                    </option>
                                                </select> -->
                                                <ui-select ng-model="accounttelly.configCollection.configName" theme="bootstrap" ng-disabled="false" style="min-width: 300px;" title="Choose configuration" on-select="accounttelly.onSelectConfig($item, $model)">
                                                <ui-select-match placeholder="Select game configuration">{{$select.selected.configName}}</ui-select-match>
                                                <ui-select-choices repeat="person in accounttelly.configCollection | propsFilter: {configName: $select.search, configId: $select.search}">
                                                  <div ng-bind-html="person.configName | highlight: $select.search"></div>
                                                </ui-select-choices>
                                              </ui-select>
                                              <p><span class="field-error" ng-show="(!accounttelly.configCollection.configName) && accounttelly.selectConfigError">Please select Configuration</span></p>
                                            </div>
                                    </div>
                            </div>
                            <div class="col-sm-10 fliter-div-margin">
                                <div class="display-center">
                                    <div class="dropdown form-group col-md-9 display-center">
                            <div class="form-btn-group">
                                <button type="submit" class="admnpnl-btn btn-red btn-md btn-exception" >Search</button>
                            </div>
                            </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row report-wrapper" ng-if="accounttelly.rowCollection">
        <div class="col-sm-12" >
            <div class="form-group" style="background: #f2f2f2;">
                <div class="row" >
                    <div class=" col-sm-12">
                        <table class="table">
                            <thead ng-if="accounttelly.rowCollection.length != 0">
                                <tr class="table-header">
                                    <th  ng-repeat="(key, data) in accounttelly.rowHeadCollection">{{data}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="accounttelly.rowCollection.length == 0">
                                    <td class="display-center"><b> No Result found</b></td>
                                </tr>
                                <tr ng-if="accounttelly.rowCollection.length != 0" ng-repeat="row in accounttelly.rowCollection">
                                    <td ng-repeat="(key, data) in row track by $index">{{data}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
