<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12">
            <div class ="admnpnl-heading col-md-6">Admin Compliance</div>   
            <div class="admnpnl-heading admnpnl-search-box form-group col-md-6 float-right">
                <label for="ex1" class="col-md-3">Search</label>
                <div class="col-md-6">
                     <input type="text"  class="form-control float-left search-box" ng-model = "adminCompliance.search">
                </div>
            </div>
        </div>
    </div>
    
    <div class="row display-center" ng-show="adminCompliance.showAlert">
        <div class="col-md-8 alert-box  alert  alert-dismissible  display-center" ng-class="adminCompliance.messageClass" role="alert" ng-show="adminCompliance.showAlert">
            <button type="button" class="close alert-button" data-hide="alert" aria-label="Close" ng-click="adminCompliance.onCloseAlert()"><span aria-hidden="true">&times;</span></button>
            <strong>&nbsp; &nbsp;</strong>{{adminCompliance.message}}
        </div>
    </div>
    
    <div class="row report-wrapper padd-0" ng-if="adminCompliance.withdrawalList.length == 0">      
        <div class="col-md-12 padd-0">
            <div class="table-responsive padd-0 col-sm-12 amt-withdrawal text-center marg-10">
                <b><p class="padd-10">No Withdrawal request to approve.</p> </b> 
            </div>          
        </div>
    </div>
    
    <div class="row report-wrapper padd-0" ng-if="adminCompliance.withdrawalList.length != 0">      
        <div class="col-md-12 padd-0">
            <div class="table-responsive padd-0 col-sm-12 amt-withdrawal">
                <table class="table" >                   
                    <thead>
                        <tr class="table-header">
                            <th>S.No.</th>                            
                            <th>User Info</th>                          
                            <th>Acc. Info</th>                           
                            <th>Pan Info</th>
                            <th>With. Amt.</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr id="{{1}}" ng-repeat="item in adminCompliance.withdrawalList | filter :adminCompliance.search">
                            <td>{{$index+1}}</td>
                            <td><ul class="txt-align-left">
                                    <li><b>Screen Name :</b>{{item.user.screenName}}</li>
                                    <li><b>UserId : </b>{{item.user.userId}}</li>
                                    <li><b>email-id :</b>{{item.user.emailId}}</li>
                                </ul>
                            </td>

                            <td>
                                <ul class="txt-align-left">
                                    <li><b>Bonus Amt. :</b>{{item.wallet.bonusAmt}}</li>
                                    <li><b>Winning Amt : </b>{{item.wallet.winningAmt}}</li>
                                    <li><b>Deposit Amt. </b>{{item.wallet.depositAmt}}</li>                                    
                                   
                                </ul>
                            </td>
                            <td><ul class="txt-align-left">
                                    <li><b>PAN No. :</b>{{item.panCard.panNumber}}</li>
                                    <li><b>Verified :  <label ng-class="item.user.isPanCardVerified == 'YES'?'color-green':'color-red'">{{item.user.isPanCardVerified}}</label></b></li>
                                </ul>
                            </td>
                            <td>{{item.fromWinning}}</td>
                            <td>{{adminCompliance.getTxnDate(item.txnDate)}}</td>
                            <td>
                                <button type="button" class="btn btn-large btn-primary ">
                                    <span class="editListData" dataid="{{item.matchId}}" ng-click="adminCompliance.setUserDetail(item)" templatename="{{'admin-compliance-request'}}"> Process </span>
                                </button>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>          
        </div>
    </div>
</div>
