<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12 pad0"><div class ="admnpnl-heading">Credit to User</div></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form role="form" ng-submit="credit.onSubmitCreditForm()" class="admnpnl-form">

                <div class="form-container">
                    <div class="row display-center" ng-show="credit.showAlert" >
                        <div  class="rupee-font rupee-msg col-md-8 alert-box  alert  alert-dismissible  display-center" ng-class="credit.messageClass" role="alert"  ng-show="credit.showAlert">
                            <button type="button" class="close alert-button" ng-click="credit.onCloseAlert()" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>&nbsp; &nbsp;</strong>{{credit.message}}
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="username" class="col-md-3">Screen Name / Mobile No. / Email<sup>*</sup></label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="username" ng-model="credit.userName">
                            <p><span class="rupee-font rupee-msg" >{{credit.result.totalBalance}} </span></p>
                            <p><span class="field-error" >{{credit.errorData.userDataErrMsg}}</span></p>
                        </div>
                        <div class="col-md-3">
                            <input type="button" class="btn search-btn" value="Search" ng-click="credit.getUserDetail()" ng-paste="$event.preventDefault()" >
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="amount" class="col-md-3">New Balance</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="amount" readonly ng-paste="$event.preventDefault()"
                                   ng-model="credit.result.newAccBalance"  ng-only-number data-max-decimal-points="2" data-max-length="12">
                            <p class="field-error">{{credit.errorData.amountErrMsg}}</p>
                                                       
                        </div>    
                    </div>

                    <div class="form-group clearfix">
                        <label for="cmfrm-amnt" class="col-md-3">Deposit Amount</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control col-md-3" id="cmfrm-amnt" ng-paste="$event.preventDefault()"
                                   ng-model="credit.result.newDepositAmt" ng-change="credit.calcNewBalance()"  ng-only-number data-max-decimal-points="2" data-max-length="12">                      
                            <p class="field-error">{{credit.errorData.depositAmountErrMsg}}</p>
                        </div>
                        
                        <div class="col-md-3">
                            <input type="text" class="form-control col-md-3" ng-model="credit.result.depositAmt" id="cmfrm-amnt"
                                   ng-paste="$event.preventDefault()"
                                   readonly  ng-only-number data-max-decimal-points="2" data-max-length="12">                                                    
                        </div>
                    </div>
                    
                    <div class="form-group clearfix">
                        <label for="cmfrm-amnt" class="col-md-3">Winning Amount</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="cmfrm-amnt" ng-paste="$event.preventDefault()"
                                   ng-model="credit.result.newWinningAmt" ng-change="credit.calcNewBalance()"  ng-only-number data-max-decimal-points="2" data-max-length="12">
                            <p class="field-error">{{credit.errorData.winningAmountErrMsg}}</p>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control col-md-3" id="cmfrm-amnt" ng-paste="$event.preventDefault()"
                                   ng-model="credit.result.winningAmt" readonly  ng-only-number data-max-decimal-points="2" data-max-length="12">                                                    
                        </div>
                    </div>
                    
                    <div class="form-group clearfix">
                        <label for="cmfrm-amnt" class="col-md-3">Bonus Amount</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control col-md-4" id="cmfrm-amnt"
                                   ng-paste="$event.preventDefault()" ng-model="credit.result.newBonusAmt"  ng-change="credit.calcNewBalance()"
                                   ng-only-number data-max-decimal-points="2" data-max-length="12"> 
                            
                            <p class="field-error">{{credit.errorData.bonusAmountErrMsg}}</p>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control col-md-3" id="cmfrm-amnt" ng-paste="$event.preventDefault()"
                                   ng-model="credit.result.bonusAmt" readonly  ng-only-number data-max-decimal-points="2" data-max-length="12">                                                    
                        </div>
                    </div>


                    <div class="form-group clearfix">
                        <label for="remarks" class="col-md-3">Remarks<sup>*</sup></label>
                        <div class="col-md-4">
                            <textarea class="form-control" id="remarks" ng-model="credit.result.remarks"> </textarea>
                             <p class="field-error error-msg marg-top-20">{{credit.errorData.userRemarkErrMsg}}</p>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="" class="col-md-3"></label>
                        <div class="form-btn-group">
                            <p class="field-error">{{credit.errorData.amountError}}</p>
                            <button type="submit" class="admnpnl-btn btn-red btn-md">Submit</button>
                            <button type="button" class="admnpnl-btn  btn-md btn-grey" ng-click="credit.onResetFormData()">Reset</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>