<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12 pad0"><div class ="admnpnl-heading">Debit from User</div></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form role="form" ng-submit="debit.onSubmitDebittForm()" class="admnpnl-form">

                <div class="form-container">
                    <div class="row display-center" ng-show="debit.showAlert" >
                        <div  class="rupee-font rupee-msg col-md-8 alert-box  alert  alert-dismissible  display-center" ng-class="debit.messageClass" role="alert"  ng-show="debit.showAlert">
                            <button type="button" class="close alert-button" ng-click="debit.onCloseAlert()" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>&nbsp; &nbsp;</strong>{{debit.message}}
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="username" class="col-md-3">Screen Name / Mobile No. / Email<sup>*</sup></label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="username" ng-model="debit.userName">
                            <p><span class="rupee-font rupee-msg" >{{debit.result.totalBalance}} </span></p>
                            <p><span class="field-error" >{{debit.errorData.userDataErrMsg}}</span></p>
                        </div>
                        <div class="col-md-3">
                            <input type="button" class="btn search-btn" value="Search" ng-click="debit.getUserDetail()" ng-paste="$event.preventDefault()" >
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="amount" class="col-md-3">New Balance</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="amount" readonly ng-paste="$event.preventDefault()"
                                   ng-model="debit.result.newAccBalance"  ng-only-number data-max-decimal-points="2" data-max-length="12">                        
                        </div>                             
                    </div>

                    <div class="form-group clearfix">
                        <label for="cmfrm-amnt" class="col-md-3">Deposit Amount</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control col-md-3" id="cmfrm-amnt" ng-paste="$event.preventDefault()"
                                   ng-model="debit.result.newDepositAmt" ng-change="debit.calcNewBalance()"  ng-only-number data-max-decimal-points="2" data-max-length="12">                      
                        <p class="field-error error-msg">{{debit.errorData.depositAmountErrMsg}}</p>
                        </div>
                        


                        <div class="col-md-3">
                            <input type="text" class="form-control col-md-3" ng-model="debit.result.depositAmt" id="cmfrm-amnt"
                                   ng-paste="$event.preventDefault()"
                                   readonly  ng-only-number data-max-decimal-points="2" data-max-length="12">                                                    
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="cmfrm-amnt" class="col-md-3">Winning Amount</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="cmfrm-amnt" ng-paste="$event.preventDefault()"
                                   ng-model="debit.result.newWinningAmt" ng-change="debit.calcNewBalance()"  ng-only-number data-max-decimal-points="2" data-max-length="12">                          
                        <p class="field-error error-msg">{{debit.errorData.winningAmountErrMsg}}</p>
                        </div>
                       
                        <div class="col-md-3">
                            <input type="text" class="form-control col-md-3" id="cmfrm-amnt" ng-paste="$event.preventDefault()"
                                   ng-model="debit.result.winningAmt" readonly  ng-only-number data-max-decimal-points="2" data-max-length="12">                                                    
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="cmfrm-amnt" class="col-md-3">Bonus Amount</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control col-md-4" id="cmfrm-amnt"
                                   ng-paste="$event.preventDefault()" ng-model="debit.result.newBonusAmt"  ng-change="debit.calcNewBalance()"
                                   ng-only-number data-max-decimal-points="2" data-max-length="12">                                                       
                         <p class="field-error error-msg">{{debit.errorData.bonusAmountErrMsg}}</p>
                        </div>
                       
                        <div class="col-md-3">
                            <input type="text" class="form-control col-md-3" id="cmfrm-amnt" ng-paste="$event.preventDefault()"
                                   ng-model="debit.result.bonusAmt" readonly  ng-only-number data-max-decimal-points="2" data-max-length="12">                                                    
                        </div>
                    </div>


                    <div class="form-group clearfix">
                        <label for="remarks" class="col-md-3">Remarks<sup>*</sup></label>
                        <div class="col-md-4">
                            <textarea class="form-control" type="text"  ng-model="debit.result.remarks"> </textarea>
                            <p class="field-error error-msg marg-top-20">{{debit.errorData.userRemarkErrMsg}}</p>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="" class="col-md-3"></label>
                        <div class="form-btn-group">
                            <p class="field-error">{{debit.errorData.amountError}}</p>
                            <button type="submit" class="admnpnl-btn btn-red btn-md">Submit</button>
                            <button type="button" class="admnpnl-btn  btn-md btn-grey" ng-click="debit.onResetFormData()">Reset</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>