<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12">
            <div class ="admnpnl-heading col-md-6">Documents Verification</div>   
            <div class="admnpnl-heading admnpnl-search-box form-group col-md-6 float-right">
                <label for="ex1" class="col-md-3">Search</label>
                <div class="col-md-6">
                     <input type="text"  class="form-control float-left search-box" ng-model="docVerify.search">
                </div>
            </div>
        </div>
    </div>
    
    <div class="row display-center" ng-show="docVerify.showAlert">
        <div class="col-md-8 alert-box  alert  alert-dismissible  display-center" ng-class="docVerify.messageClass" role="alert" ng-show="docVerify.showAlert">
            <button type="button" class="close alert-button" data-hide="alert" aria-label="Close" ng-click="docVerify.onCloseAlert()"><span aria-hidden="true">&times;</span></button>
            <strong>&nbsp; &nbsp;</strong>{{docVerify.message}}
        </div>
    </div>
    
    <div class="row report-wrapper padd-0" ng-if="!docVerify.pendingDocList.length">      
        <div class="col-md-12 padd-0">
            <div class="table-responsive padd-0 col-sm-12 amt-withdrawal text-center marg-10">
                <b><p class="padd-10">No Doc verification request to approve.</p> </b> 
            </div>          
        </div>
    </div>
    
    <div class="row report-wrapper padd-0" ng-if="docVerify.pendingDocList.length">      
        <div class="col-md-12 padd-0">
            <div class="table-responsive padd-0 col-sm-12 amt-withdrawal">
                <table class="table">                   
                    <thead>                       
                        <tr class="table-header">
                            <th>S.No.</th>
                            <th>Bank Name</th>
                            <th>Account Number</th>                           
                            <th>Branch</th>
                            <th>IFSC CODE</th>
                            <th>Date of request</th>
                            <th>Action</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="{{1}}" ng-repeat="item in docVerify.pendingDocList | filter :docVerify.search">
                            <td>{{$index + 1}}</td>                           
                            <td >{{item.bankName}}</td>
                            <td>{{item.accountNumber}}</td>
                            <td>{{item.branch}}</td>
                            <td>{{item.ifscCode}}</td>
                            <td>{{docVerify.getReqDate(item.createdAt)}}</td>
                            <td>                           
                            <button type="button" class="btn btn-large btn-primary ">
                                <span class="editListData" dataid="{{item.id}}" ng-click="docVerify.openDialog(item)" value="{{item}}" templatename="{{'document-detail-update'}}" aria-hidden="true"> Process </span>
                            </button>                           
                            </td>
                        </tr>                                               
                    </tbody>
                </table>
            </div>           
        </div>
    </div>   
</div>
