<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12"><div class ="admnpnl-heading">Game History Reports</div></div>
    </div>
    <div class="row">

        <div class="col-sm-12">
            <form role="form" ng-submit="gamereport.onSubmitFormData()" class="admnpnl-form">

                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-3">Username / Mobile</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="username" ng-model="gamereport.result.userName">
                            <p><span class="float-right" ng-class="gamereport.userNameErrorClass" ng-show="gamereport.userNameError">{{gamereport.userNameError}}</span></p>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="gameid" class="col-md-3">Game ID</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="gameid" ng-model="gamereport.result.gameId"  ng-only-number data-max-decimal-points="0" data-max-length="16">
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="tableid" class="col-md-3">Table ID</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="tableid" ng-model="gamereport.result.tableId"  ng-only-number data-max-decimal-points="0" data-max-length="16">
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3" >From Date</label>
                        <div class="dropdown col-md-4">
                            <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" >
                                <div class="input-group">
                                    <input type="text"  class="form-control" data-ng-model="gamereport.dateRangeStart" data-date-time-input="YYYY-MM-DD HH:mm:ss" >
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="gamereport.dateRangeStart" data-datetimepicker-config="{ dropdownSelector: '#dropdown1',minView:'hour'}" data-before-render="beforeRenderStartDate($view, $dates, $leftDate, $upDate, $rightDate)"/>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3">To Date</label>
                        <div class="dropdown col-md-4">
                            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" >
                                <div class="input-group">
                                    <input type="text" class="form-control " data-ng-model="gamereport.dateRangeEnd" data-date-time-input="YYYY-MM-DD HH:mm:ss">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="gamereport.gamereport.dateRangeEnd" data-datetimepicker-config="{ dropdownSelector: '#dropdown2',minView:'hour' }" data-before-render="beforeRenderEndDate($view, $dates, $leftDate, $upDate, $rightDate)"/>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label for="" class="col-md-3"></label>
                         <div class="form-btn-group">
                            <button type="button" class="admnpnl-btn btn-red btn-md" ng-click="gamereport.getGameHistoryReport()" ng-disabled="gamereport.checked" >Search</button>
                             <button type="reset" class="admnpnl-btn  btn-md btn-grey" ng-click="gamereport.onResetFormData()" ng-disabled="gamereport.checked" >Reset</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row report-wrapper" ng-if="gamereport.rowCollection">
        <div class="table-responsive col-sm-12">
            <table class="table">
                <thead>
                    <tr class="table-header">
                        <th class="display-center">Game History Report</th>
                    </tr>
                </thead>
                <tbody ng-if="gamereport.rowCollection.length != 0">
                    <tr ng-if="gamereport.result.userName != '' ">
                        <td class="display-center">{{gamereport.heading}}</td>
                    </tr>
                    <tr ng-if="gamereport.rowCollection.length != 0">
                        <td> <json-explorer json-data="gamereport.rowCollection"></json-explorer> </td>
                    </tr>
                </tbody>
                <tbody ng-if="gamereport.rowCollection.length == 0">
                    <tr ng-if="gamereport.rowCollection.length == 0">
                        <td class="display-center"> No Result found</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
