<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12">
            <div class ="admnpnl-heading col-md-6">PAN Verification</div>   
            <div class="admnpnl-heading admnpnl-search-box form-group col-md-6 float-right">
                <label for="ex1" class="col-md-3">Search</label>
                <div class="col-md-6">
                     <input type="text"  class="form-control float-left search-box" ng-model="pancardVerify.search">
                </div>
            </div>
        </div>
    </div>
    
    <div class="row display-center" ng-show="pancardVerify.showAlert">
        <div class="col-md-8 alert-box  alert  alert-dismissible  display-center" ng-class="pancardVerify.messageClass" role="alert" ng-show="pancardVerify.showAlert">
            <button type="button" class="close alert-button" data-hide="alert" aria-label="Close" ng-click="pancardVerify.onCloseAlert()"><span aria-hidden="true">&times;</span></button>
            <strong>&nbsp; &nbsp;</strong>{{pancardVerify.message}}
        </div>
    </div>
    
    <div class="row report-wrapper padd-0" ng-if="!pancardVerify.pancardList.length">      
        <div class="col-md-12 padd-0">
            <div class="table-responsive padd-0 col-sm-12 amt-withdrawal text-center marg-10">
                <b><p class="padd-10">No PAN pending request to approve.</p> </b> 
            </div>          
        </div>
    </div>
    
    <div class="row report-wrapper padd-0"  ng-if="pancardVerify.pancardList.length">      
        <div class="col-md-12 padd-0">
            <div class="table-responsive padd-0 col-sm-12 amt-withdrawal">
                <table class="table">                   
                    <thead>                       
                        <tr class="table-header">
                            <th>S.No.</th>
                            <th>Pan-card Number</th>
                            <th>Screen name</th>                           
                            <th>Full Name</th>
                            <th>User Id</th>
                            <th>DOB</th>
                            <th>Action</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="{{1}}" ng-repeat="item in pancardVerify.pancardList | filter :pancardVerify.search">
                            <td>{{$index + 1}}</td>                           
                            <td ><a href="{{pancardVerify.imageUrl + '/pancard/' + item.panCardimage}}" target="_blank">{{item.panNumber}}</a></td>
                            <td>{{item['panCard.screenName']}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.userId}}</td>{{item["panCard.personalInfo.dob"]}}
                            <td>{{pancardVerify.getDob(item["panCard.personalInfo.dob"])}}</td>
                            <td>                           
                            <button type="button" class="btn btn-large btn-primary ">
                                <span class="editListData" dataid="{{item.id}}" ng-click="pancardVerify.openDialog(item)" value="{{item}}" templatename="{{'pancard-detail-update'}}" aria-hidden="true"> Process </span>
                            </button>                           
                            </td>
                        </tr>                                               
                    </tbody>
                </table>
            </div>          
        </div>
    </div>   
</div>
