<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12"><div class ="admnpnl-heading">Player Account Summary</div></div>
    </div>
    
    <div class="form-container">
        <div class="row display-center" ng-show="playerdetail.showAlert" >
            <div  class="rupee-font rupee-msg col-md-8 alert-box  alert  alert-dismissible  display-center" ng-class="playerdetail.messageClass" role="alert"  ng-show="playerdetail.showAlert">
                <button type="button" class="close alert-button" ng-click="playerdetail.onCloseAlert()" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>&nbsp; &nbsp;</strong>{{playerdetail.message}}
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <form role="form" ng-submit="playerdetail.getPlayerId()" class="admnpnl-form">
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-sm-4">Screen Name / Mobile No. / Email <sup>*</sup></label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="username" ng-model="playerdetail.userName">   
                            <p><span class="field-error" >{{playerdetail.userDataErrMsg}}</span></p>
                        </div>
                        <div>
                            <button type="submit" class="admnpnl-btn btn-red btn-md btn-exception">Submit</button>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="row" ng-if="playerdetail.showReportMenu">
        <div class=" col-md-12 col-lg-12 menu-btn  toppad" >
            <div class="sub-header-button menu-btn-inner ">
                <button type="button" ng-click="playerdetail.getPersonalInfo()">Personal info</button>
                <button type="button" ng-click="playerdetail.getAccountsInfo()">Accounts details</button>
                <button type="button" ng-click="playerdetail.getPanInfo()">PAN card details</button>
                <button type="button" ng-click="playerdetail.getDocumentInfo()">Bank details</button>
            </div>
        </div>
    </div>
    <!-- Personal Info -->
    <div class="row" ng-if="playerdetail.result.isPersonalInfo">
        <div class=" col-md-12 toppad" >
            <div class="panel panel-info">
                <div class="panel-heading user-detail-heading">
                    <h3 class="panel-title">{{playerdetail.playerName}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3" align="center"> <img alt="User Pic" src="assets/images/male.jpg" class="img-circle img-responsive"> </div>
                        <div class=" col-md-9"> 
                            <!--Personal Info-->
                            <table class="table table-user-information" >
                                <tbody>
                                    <tr>
                                        <td>Name :</td>
                                        <td>{{playerdetail.playerData.userPersonalInfoData.firstName + ' ' + playerdetail.playerData.userPersonalInfoData.lastName}}</td>
                                    </tr>
                                    <tr>
                                        <td>Team Name</td>
                                        <td>{{playerdetail.playerData.userPersonalInfoData.teamName}}</td>
                                    </tr>
                                    <tr>
                                        <td>PAN Card Verified</td>
                                        <td>{{playerdetail.playerData.userPersonalInfoData.panStatus}}</td>
                                    </tr>
                                    <tr>
                                        <td>Email Verified Status</td>
                                        <td>{{playerdetail.playerData.userPersonalInfoData.emailStatus}}</td>
                                    </tr>
                                    <tr>
                                        <td>Bank Doc. Verified Status</td>
                                        <td>{{playerdetail.playerData.userPersonalInfoData.bankStatus}}</td>
                                    </tr>
                                    <tr>
                                        <td>Mobile Verified Status</td>
                                        <td>{{playerdetail.playerData.userPersonalInfoData.mobileStatus}}</td>
                                    </tr>
                                    <tr>
                                        <td>Email </td>
                                        <td>{{playerdetail.playerData.userPersonalInfoData.emailId}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td>Mobile No. </td>
                                        <td>{{playerdetail.playerData.userPersonalInfoData.mobileNo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- Account Info -->
    <div class="row" ng-if="playerdetail.result.isAccountInfo">
        <div class=" col-md-12 toppad" >
            <div class="panel panel-info">
                <div class="panel-heading user-detail-heading">
                    <h3 class="panel-title">{{playerdetail.playerName}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3" align="center"> <img alt="User Pic" src="assets/images/male.jpg" class="img-circle img-responsive"> </div>
                        <div class=" col-md-9"> 
                            <!--Personal Info-->
                            <table class="table table-user-information" >
                                <tbody>
                                    <tr>
                                        <td>Current Deposit</td>
                                        <td>{{playerdetail.playerData.userAccountsData.depositAmt}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td>Current Bonus</td>
                                        <td>{{playerdetail.playerData.userAccountsData.bonusAmt}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td>Current Winning</td>
                                        <td>{{playerdetail.playerData.userAccountsData.winningAmt}}</td>
                                    </tr>
                                    <tr>
                                        <td>Last Deposit Date</td>
                                        <td>{{::playerdetail.getDateFormat(playerdetail.playerData.userAccountsData.lastDepositDate)}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td>Last Bonus  Date</td>
                                        <td>{{::playerdetail.getDateFormat(playerdetail.playerData.userAccountsData.lastBonusDate)}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td>League Win</td>
                                        <td>{{playerdetail.playerData.userAccountsData.leaguesWin}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td>Total Winning</td>
                                        <td>{{playerdetail.playerData.userAccountsData.totalWinning}}</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- Pan Info -->
    <div class="row" ng-if="playerdetail.result.isPanInfo">
        <div class=" col-md-12 toppad" >
            <div class="panel panel-info">
                <div class="panel-heading user-detail-heading">
                    <h3 class="panel-title">{{playerdetail.playerName}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3" align="center"> <img alt="User Pic" src="assets/images/male.jpg" class="img-circle img-responsive"> </div>
                        <div class=" col-md-9"> 
                            <!--Personal Info-->
                            <table class="table table-user-information" >
                                <tbody>
                                    <tr>
                                        <td>Full Name on PAN</td>
                                        <td>{{playerdetail.playerName}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td>PAN No.</td>
                                        <td>{{playerdetail.playerData.userPanData.panNumber}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td>State</td>
                                        <td>{{playerdetail.playerData.userPanData.state}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td>PAN Status</td>
                                        <td>{{playerdetail.playerData.userPanData.status}}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td>Remarks</td>
                                        <td>{{playerdetail.playerData.userPanData.remarks}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- Document Info -->
    <div class="row" ng-if="playerdetail.result.isDocumentInfo">
        <div class=" col-md-12 toppad" >
            <div class="panel panel-info">
                <div class="panel-heading user-detail-heading">
                    <h3 class="panel-title">{{playerdetail.playerName}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3" align="center"> <img alt="User Pic" src="assets/images/male.jpg" class="img-circle img-responsive"> </div>
                        <div class=" col-md-9"> 
                            <!--Personal Info-->
                            <table class="table table-user-information" >
                                <tbody>
                                    <tr>
                                        <td>Full Name</td>
                                        <td>{{playerdetail.playerName}}</td>
                                    </tr>
                                    
                                     <tr>
                                        <td>Bank Name</td>
                                        <td>{{playerdetail.playerData.userDocData.bankName}}</td>
                                    </tr>
                                    
                                     <tr>
                                        <td>Branch Name</td>
                                        <td>{{playerdetail.playerData.userDocData.branchName}}</td>
                                    </tr>
                                    
                                     <tr>
                                        <td>Account Number</td>
                                        <td>{{playerdetail.playerData.userDocData.accountNumber}}</td>
                                    </tr>
                                     <tr>
                                        <td>IFSC Code</td>
                                        <td>{{playerdetail.playerData.userDocData.ifscCode}}</td>
                                    </tr>
                                    
                                     <tr>
                                        <td>Remarks</td>
                                        <td>{{playerdetail.playerData.userDocData.remark}}</td>
                                    </tr>
                                    
                                    <tr> 
                                        <td>Status</td>
                                        <td>{{playerdetail.playerData.userDocData.status}}</td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>