<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12"><div class ="admnpnl-heading">Reset Password</div></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form role="form" ng-submit="resetpassword.onSubmitFormData()" class="admnpnl-form">

                <div class="form-container">

                    <div class="row display-center" ng-show="resetpassword.showAlert">
                        <div class="col-md-8 alert-box  alert  alert-dismissible display-center" ng-class="resetpassword.messageClass"  role="alert">
                            <button type="button" class="close alert-button" ng-click="resetpassword.onCloseAlert()" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>&nbsp; &nbsp;</strong>{{resetpassword.message + '.'}}
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="username" class="col-md-3">Screen Name / Mobile No. / Email<sup>*</sup></label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="username" ng-model="resetpassword.result.userName">
                            <p><span class="field-error" >{{resetpassword.errorData.userNameError}}</span></p>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="password" class="col-md-3">New Password<sup>*</sup></label>
                        <div class="col-md-4">
                            <input type="password" class="form-control" id="password" ng-paste="$event.preventDefault()"  ng-model="resetpassword.result.newPassword" data-max-length="14">
                            <p><span class="field-error" >{{resetpassword.errorData.newPasswordError}}</span></p>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="confirm-password" class="col-md-3">Confirm New Password<sup>*</sup></label>
                        <div class="col-md-4">
                            <input type="password" class="form-control" id="confirm-password" ng-paste="$event.preventDefault()"  ng-model="resetpassword.result.confirmNewPassword" data-max-length="14">
                            <p><span class="field-error" >{{resetpassword.errorData.confirmNewPassword}}</span></p>
                        </div>
                    </div>


                    <div class="form-group clearfix">
                        <label for="" class="col-md-3"></label>
                        <div class="form-btn-group">
                            <button type="submit" class="admnpnl-btn btn-red btn-md">Submit</button>
                            <button type="reset" class="admnpnl-btn btn-grey btn-md" ng-click="resetpassword.onResetFormData()">Reset</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>