<div class="view-wrapper">
    <div class ="row"><!--
        <div class="sidebar-toggle" ng-if="menuSlide.isSlide" ng-click="menuSlide.menuToggle =  !menuSlide.menuToggle; menuSlide.isTransition = true"></div> -->
        <div class="col-sm-12"><div class ="admnpnl-heading">Game Revenue Reports</div></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form role="form" ng-submit="revenuereport.onSubmitFormData()" class="admnpnl-form">

                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-3">Username / Mobile</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="username" ng-model="revenuereport.result.userName">
                            <p><span class="float-right" ng-class="revenuereport.userNameErrorClass" ng-show="revenuereport.userNameError">{{revenuereport.userNameError}}</span></p>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="username" class="col-md-3">Select Configuration Id</label>
                        <div class="col-md-4">
                            <select   ng-model="revenuereport.result.configId"  class="form-control" placeholder="Select Config ID" >
                                <option value="-1"  >--Select Configuration--</option>
                                <option ng-repeat = "row in revenuereport.configCollection" value={{row.configId}}>
                                    {{row.configName}}
                                 </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3" >From Date</label>
                       <div class="dropdown col-md-4">
                            <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" >
                                <div class="input-group">
                                    <input type="text"  class="form-control" data-ng-model="revenuereport.dateRangeStart" data-date-time-input="YYYY-MM-DD" >
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="revenuereport.dateRangeStart" data-datetimepicker-config="{ dropdownSelector: '#dropdown1',minView:'day'}" data-before-render="beforeRenderStartDate($view, $dates, $leftDate, $upDate, $rightDate)"/>
                            </ul>
                        </div> 
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3">To Date</label>
                        <div class="dropdown  col-md-4">
                            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" >
                                <div class="input-group">
                                    <input type="text" class="form-control " data-ng-model="revenuereport.dateRangeEnd" data-date-time-input="YYYY-MM-DD">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="revenuereport.dateRangeEnd" data-datetimepicker-config="{ dropdownSelector: '#dropdown2',minView:'day' }" data-before-render="beforeRenderEndDate($view, $dates, $leftDate, $upDate, $rightDate)"/>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="" class="col-md-3"></label>
                         <div class="form-btn-group">
                            <button type="button" class="admnpnl-btn btn-red btn-md" ng-click="revenuereport.getRevenueReport()">Search</button>
                             <button type="button" class="admnpnl-btn  btn-md btn-grey" ng-click="revenuereport.onResetFormData()">Reset</button>
                         </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row report-wrapper" ng-if="revenuereport.rowCollection">
        <div class="table-responsive col-sm-12">
<!--        <div ng-if="revenuereport.rowCollection.length != 0">
            <div id="grid1" ui-grid="{ data: revenuereport.rowCollection}" 
                 class="grid" ui-grid-auto-resize></div>
        </div>-->
<!--        <div ng-if="revenuereport.rowCollection.length == 0">
           <table class="table">
                <tbody>
                    <tr>
                        <td class="display-center"> No Result found</td>
                    </tr>
                </tbody>
            </table> 
        </div>-->
         
           <table class="table">
                <thead ng-if="revenuereport.rowCollection.length != 0">
                    <tr class="table-header">
                        <th ng-repeat="(key, data) in revenuereport.rowCollection[0]">{{key}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="revenuereport.rowCollection.length == 0">
                        <td class="display-center"> No Result found</td>
                    </tr>
                    <tr ng-if="revenuereport.rowCollection.length != 0" ng-repeat="row in revenuereport.rowCollection">
                            <td ng-repeat="(key, data) in row">{{data}}</td>
                    </tr>
                </tbody>
            </table> 
        </div>

    </div>
</div>
