<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12"><div class ="admnpnl-heading">User Report</div></div>
    </div>
    <div class="row">

        <div class="col-sm-12">
            <form role="form" ng-submit="transReport.onSubmitFormData()" class="admnpnl-form">

                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-3">Screen Name / Mobile No. / Email<sup>*</sup></label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="username" ng-model="transReport.userName">
                            <p><span class="field-error" ng-show="transReport.userNameError">{{transReport.userNameError}}</span></p>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3" >From Date</label>
                        <div class="dropdown col-md-4">
                            <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text"  class="form-control" data-ng-model="transReport.dateRangeStart" data-date-time-input="YYYY-MM-DD HH:mm:ss" >
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="transReport.dateRangeStart" data-datetimepicker-config="{ dropdownSelector: '#dropdown1',minView:'hour'}" data-before-render="beforeRenderStartDate($view, $dates, $leftDate, $upDate, $rightDate)"/>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3">To Date</label>
                        <div class="dropdown col-md-4">
                            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" >
                                <div class="input-group">
                                    <input type="text" class="form-control " data-ng-model="transReport.dateRangeEnd" data-date-time-input="YYYY-MM-DD HH:mm:ss">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="transReport.dateRangeEnd" data-datetimepicker-config="{ dropdownSelector: '#dropdown2',minView:'hour' }" data-before-render="beforeRenderEndDate($view, $dates, $leftDate, $upDate, $rightDate)"/>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="" class="col-md-3"></label>
                        <div class="form-btn-group">
                            <button type="button" class="admnpnl-btn btn-red btn-md" ng-click="transReport.getUserReport()">Search</button>
                             <button type="reset" class="admnpnl-btn  btn-md btn-grey" ng-click="transReport.onResetFormData()">Reset</button>
                        </div>

                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="row report-wrapper" ng-if="transReport.transactionList !=0">
        <div class="col-md-12">
            <div class="row">
                <div class="table-responsive col-sm-12">
                    <table class="table">
                        <thead>
                            <tr class="table-header">
                                <th>Txn. Id</th>
                                <th>Remarks</th>
                                <th>Date</th>
                                <th>Txn. Type</th>
                                <th>Credit</th>
                                <th>Debit</th>
                                <th>Closing Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="transReport.transactionList.length == 0">
                                <td class="display-center"> No Result found</td>
                            </tr>

                            <tr ng-repeat = "row in transReport.itemList track by $index">
                                <td>{{$index +1}}</td>
                                <td>{{row.txnId}}</td>
                                <td>{{row.remarks}}</td>
                                <td>{{row.date}}</td>
                                <td>{{row.txnType}}</td>
                                <td>{{row.credit}}</td>
                                <td>{{row.debit}}</td>
                                <td>{{row.closingBal}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>                      
    </div>
</div>
    
<!-- Pagination Table -->
            <div class="row report-wrapper pagination-list">
                <div class="col-md-10">
                    <div class="col-md-8 ">                  
                        <ul class="float-right marg-0">
                            <li ng-repeat="item in transReport.pageCount" ng-click="transReport.getPageList($index +1)" ng-class="transReport.pageIndex == $index ? 'bg-red' :''">{{$index+1}}</li>                    
                        </ul>
                    </div> 
                </div>  
            </div>
