<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login | League Adda</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="favicon.ico">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link href="./assets/styles/bootstrap.min.css" rel="stylesheet">
        <link href="./styles/datepicker.css" rel="stylesheet">
        <link rel="stylesheet" href="styles/main.css?v=1.0">
        <link rel="stylesheet" href="styles/jsoneditor.css?v=1.0">
        <link rel="stylesheet" href="assets/fonts.css">
        <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="vendor/ng-dialog/css/ngDialog.css" />
        <link rel="stylesheet" href="vendor/ng-dialog/css/ngDialog-theme-default.css" />

        <link rel="stylesheet" href="vendor/ui-select/select.css">
        <link rel="stylesheet" href="vendor/angular-ui-grid/ui-grid.min.css">
        <!-- endbuild -->

    </head>
    <body ng-app="adminFantasyApp" style="background-color: #E1E0E5;" ng-class="menuSlide.isSlide ? 'menu-slide' : ''">

        <!--        <div  ng-include="'views/home.html'"></div>-->


        <div id="admincontainer" class="container-fluid page-wrapper" ng-class="menuSlide.menuToggle  ? 'menu-open' : 'menu-closed'">

            <!--            <div class="row lobby-right-part" ng-include="'views/common/header.html'"></div>-->
            <div ng-if="!loginSuccess">
                <div class="row lobby-right-part" ng-include="'views/common/header.html'"></div>
                <div ui-view></div> 
            </div>

            <div ng-if="loginSuccess">
                <div class="row lobby-right-part" ng-include="'views/common/header.html'"></div>
                <div class="row data-row-margin">
                    <div class="col-sm-3 sidemenu no-transition" style="padding: 0;">
                        <!-- directive to make sidemenu toggle -->
                        <!-- <div class="sidemenu-toggle" ng-if="menuSlide.isSlide"></div> -->
                        <div ng-include="'views/sideMenu.html'" style="background-color:#2E2E2E;" ng-controller="admnMenuCtrl as menu"></div>
                    </div>
                    <div ui-view class="main-content no-transition"></div><!-- ng-class="menuSlide.isTransition ? 'apply-transition' : 'no-transition'" -->
                </div>

            </div>
            <div class="loader-container hide-loader" id="loader">
                <img class="loader-image" src="assets/images/loader.gif">
            </div>
            
            <div class="row lobby-right-part" ng-include="'views/common/footer.html'"></div>
        </div>

        <script src="vendor/jquery/dist/jquery.min.js"></script>
        <script src="vendor/bootstrap-sass-official/assets/javascripts/bootstrap.min.js"></script>
        <script src="vendor/jquery/md5.js"></script>
        <script src="vendor/angular/angular.min.js"></script>
        <script src="vendor/angular-datepicker/moment.js"></script>
        <script src="vendor/angular-datepicker/de.js"></script>     
        <script src="vendor/angular-datepicker/zh.cn.js"></script>
        <script src="vendor/angular-animate/angular-animate.js"></script>
        <script src="vendor/angular-cookies/angular-cookies.js"></script>
        <script src="vendor/angular-resource/angular-resource.js"></script>
        <script src="vendor/angular-route/angular-route.js"></script>
        <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
        <script src="vendor/angular-touch/angular-touch.js"></script>
        <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script> 
        <script src="vendor/angular-JsonEditor/jsoneditor.js"></script> 
        <script src="vendor/ng-file-upload/ng-file-upload-shim.js"></script>
        <script src="vendor/ng-file-upload/ng-file-upload.js"></script>
        <script src="vendor/ng-dialog/js/ngDialog.js"></script>
        <script src="vendor/angular-datepicker/datetimepicker.js"></script>
        <script src="vendor/angular-datepicker/datetimepicker.templates.js"></script>
        <script type="text/javascript" src="vendor/angular-datepicker/dateTimeInput.js"></script>
        <script src="vendor/angular-num-validation/ng_only_number.js"></script>
        <script src="vendor/angular-ui-grid/ui-grid.min.js"></script>
        <script src="vendor/angular-truncate/truncate.js"></script>

        <script src="scripts/app.js?v=1.0"></script>
        <script src="scripts/constant.js?v=1.0"></script>

        <script src="scripts/controllers/login.js?v=1.0"></script>
        <script src="scripts/controllers/header.js?v=1.0"></script>
        <script src="scripts/controllers/menuCtrl.js?v=1.0"></script>
        <script src="scripts/controllers/crm/creditToUserCtrl.js?v=1.0"></script>
        <script src="scripts/controllers/crm/debitFromUserCtrl.js?v=1.0"></script>
        <script src="scripts/controllers/crm/resetPasswordCtrl.js?v=1.0"></script>
        <script src="scripts/controllers/crm/changePasswordCtrl.js?v=1.0"></script>
        <script src="vendor/ng-dialog/js/ngDialog.js?v=1.0"></script>
        <script src="scripts/controllers/editorCtrl.js?v=1.0"></script>
        <script src="scripts/controllers/crm/playerDetailCtrl.js?v=1.0"></script>
        <script src="scripts/controllers/emailEditorCtrl.js?v=1.0"></script>

        <script src="scripts/services/UtilityService.js?v=1.0"></script>
        <script src="scripts/services/pagination.js?v=1.0"></script>
        <!-- ckeditor files -->
        <script src="vendor/ckeditor/ckeditor.js?v=1.0"></script>
       <!-- ckeditor files -->
        <script src="vendor/ui-select/select.js"></script>
        <script src="scripts/directives/sidemenutoggle.js?v=1.0"></script>
        <script src="scripts/directives/editListData.js"></script>
        <script src="scripts/directives/ckEditor.js"></script>

        <script src="scripts/controllers/tours/allToursListCtrl.js"></script>
        <script src="scripts/constants/toursconstants.js?v=1.0"></script>
        <script src="scripts/controllers/tours/squadPlayerCtrl.js?v=1.0"></script>
        <script src="scripts/controllers/league/leagueTemplateCtrl.js?v=1.0"></script>
        <script src="scripts/controllers/tours/tourMatchesCtrl.js?v=1.0"></script>
        <script src="scripts/controllers/match/wicketDetailsCtrl.js?v=1.0"></script>
        <script src="scripts/controllers/league/createLeagueCtrl.js?v=1.0"></script>
        <script src="scripts/controllers/cricketApiCtrl.js?v=1.0"></script>
        <script src="scripts/filter/dateFilter.js?v=1.0"></script>
        <script src="scripts/controllers/crm/pancardVerifyCtrl.js?v=1.0"></script>
        <script src="scripts/controllers/crm/adminComplianceCtrl.js"></script>
        <script src="scripts/controllers/crm/docVerifyCtrl.js?v=1.0"></script>
        <script src="scripts/controllers/withdrawalApproveCtrl.js?v=1.0"></script>
        <script src="scripts/controllers/reports/leagueReportsCtrl.js?v=1.0"></script>
        <script src="scripts/controllers/reports/revenueReportCtrl.js?v=1.0"></script>
        <script src="scripts/controllers/reports/userTxnReportsCtrl.js?v=1.0"></script>
        <script src="scripts/controllers/reports/tallyReportCtrl.js?v=1.0"></script>
        <script src="scripts/controllers/reports/rakeReportCtrl.js?v=1.0"></script>
        <script src="scripts/controllers/reports/bonusReportCtrl.js?v=1.0"></script>
        <script src="scripts/controllers/reports/userCollectionReportCtrl.js?v=1.0"></script>
        <script src="scripts/controllers/gameTestingCtrl.js?v=1.0"></script>
        <script src="scripts/lib/sortArray.js?v=1.0"></script>
        <script src="scripts/constants/msgConstants.js?v=1.0"></script>
        <script src="scripts/constants/gameTestingData.js?v=1.0"></script>
        <script src="scripts/constants/serverApi.js?v=1.0"></script>
    </body>
</html>