<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12">
            <div class ="admnpnl-heading col-md-6">All Tours</div>   
            <div class="admnpnl-heading admnpnl-search-box form-group col-md-6 float-right">
                <label for="ex1" class="col-md-3">Search</label>
                <div class="col-md-6">
                     <input type="text"  class="form-control float-left search-box" ng-model="allTours.search">
                </div>
            </div>
        </div>
    </div>
    
    <div class="row display-center" ng-show="allTours.showAlert">
        <div class="col-md-8 alert-box  alert  alert-dismissible  display-center" ng-class="allTours.messageClass" role="alert" ng-show="allTours.showAlert">
            <button type="button" class="close alert-button" data-hide="alert" aria-label="Close" ng-click="allTours.onCloseAlert()"><span aria-hidden="true">&times;</span></button>
            <strong>&nbsp; &nbsp;</strong>{{allTours.message}}
        </div>
    </div>

    <div class="row report-wrapper">       
        <div class="col-md-12">
            <div class="table-responsive col-sm-12" >
                <table class="table">
                    <thead>
                        <tr class="table-header">
                            <th>Sr.no.</th>
                            <th>ID</th>
                            <th>Tour Name</th>
                            <th>Short Name</th>
                            <th>Start Date</th>                                                    
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat = "row in allTours.pageDataList  | filter :allTours.search" id='{{row.tourId}}'>
                            <td>{{$index+1}}</td>
                            <td>{{row.tourId}}</td>
                            <td>{{row.tourName}}</td>
                            <td>{{row.shortName}}</td>
                            <td>{{row.startDate * 1000| dateFormat}}</td>                                                  
                            <td>{{row.status}}</td> 
                            <td><a href="" class="editListData" ng-click="allTours.editTemplateData(row.tourId)" dataid="{{row.tourId}}" templatename="{{'edit-tour-detail'}}"><i class="fa fa-pencil-square-o font-25" aria-hidden="true"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>   
    
    <!-- Pagination -->
    <div class="row report-wrapper pagination-list" ng-if="allTours.pageDataList.length > 0">
        <div class="col-md-5">
            <div class="form-group marg-0">
                <b><label for="amount" class="col-md-4">Records Per Page</label></b>
                <div class="col-md-3">
                    <input type="text" class="form-control col-md-8" id="amount" ng-model="allTours.pageSize"  ng-only-number data-max-decimal-points="0" data-max-length="2">                           
                </div> 
                <div class="col-md-5">
                     <button type="button" class="btn btn-danger form-control col-md-4" ng-click="allTours.setPageSize()">Set Page</button>                           
                </div>
            </div>
        </div>
        <div class="col-md-7">                  
                <ul class="float-right marg-0">
                    <li ng-repeat="item in allTours.pageCount" ng-click="allTours.getPageList($index +1)" ng-class="allTours.pageIndex == $index ? 'bg-red' :''">{{$index+1}}</li>                    
                </ul>
        </div>  
        
    </div>

</div>