<div class="view-wrapper">
    <div class ="row">    
        <div class="col-sm-12"><div class ="admnpnl-heading">Player Squad List</div></div>
    </div>

    <div class="row display-center" ng-show="squadplayer.showAlert">
        <div class="col-md-8 alert-box  alert  alert-dismissible  display-center" ng-class="squadplayer.messageClass" role="alert" ng-show="squadplayer.showAlert">
            <button type="button" class="close alert-button" data-hide="alert" aria-label="Close" ng-click="squadplayer.onCloseAlert()"><span aria-hidden="true">&times;</span></button>
            <strong>&nbsp; &nbsp;</strong>{{squadplayer.message}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" ng-if="squadplayer.showForm">
            <form role="form" ng-submit="squadplayer.getPlayerListData()" class="admnpnl-form ">
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-3 label-text-center">Select Tour</label>
                        <div class="col-md-6">                           
                            <ui-select ng-model="squadplayer.selected" theme="bootstrap" ng-disabled="false"
                                       style="min-width: 300px;" title="Choose configuration" on-select="squadplayer.onSelectConfig($item, $model)"
                                       resetsearchmodel ng-change="squadplayer.getTeamList()">                      
                                <ui-select-match placeholder="Select Tournament">{{$select.selected.tourName}}</ui-select-match>
                                <ui-select-choices repeat="item in squadplayer.tourList">
                                    <div ng-bind-html="item.tourName | highlight: $select.search">
                                        {{$select.selected.item}}
                                    </div>
                                </ui-select-choices>             
                            </ui-select>
                        </div>                       
                    </div>
                </div>

                <div class="form-container padd-top-0">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-3">Select Team<sup>*</sup></label>
                        <div class="col-md-3">
                            <select class="form-control"  ng-model="squadplayer.key">
                                <option value="" selected>--Set Team--</option>
                                <option value="{{item.key}}" ng-repeat="item in squadplayer.teamList">{{item.name}}</option>                              
                            </select>                          
                        </div>                        
                    </div>                   
                </div>

                <div class="form-container padd-0">  
                    <div class="form-group clearfix">
                    <p>{{squadplayer.showPlayerListErrorMsg}}</p>                    
                    <div class="marg-0 col-md-11 vertical-center ">  
                            <button type="submit" class="btn btn-danger" value="Search" ng-paste="$event.preventDefault()" >Submit</button>    
                    </div>
                    
                    <div class="col-md-1" ng-if="squadplayer.showPlayerList > 0">                                
                        <i class="fa fa-arrow-circle-up font-25" ng-click="squadplayer.showHideFormFields('hide-form')" aria-hidden="true"></i>
                    </div>
                    </div>  
                </div>      
            </form>                       
        </div>

        <div class="col-sm-12 " ng-if="!squadplayer.showForm">
            <form role="form" class="admnpnl-form marg-0 ">
                <div class="form-container padd-0 bg-red ">
                    <div class="form-group vertical-center marg-0">
                        <div class="col-md-11">                                
                            <span><b>Show Selection Form</b></span>    
                        </div>
                        <div class="col-md-1">                                
                            <i class="fa fa-arrow-circle-down font-25" ng-click="squadplayer.showHideFormFields('show-form')" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    

    <div class="row">
        <div class="col-md-6">                      
        </div>    
    </div>

    <div class="row report-wrapper" ng-if="squadplayer.showPlayerList > 0">
        <div class="col-md-12">
            <div class="table-responsive col-sm-12" >
                <table class="table table-min-height">
                    <thead>                                       
                        <tr class="table-header">
                            <th>Sr. No.</th>
                            <th >
                                <div id="infoPlayer" class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Info
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu"  aria-labelledby="menu1">
                                        <li role="presentation">
                                            <input type="radio" class="marg-10" ng-model="squadplayer.playerType" role="menuitem" tabindex="-1" value="batsman" ng-click="squadplayer.getCategoryPlayer()">Batsman
                                        </li>
                                        <li role="presentation">
                                            <input type="radio" class="marg-10" ng-model="squadplayer.playerType" role="menuitem" tabindex="-1" value="bowler" ng-click="squadplayer.getCategoryPlayer()">Bowler
                                        </li>
                                        <li role="presentation">
                                            <input type="radio" class="marg-10" ng-model="squadplayer.playerType" role="menuitem" tabindex="-1" value="allrounder" ng-click="squadplayer.getCategoryPlayer()">All-rounder
                                        </li>
                                        <li role="presentation">
                                            <input type="radio" class="marg-10" ng-model="squadplayer.playerType" role="menuitem" tabindex="-1" value="keeper" ng-click="squadplayer.getCategoryPlayer()">Wkt-Keeper
                                        </li>
                                         <li role="presentation">
                                            <input type="radio" class="marg-10" ng-model="squadplayer.playerType" role="menuitem" tabindex="-1" value="all" ng-click="squadplayer.getCategoryPlayer()">All Players
                                        </li>
                                          
                                    </ul>
                                </div>
                            </th>
                            <th>Player Name</th>
                            <th>Team</th>
                            <th>Points</th>
                            <th>Credit</th> 
                            <th>Active</th> 
                        </tr>                                                          
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in squadplayer.playerList" id='{{item.tourId}}'>
                            <td>{{$index + 1}}</td>  
                            <td><i class="player-icon" ng-class="squadplayer.playerInfo(item)" ></i></td>  
                            <td>{{item.name}}</td>  
                            <td>{{item.team.name}}</td>   
                            <td>{{item.points}}</td>  
                            <td>{{item.credit}}</td>  
                            <td>{{item.status}}</td>
                            <td><a href="" class="editListData" dataid="{{item.tourId}}" ng-click="squadplayer.editPlayerDetail(item.tourId, item.playerId)"  templatename="{{'edit-player-squad'}}"><i class="fa fa-pencil-square-o font-25" aria-hidden="true"></i></a></td>
                        </tr>                            
                    </tbody>
                </table>
            </div>
        </div>            
    </div> 
</div>