<div class="view-wrapper">
    <div class ="row">    
        <div class="col-sm-12">
            <div class ="admnpnl-heading col-md-6">Tour Match Detail</div>   
            <div class="admnpnl-heading admnpnl-search-box form-group col-md-6 float-right marg-0">
                <label for="ex1" class="col-md-3">Search</label>
                <div class="col-md-6">
                    <input type="text"  class="form-control float-left search-box" ng-model = "tourMatches.search">
                </div>
            </div>
        </div>
    </div>

    <div class="row display-center" ng-show="tourMatches.showAlert">
        <div class="col-md-8 alert-box  alert  alert-dismissible  display-center" ng-class="tourMatches.messageClass" role="alert" ng-show="tourMatches.showAlert">
            <button type="button" class="close alert-button" data-hide="alert" aria-label="Close" ng-click="tourMatches.onCloseAlert()"><span aria-hidden="true">&times;</span></button>
            <strong>&nbsp; &nbsp;</strong>{{tourMatches.message}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" ng-if="tourMatches.showForm">
            <form role="form" ng-submit="tourMatches.getMatchList()" class="admnpnl-form">
                <div class="form-container">
                    <div class="form-group vertical-center">
                        <label for="username" class="col-sm-3 label-text-center">Select Tour</label>
                        <div class="col-sm-6">                           
                            <ui-select ng-model="tourMatches.selected" theme="bootstrap" ng-disabled="false"
                                       style="min-width: 400px;" title="Choose configuration" on-select="tourMatches.onSelectConfig($item, $model)"
                                       resetsearchmodel>                      
                                <ui-select-match placeholder="Select Tour">{{$select.selected.tourName}}</ui-select-match>
                                <ui-select-choices  repeat="item in tourMatches.tourList" >
                                    <div ng-bind-html="item.tourName | highlight: $select.search">
                                        {{$select.selected.tourName}}
                                    </div>
                                </ui-select-choices>             
                            </ui-select>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn search-btn" value="Search" ng-paste="$event.preventDefault()" >Submit</button>
                        </div>  
                        <div class="col-md-1" ng-if="tourMatches.matchlist.length > 0">                                
                            <i class="fa fa-arrow-circle-up font-25" ng-click="tourMatches.showHideFormFields('hide-form')" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div class="col-sm-12 " ng-if=" !tourMatches.showForm">
            <form role="form" class="admnpnl-form marg-0 ">
                <div class="form-container padd-0 bg-red ">
                    <div class="form-group vertical-center marg-0">
                        <div class="col-md-11">                                
                            <span><b>Show Selection Form</b></span>    
                        </div>
                        <div class="col-md-1">                                
                            <i class="fa fa-arrow-circle-down font-25" ng-click="tourMatches.showHideFormFields('show-form')" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="row report-wrapper" ng-if="tourMatches.matchlist.length > 0">
        <div class="col-md-12">
            <div class="table-responsive col-sm-12" >
                <table class="table">
                    <thead>                                       
                        <tr class="table-header">
                            <th>S. No.</th>
                            <th>Name</th>
                            <th>Related Name</th>                            
                            <th>Active Date</th>
                            <th>Review Status</th>
                            <th>Status</th>                              
                        </tr>                                                          
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in tourMatches.matchlist| filter :tourMatches.search" id='{{item.matchId}}'>
                            <td>{{$index + 1}}</td>                                   
                            <td>{{item.name}}</td>  
                            <td>{{item.relatedName}}</td>   
                            <td>{{tourMatches.getTime(item.startTime)}}</td>                                 
                            <td>{{item.matchPreviewStatus}}</td>  
                            <td>{{item.status}}</td>   
                            <td><a href="" class="editListData" dataid="{{item.matchId}}" ng-click="tourMatches.getMatchData(item.matchId)" templatename="{{'edit-match-detail'}}"><i class="fa fa-pencil-square-o font-25" aria-hidden="true"></i></a></td>
                        </tr>                            
                    </tbody>
                </table>
            </div>
        </div>            
    </div> 
</div>