

<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12">
            <div class ="admnpnl-heading">Wicket Details</div>            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form role="form"  class="admnpnl-form">
                <div class="form-container">
                    <div class="col-md-7">
                        <div class="form-group clearfix">
                            <label for="username" class="col-md-3 padd-left-0">Select Tour</label>
                            <div class="col-md-7">
                                <ui-select ng-model="wicketDetails.selected" theme="bootstrap" ng-disabled="false"
                                           title="Choose configuration" on-select="wicketDetails.onSelectConfig($item, $model)"
                                           resetsearchmodel>                      
                                    <ui-select-match placeholder="Select game configuration">{{$select.selected.tourName}}</ui-select-match>
                                    <ui-select-choices repeat="item in wicketDetails.tourList">
                                        <div ng-bind-html="item.tourName | highlight: $select.search">
                                            {{$select.selected.tourName}}
                                        </div>
                                    </ui-select-choices>             
                                </ui-select>                         
                            </div>                        
                        </div> 

                        <div class="form-group clearfix">
                            <label for="username" class="col-md-3 padd-left-0">Select Match list</label>
                            <div class="col-md-7">
                                <select class="form-control"  ng-model="wicketDetails.result.typeId" placeholder="Select Template">
                                    <option value="-1"  >--Select Template--</option>
                                    <option ng-repeat = "row in wicketDetails.templateTypeList" value={{row.typeId}}>
                                        {{row.pageDispName}}
                                    </option>
                                </select>                          
                            </div>                        
                        </div> 


                    </div>

                    <div class="col-md-5">

                        <!-- Enter Email Name -->
                        <div class="form-group clearfix">
                            <label for="username" class="col-md-3 padd-left-0">Select Team</label>
                            <div class="col-md-7">
                                <select class="form-control"  ng-model="wicketDetails.result.typeId" placeholder="Select Template">
                                    <option value="-1"  >--Select Template--</option>
                                    <option ng-repeat = "row in wicketDetails.templateTypeList" value={{row.typeId}}>
                                        {{row.pageDispName}}
                                    </option>
                                </select>                          
                            </div>                        
                        </div> 

                    </div>

                    <!-- Enter Email Content -->



                    <div class="form-group clearfix">
                        <div class="col-md-12 form-group clearfix display-center">
                            <div class=" form-btn-group">
                                <button type="submit" ng-click="wicketDetails.onSubmitFormData()" class="admnpnl-btn btn-red btn-md" ng-if="wicketDetails.showSaveBtn">Save</button>  
                            </div>
                        </div>                  
                    </div>

                    <!-- Display Order-->

                </div>
            </form>
        </div>
    </div>
    <div class="row report-wrapper">
        <div class="col-md-12">
            <div class="table-responsive col-sm-12">
                <table class="table">
                    <thead>
                        <tr class="table-header">
                            <th>S.No.</th>
                            <th>Player Name</th>
                            <th>PLayer Info</th>
                            <th>Team Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="{{1}}">
                            <td>{{1}}</td>
                            <td>{{"M S Dhoni"}}</td>
                            <td>{{"Wicket Keeper"}}</td>
                            <td>{{"India"}}</td>
                            <td><a href=""  dataid="1" class="editListData"
                                   templatename="{{'wicket-detail-update'}}"><i class="fa fa-pencil-square-o font-25" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="no-templates" ng-if="wicketDetails.wicketDetailsTemplatesArray.length == 0">
                <h4 class="text-center">
                    <p>There are no wicketDetails templates.</p><br/>
                    <p>Click Add Email Template to add create new templates.</p>
                </h4>
            </div>
        </div>
    </div>
</div>
