<div class="view-wrapper">
  <div class ="row">
    <div class="col-sm-12">
      <div class ="admnpnl-heading">Admin Message</div>
      <div class="sub-header-button">
        <button type="button" ng-click="adminMsg.showComposeMessageTemplate()" ng-disabled="!adminMsg.showMessagesList">Compose Message</button>
        <button type="button" ng-click="adminMsg.showMessagesListTemplate()" ng-disabled="adminMsg.showMessagesList">Message List</button>
      </div>
    </div>
  </div>

<!-- HTML Template for Send Message -->
  <div class="row" ng-if="!adminMsg.showMessagesList">
    <div class="col-sm-12">
      <form role="form" class="admnpnl-form send-msg-form">
        <div class="form-container">
          <div class="row display-center" ng-show="adminMsg.showAlert" >
              <div  class="col-md-8 alert-box  alert  alert-dismissible  display-center rupee-font rupee-msg " ng-class="adminMsg.messageClass" role="alert"  ng-show="adminMsg.showAlert">
                  <button type="button" class="close alert-button" ng-click="adminMsg.onCloseAlert()" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>&nbsp; &nbsp;</strong>{{adminMsg.message}}
              </div>
          </div>
          <div class="form-group vertical-center">
            <label for="username" class="col-sm-3 label-text-center">Select Game Config<sup>*</sup></label>
            <div class="col-sm-4">
              <ui-select ng-model="adminMsg.currentConfigName" theme="bootstrap" ng-disabled="false" style="min-width: 300px;" title="Choose configuration" on-select="adminMsg.onSelectConfig($item, $model)" resetsearchmodel>
                <ui-select-match placeholder="Select game configuration">{{$select.selected.configName}}</ui-select-match>
                <ui-select-choices repeat="config in adminMsg.configCollection | propsFilter: {configName: $select.search, configId: $select.search}">
                  <div ng-bind-html="config.configName | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="edit-section" ng-if="adminMsg.configId !== '-1'">
            <div class="form-group vertical-center">
              <label for="message" class="col-sm-3 label-text-center">Message<sup>*</sup></label>
              <div class="col-sm-4">
                <textarea id="message" class="form-control" maxlength="250" ng-model="adminMsg.messageInput" ng-keypress="adminMsg.messageError = ''"></textarea>
                <p><span class="field-error" ng-show="adminMsg.messageError !== ''">{{adminMsg.messageError}}</span></p>
              </div>
            </div>

            <div class="form-group vertical-center">
              <label for="time" class="col-sm-3 label-text-center ">Duration<sup>*</sup></label>
              <div class="col-sm-4">
                <input type="text" id="time" class="form-control dsp-in-blk" ng-only-number data-max-length="4" data-max-decimal-points="0" ng-model="adminMsg.durationInput" ng-keypress="adminMsg.durationError = ''"/> <span> seconds </span>
                <p><span class="field-error" ng-show="adminMsg.durationError !== ''">{{adminMsg.durationError}}</span></p>
              </div>
            </div>

            <div class="form-btn-group clearfix">
              <label for="time" class="col-sm-3 label-text-center "></label>
              <div class="col-sm-4">
                <button type="submit" class="admnpnl-btn btn-red btn-md send-message" ng-click="adminMsg.sendMessage()">Send Message</button>
              </div>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
<!-- HTML Template for Send Message -->

<!-- HTML Template for Show Messages List -->
  <div class="row" ng-if="adminMsg.showMessagesList">
      <div class="col-sm-12">
          <form role="form" class="admnpnl-form">

              <div class="form-container">
                <div class="form-group vertical-center">
                  <label for="username" class="col-sm-3 label-text-center">Select Game Config<sup>*</sup></label>
                  <div class="col-sm-4">
                    <ui-select ng-model="adminMsg.currentConfigName" theme="bootstrap" ng-disabled="false" style="min-width: 300px;" title="Choose configuration" on-select="adminMsg.onSelectConfig($item, $model)" resetsearchmodel>
                      <ui-select-match placeholder="Select game configuration">{{$select.selected.configName}}</ui-select-match>
                      <ui-select-choices repeat="config in adminMsg.configCollection | propsFilter: {configName: $select.search, configId: $select.search}">
                        <div ng-bind-html="config.configName | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                    <p><span class="field-error" ng-show="(!adminMsg.configCollection.configName) && adminMsg.selectConfigError" style="">Please select Configuration</span></p>
                </div>
              </div>

                  <div class="form-group clearfix">
                      <label class="col-md-3" >From Date<sup>*</sup></label>
                      <div class="dropdown col-md-4">
                          <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown">
                              <div class="input-group">
                                  <input type="text"  class="form-control" data-ng-model="adminMsg.dateRangeStart" data-date-time-input="YYYY-MM-DD" >
                                  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                              </div>
                              <p><span class="field-error" ng-show="adminMsg.dateRangeStart === undefined">{{adminMsg.dateRangeStartError}}</span></p>
                          </a>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                              <datetimepicker data-ng-model="adminMsg.dateRangeStart" data-datetimepicker-config="{ dropdownSelector: '#dropdown1',minView:'day'}" data-before-render="beforeRenderStartDate($view, $dates, $leftDate, $upDate, $rightDate)"/>
                          </ul>
                      </div>
                  </div>

                  <div class="form-group clearfix">
                      <label class="col-md-3">To Date<sup>*</sup></label>
                      <div class="dropdown col-md-4">
                          <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" >
                              <div class="input-group">
                                  <input type="text" class="form-control " data-ng-model="adminMsg.dateRangeEnd" data-date-time-input="YYYY-MM-DD">
                                  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                              </div>
                              <p><span class="field-error" ng-show="adminMsg.dateRangeEnd === undefined">{{adminMsg.dateRangeEndError}}</span></p>
                          </a>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                              <datetimepicker data-ng-model="adminMsg.dateRangeEnd" data-datetimepicker-config="{ dropdownSelector: '#dropdown2',minView:'day' }" data-before-render="beforeRenderEndDate($view, $dates, $leftDate, $upDate, $rightDate)"/>
                          </ul>
                      </div>
                  </div>

                  <div class="form-group clearfix">
                      <label for="" class="col-md-3"></label>
                      <div class="form-btn-group">
                          <button type="button" class="admnpnl-btn btn-red btn-md" ng-click="adminMsg.getMessagesList()">Search</button>
                      </div>

                  </div>

              </div>
          </form>
      </div>
  </div>


  <div class="row report-wrapper" ng-if="adminMsg.showMessagesList && adminMsg.messageArray.length > 0">
    <div class="col-md-12">
      <div class="table-responsive col-sm-12">
        <table class="table">
          <thead>
            <tr class="table-header">
              <th style="width: 10%;">S.No.</th>
              <th style="width: 20%;">Date/Time</th>
              <th style="width: 10%;">Duration</th>
              <!-- <th>Config</th> -->
              <th style="width: 60%;">Message</th>
              <!-- <th>Duration</th> -->

            </tr>
          </thead>
          <tbody>
            <tr ng-repeat = "row in adminMsg.messageArray">
              <td>{{$index + 1}}</td>
              <td >{{row.messageDate | characters:40}}</td>
              <td>{{row.messageDuration}} secs</td>
              <td>{{row.message | characters:250}}</td>

              <!-- <td><button type="button" class="admnpnl-btn btn-grey resend-btn" data-config-id = {{row.configId}} ng-click="adminMsg.resendMessage(row)">Resend</button></td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row report-wrapper" ng-if="adminMsg.showMessagesList && adminMsg.messageArray.length === 0">
    <div class="col-md-12">
      <div class="no-templates" ng-if="adminMsg.messageArray.length === 0">
        <h4 class="text-center">
          <p>There are no messages.</p>
        </h4>
      </div>
    </div>
  </div>

<!-- HTML Template for Show Messages List -->

</div>
