<div class="view-wrapper">
    <div class ="row">    
        <div class="col-sm-12"><div class ="admnpnl-heading">Cricket Api</div></div>
    </div>
    
    <div class="row display-center" ng-show="cricketApi.showAlert">
        <div class="col-md-8 alert-box  alert  alert-dismissible  display-center" ng-class="cricketApi.messageClass" role="alert" ng-show="cricketApi.showAlert">
            <button type="button" class="close alert-button" data-hide="alert" aria-label="Close" ng-click="cricketApi.onCloseAlert()"><span aria-hidden="true">&times;</span></button>
            <strong>&nbsp; &nbsp;</strong>{{cricketApi.message}}
        </div>
    </div>

    <div class="row">
        <div class="padd-10">
            <div class="col-sm-4">         
                <div class="form-container">                  
                    <p>{{cricketApi.showPlayerListErrorMsg}}</p>                    
                    <div class="marg-0 vertical-center ">
                        <label for="username" class="col-sm-3 label-text-center"></label>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-danger" value="Search" ng-paste="$event.preventDefault()" ng-click="cricketApi.updateTour()" >Update Tour</button>
                        </div>
                    </div>
                </div>                               
            </div>
            
            <div class="col-sm-4">           
                <div class="form-container">                  
                        <p>{{cricketApi.showPlayerListErrorMsg}}</p>                    
                    <div class="marg-0 vertical-center ">
                        <label for="username" class="col-sm-3 label-text-center"></label>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-danger" value="Search" ng-paste="$event.preventDefault()" ng-click="cricketApi.updateMatch()" >Update Match</button>
                        </div>
                    </div>
                </div>                                       
           </div>
            
           <div class="col-sm-4">          
                <div class="form-container">                  
                        <p>{{cricketApi.showPlayerListErrorMsg}}</p>                    
                    <div class="marg-0 vertical-center ">
                        <label for="username" class="col-sm-3 label-text-center"></label>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-danger" value="Search" ng-paste="$event.preventDefault()" ng-click="cricketApi.updatePlayer()">Update Player</button>
                        </div>
                    </div>
                </div>                               
           </div>
            
   <!--        <div class="col-sm-4 padd-10">
                <div class="form-container">                  
                        <p>{{cricketApi.showPlayerListErrorMsg}}</p>                    
                    <div class="marg-0 vertical-center ">
                        <label for="username" class="col-sm-3 label-text-center"></label>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-danger editListData" dataid="{{'editMatchPoints'}}" templatename="{{'update-match-points'}}" ng-click="cricketApi.getchAllTourList()"> 
                                Update Match Points 
                            </button>
                        </div>
                    </div>
                </div>                               
           </div>-->
            
        </div>  
    </div> 
</div>
