<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12"><div class ="admnpnl-heading">Dashboard</div></div>
    </div>
    <div class="row">  
        <div class="col-sm-12">       
            <form role="form" ng-submit="onSubmitFormData()">

                <div class="form-group form-container">

                   

                    <div class="row admpnl-input-group center-align">
                        
                    </div>
                    <div class="row admpnl-input-group center-align">
                       
                    </div>

                    <div class="row admpnl-input-group center-align">
                       
                    </div>

                    <div class="row admpnl-input-group center-align">
                        
                    </div>

                    <div class="row admnpnl-button-group">
                       
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>