<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12">
            <div class ="admnpnl-heading">CMS Template</div>
            <div class="sub-header-button">
                <button type="button" ng-click="editor.addCmsTemplate()" ng-disabled="editor.userAction == 'ADD_TEMPLATE'">Add CMS Template</button>
                <button type="button" ng-click="editor.listCmsTemplates();editor.showTemplateList = true" ng-disabled="editor.userAction == 'LIST_TEMPLATE'">List templates</button>
                <!--                    Preview Button            <button type="button" ng-click="editor.preview()">Preview</button>-->
            </div>
        </div>
    </div>
    <div class="row" ng-if="!editor.showTemplateList">
        <div class="col-md-12">
            <form role="form"  class="admnpnl-form">
                <div class="form-container">

                    <div class="row display-center" ng-show="editor.showAlert" >
                        <div  class="rupee-font rupee-msg col-md-8 alert-box  alert  alert-dismissible  display-center" ng-class="editor.messageClass" role="alert"  ng-show="editor.showAlert">
                            <button type="button" class="close alert-button" ng-click="editor.onCloseAlert()" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>&nbsp; &nbsp;</strong>{{editor.message}}
                        </div>
                    </div>
                    
                    <div class="col-md-6">

                        <div class="form-group clearfix">
                            <label for="username" class="col-md-5">Template list</label>
                            <div class="col-md-7">
                                <select class="form-control"  ng-model="editor.result.typeId" placeholder="Select Template" >
                                    <option value="-1"  >--Select Template--</option>
                                    <option ng-repeat = "row in editor.templateTypeList" value={{row.typeId}}>
                                        {{row.pageDispName}}
                                    </option>
                                </select>                          
                            </div>                        
                        </div> 
                        
                        <div class="form-group clearfix">
                            <label  class="col-md-5">Page display name<sup>*</sup></label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="editor.result.pageDispName">
                                <p class="field-error">{{editor.errorMsg.pageDispNameError}}</p>
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <label  class="col-md-5">Page title<sup>*</sup></label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="editor.result.pageTitle">
                                <p class="field-error">{{editor.errorMsg.pageTitleError}}</p>
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <label  class="col-md-5">Page URL name<sup>*</sup></label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="editor.result.urlName">
                                <p class="field-error">{{editor.errorMsg.urlNameError}}</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group clearfix">
                            <label  class="col-md-5">Meta Description<sup>*</sup></label>
                            <div class="col-md-7">
                                <textarea type="text" class="form-control" ng-model="editor.result.metaDescription"></textarea>
                                <p class="field-error">{{editor.errorMsg.metaDescriptionError}}</p>
                            </div>
                        </div>

                        <!-- Enter Email Name -->
                        <div class="form-group clearfix">
                            <label  class="col-md-5">Meta Keyword<sup>*</sup></label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="editor.result.metaKeywords">
                                <p class="field-error">{{editor.errorMsg.metaKeywordsError}}</p>
                            </div>
                        </div>


                        <!-- Enter Email Subject -->

                        <div class="form-group clearfix">
                            <label  class="col-md-5">Meta Title<sup>*</sup></label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="editor.result.metaTitle">
                                <p class="field-error">{{editor.errorMsg.metaTitleError}}</p>
                            </div>
                        </div>
                    </div>

                    

                    <!-- Enter Email Content -->
                    <div class="form-cont col-md-12">
                        <div class="form-group clearfix">
                            <label  class="pad0">Page Content: </label>
                            <span class="field-error" style="padding: 3px 10px;">{{editor.errorMsg.pageContentError}}</span>
                            <div class="editor-wrapper">
                                <textarea ng-model="editor.result.pageContent" data-ck-editor></textarea>
                            </div>
                        </div>
                    </div>



                    <div class="form-group clearfix">
                        <div class="col-md-12 form-group clearfix display-center">
                            <div class=" form-btn-group">
                                <button type="submit" ng-click="editor.onSubmitFormData()" class="admnpnl-btn btn-red btn-md" ng-if="editor.showSaveBtn">Save</button>  
                                <button type="button" ng-click="editor.onUpdateFormData()" class="admnpnl-btn btn-red btn-md"  ng-if="!editor.showSaveBtn">Update</button>
                            </div>
                        </div>                  
                    </div>

                    <!-- Display Order-->

                </div>
            </form>
        </div>
    </div>
    <div class="row report-wrapper"  ng-if="editor.showTemplateList">
        <div class="col-md-12">
            <div class="table-responsive col-sm-12" ng-if="editor.cmsTemplatesList.length > 0">
                <table class="table">
                    <thead>
                        <tr class="table-header">
                            <th>S.No.</th>
                            <th>Page Name</th>
                            <th>Title Name</th>
                            <th>URL Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat = "row in editor.cmsTemplatesList">
                            <td>{{$index + 1}}</td>
                            <td>{{row.pageDispName| characters:25}}</td>
                            <td>{{row.pageTitle| characters:25}}</td>
                            <td>{{row.urlName| characters:40}}</td>
                            <td><a href="" data-template-id = {{row.templateId}} ng-click="editor.loadCMSPageData(row.pageId)">Edit</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="no-templates" ng-if="editor.editorTemplatesArray.length == 0">
                <h4 class="text-center">
                    <p>There are no editor templates.</p><br/>
                    <p>Click Add Email Template to add create new templates.</p>
                </h4>
            </div>
        </div>
    </div>


</div>











































<!--


<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12">
            <div class ="admnpnl-heading">HTML Editor</div>
            <div class="sub-header-button"><button type="button" ng-click="editor.preview()"> Preview</button></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form role="form"  class="admnpnl-form">
                <div class="form-container">

                    <div class="row display-center" ng-show="editor.showAlert" >
                        <div  class="rupee-font rupee-msg col-md-8 alert-box  alert  alert-dismissible  display-center" ng-class="editor.messageClass" role="alert"  ng-show="editor.showAlert">
                            <button type="button" class="close alert-button" ng-click="editor.onCloseAlert()" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>&nbsp; &nbsp;</strong>{{editor.message}}
                        </div>
                    </div>

                     Select Page Type 
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-3">Select Page Type<sup>*</sup></label>
                        <div class="col-md-4">
                            <select class="form-control" ng-model="editor.editor.pageId" placeholder="Select Page Type" ng-change="editor.loadPageData(editor.editor.pageId)" >
                                <option value="-1"  >--Select Page Type--</option>
                                <option ng-repeat = "row in editor.rowCollection" value={{row.pageId}}>
                                    {{row.name}}
                                </option>
                            </select><p class="field-error">{{editor.selectPageWarning}}</p>
                        </div>
                    </div>


                     Enter Page Name 
                    <div class="form-group clearfix">
                        <label  class="col-md-3">Enter Page Name<sup>*</sup></label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="editor.editor.pageDispName">
                            <p class="field-error">{{editor.pageNameWarning}}</p>
                        </div>
                    </div>


                     Page URL                   
                    <div class="form-group clearfix">
                        <label  class="col-md-3">Enter Page URL</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="editor.editor.urlName">

                        </div>
                    </div>


                     Page Editor
                    <div class="form-cont">
                        <div class="form-group clearfix">
                        <label  class="pad0">Enter Page Content: </label>
                                                
                                                <div class="editor-wrapper">
                              <textarea ng-model="editor.editor.pageContent" data-ck-editor></textarea>
                            </div>

                           
                        </div>
                    </div>


                    <div class="form-cont">
                        <div class="form-group clearfix">
                        <label  class="pad0">Upload Images: </label>
                            <div class="upload-wrapper">  
                                <div class="image-table-container">
                                    <table class="table user-can-select">
                                        <thead>
                                            <tr>
                                                <th>S.No.</th>
                                                <th>Image Name</th>
                                                <th>Image</th>
                                                <th>Size</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                            <tr ng-repeat="f in files" >
                                                <td >{{$index + 1}}</td>
                                                <td >STATIC_URL/cms_image/{{f.name}}</td>
                                                <td ><img style="width :50px" class="thumb" ng-src="{{f.$ngfBlobUrl}}"></td>
                                                <td>{{f.size / 1024| number }}{{' KB'}}</td>                                           
                                                <td >
                                                    {{f.message}}
                                                     <span  ng-if="!f.progress" ng-bind="0 + '%'"></span>
                                                     <span  ng-show="f.progress >0"  ng-bind="f.progress + '%'"></span>
                                                </td>                                            
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-xs" ng-click="removeImage(f)">
                                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                                    </button>
                                                </td>
                                            </tr>
      
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <div class ="form-btn-group display-center form-btn-bottom">
                                        <button class="admnpnl-btn btn-red btn-md"  ngf-select="saveImageFile($files, $invalidFiles)"  accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                                            Select</button>
                                        <button class="admnpnl-btn btn-red btn-md" ng-click="uploadFiles()" >                                    Upload</button>
                                    </div>
                                </div>                                                                    
                            </div>                          
                        </div>  
                    </div>


                     Enter Meta Title
                    <div class="form-group clearfix">
                        <label  class="col-md-3">Enter Meta Title</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="editor.editor.title">

                        </div>
                    </div>



                     Meta Keywords
                    <div class="form-group clearfix">
                        <label  class="col-md-3">Meta Keywords</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="editor.editor.keywords">

                        </div>
                    </div>

                     Meta Description
                    <div class="form-group clearfix">
                        <label  class="col-md-3">Meta Description</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="editor.editor.description">

                        </div>
                    </div>


                     Display Order
                    <div class="form-group clearfix" ng-if="!editor.isExist">
                        <label for="" class="col-md-3"></label>
                        <div class="form-btn-group">
                            <button type="submit" ng-click="editor.onSubmitFormData()" class="admnpnl-btn btn-red btn-md">Save</button>                         
                        </div>
                    </div>
                    <div class="form-group clearfix" ng-if="editor.isExist">
                        <label for="" class="col-md-3"></label>
                        <div class="form-btn-group">
                            <button type="button" ng-click="editor.onUpdateFormData()" class="admnpnl-btn btn-red btn-md">Update</button>                         
                        </div>
                    </div>
            </form>
        </div>
    </div>
    
    
-->