<div class="modal-header">
    <h3 class="modal-title">HTML Editor </h3>
</div>
<div class="modal-body-editor">
    <iframe width="100%" height="420px" ng-src="" iframe-onload="editor.iframeLoadedCallBack()">
    </iframe>
</div>