<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12">
            <div class ="admnpnl-heading">Email Templates</div>
            <div class="sub-header-button">
                <button type="button" ng-click="email.addEmailTemplate()" ng-disabled="email.userAction == 'ADD_TEMPLATE'">Add Email Template</button>
                <button type="button" ng-click="email.listEmailTemplates();email.showTemplateList = true" ng-disabled="email.userAction == 'LIST_TEMPLATE'">List templates</button>
<!--                <button type="button" ng-click="email.preview()">Preview</button>-->
            </div>
        </div>
    </div>
    <div class="row" ng-if="!email.showTemplateList">
        <div class="col-md-12">
            <form role="form"  class="admnpnl-form">
                <div class="form-container">

                    <div class="row display-center" ng-show="email.showAlert" >
                        <div  class="rupee-font rupee-msg col-md-8 alert-box  alert  alert-dismissible  display-center" ng-class="email.messageClass" role="alert"  ng-show="email.showAlert">
                            <button type="button" class="close alert-button" ng-click="email.onCloseAlert()" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>&nbsp; &nbsp;</strong>{{email.message}}
                        </div>
                    </div>
                 
                    <!-- Enter Email Type -->
                    <div class="form-group clearfix">
                        <label  class="col-md-3">Enter Template Type<sup>*</sup></label>
                        <div class="col-md-4">
                            <input type="text" class="form-control " ng-model="email.result.templateType">
                            <p class="field-error">{{email.errorData.templateTypeError}}</p>
                        </div>
                    </div>
                    
                    <!-- Enter Email Name -->
                    <div class="form-group clearfix">
                        <label  class="col-md-3">Enter Email Name<sup>*</sup></label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="email.result.emailName">
                            <p class="field-error">{{email.errorData.emailNameError}}</p>
                        </div>
                    </div>


                    <!-- Enter Email Subject -->
                    <div class="form-group clearfix">
                        <label  class="col-md-3">Enter Email Subject<sup>*</sup></label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="email.result.emailSubject">
                            <p class="field-error">{{email.errorData.emailSubjectError}}</p>
                        </div>
                    </div>


                    <!-- Enter Email Content -->
                    <div class="form-cont">
                        <div class="form-group clearfix">
                        <label  class="pad0">Enter Email Content: </label>
                            <span class="field-error" style="padding: 3px 10px;">{{email.errorData.emailBodyError}}</span>
                            <div class="email-wrapper">
                                <textarea ng-model="email.result.emailBody" data-ck-editor></textarea>
                            </div>

                           
                        </div>
                    </div>


                    <!-- Display Order-->
                    <div class="form-group clearfix" ng-if="!email.isExist">
                        <label for="" class="col-md-3"></label>
                        <div class="form-btn-group">
                            <button type="submit" ng-click="email.saveEmailTemplate()" class="admnpnl-btn btn-red btn-md">Save</button>                         
                        </div>
                    </div>
                    <div class="form-group clearfix" ng-if="email.isExist">
                        <label for="" class="col-md-3"></label>
                        <div class="form-btn-group">
                            <button type="button" ng-click="email.updateEmailTemplate()" class="admnpnl-btn btn-red btn-md" >Update</button>                         
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row report-wrapper"  ng-if="email.showTemplateList">
    <div class="col-md-12">
        <div class="table-responsive col-sm-12" ng-if="email.emailTemplatesArray.length > 0">
            <table class="table">
                <thead>
                    <tr class="table-header">
                        <th>S.No.</th>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Subject</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat = "row in email.emailTemplatesArray">
                        <td>{{$index + 1}}</td>
                        <td>{{row.templateType | characters:25}}</td>
                        <td>{{row.emailName | characters:25}}</td>
                        <td>{{row.emailSubject | characters:40}}</td>
                        <td><a href="" data-template-id = {{row.templateId}} ng-click="email.loadEmailTemplate(row.templateId)">Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="no-templates" ng-if="email.emailTemplatesArray.length == 0">
            <h4 class="text-center">
                <p>There are no email templates.</p><br/>
                <p>Click Add Email Template to add create new templates.</p>
            </h4>
        </div>
    </div>
</div>
    
    
</div>