<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12">
            <div class ="admnpnl-heading col-md-6">Game Testing</div>
            <div class="admnpnl-heading admnpnl-search-box form-group col-md-6 float-right">

            </div>
        </div>
    </div>

    <div class="view-wrapper fantasy-form-container">
        <div class ="row">
            <div class="col-sm-12">
                <form role="form" ng-submit="gameTesting.onSubmitFormData()">
                    <div class="col-sm-6">
                        <div class="form-group clearfix">
                            <label for="username" class="col-md-5">Select Template</label>
                            <div class="col-md-7">

                                <select class="form-control" ng-model="gameTesting.templateId"
                                        ng-change="gameTesting.onChangeScoreTemplate()" >
                                    <option value="-1" selected>---Select Score Template---</option>
                                    <option value="{{item.templateId}}" ng-repeat="item in gameTesting.gameScoreTemplateList">{{item.templateName}} ({{item.templateId}})</option>
                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group clearfix">
                            <label for="username" class="col-md-5">Select Match Type</label>
                            <div class="col-md-7">
                                <select class="form-control" ng-model="gameTesting.matchType" ng-change="gameTesting.onChangeMatchType()">
                                    <option value="-1" selected>---Select Match Type---</option>
                                    <option value="{{item.gameFormat}}" ng-repeat="item in gameTesting.matchTypeList">{{item.gameFormat}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group clearfix">
                            <label for="username" class="col-md-5">Enter Template Name</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="gameTesting.templateName">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="row report-wrapper padd-0">
        <div class="col-md-12 padd-0">
            <div class="table-responsive padd-0 col-sm-12 amt-withdrawal game-score-table" ng-if="gameTesting.templateId != 1">
               <table class="table">
                    <thead>
                        <tr style="background-color:#EAEAEA; color:#09283d;">
                            <th>Player</th>
                            <th colspan="6">Batting</th>
                            <th colspan="4">Bowling</th>
                            <th colspan="3">Fielding</th>
                            <th>Total</th>
                        </tr>
                        <tr style="background-color:#EAEAEA; color:#09283d;">
                            <th width="19%">&nbsp;</th>
                            <th>Runs</th>
                            <th width="4%">4's</th>
                            <th width="4%">6's</th>
                            <th width="5%">S/R</th>
                            <th>Balls</th>
                            <th>Dismissed</th>
                            <th>Wkts</th>
                            <th width="4%">Maiden</th>
                            <th width="4%">E/R</th>
                            <th>Overs</th>
                            <th>Catches</th>
                            <th width="5%">Runouts</th>
                            <th>Stumps</th>
                        </tr>
                    </thead>
                   <tbody>

                       <tr class="table-row-center form-group " ng-repeat="item in gameTesting.gameScoreData.data.card.players">
                           <td>{{item.fullname}}</td>
                           <td><input type="number" class="form-control" ng-model="item.match.innings['1'].batting.runs"></td>
                           <td><input type="number" class="form-control" ng-model="item.match.innings['1'].batting.fours"></td>
                           <td><input type="number" class="form-control" ng-model="item.match.innings['1'].batting.sixes"></td>
                           <td><input type="number" class="form-control" ng-model="item.match.innings['1'].batting.strike_rate"></td>
                           <td><input type="number" class="form-control" ng-model="item.match.innings['1'].batting.balls"></td>
                           <td>
                               <select ng-model="item.match.innings['1'].batting.dismissed" ng-options="gameTesting.boolToStr(x) for x in [true, false]">
                               </select>
                           </td>
                           <td><input type="number" class="form-control" ng-model="item.match.innings['1'].bowling.wickets"></td>
                           <td><input type="number" class="form-control" ng-model="item.match.innings['1'].bowling.maiden_overs"></td>
                           <td><input type="number" class="form-control" ng-model="item.match.innings['1'].bowling.economy"></td>
                           <td><input type="number" class="form-control" ng-model="item.match.innings['1'].bowling.overs"></td>
                           <td><input type="number" class="form-control" ng-model="item.match.innings['1'].fielding.catches"></td>
                           <td><input type="number" class="form-control" ng-model="item.match.innings['1'].fielding.runouts"></td>
                           <td><input type="number" class="form-control" ng-model="item.match.innings['1'].fielding.stumbeds"></td>

                           <td>{{gameTesting.calcPlayerPoints(item)}}</td>
                       </tr>


                   </tbody>
                </table>

                <div class="col-sm-6">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Data Review Checkpoint</label>
                        <div class="col-md-7">

                            <select class="form-control" ng-model="gameTesting.gameScoreData.data.card.data_review_checkpoint">
                                <option value="pre-match-validated">Pre match validated</option>
                                <option value="post-match-validated">Post match validated</option>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Status Overview</label>
                        <div class="col-md-7">

                            <select class="form-control" ng-model="gameTesting.gameScoreData.data.card.status_overview">
                              <option value="in_play">In Play</option>
                              <option value="result">Result</option>
                              <option value="abandoned">Abandoned</option>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Status</label>
                        <div class="col-md-7">

                            <select class="form-control" ng-model="gameTesting.gameScoreData.data.card.status">
                              <option value="started">Started</option>
                              <option value="completed">Completed</option>
                              <option value="notstarted">Not started</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>

            <div  ng-if="gameTesting.templateId == 1">
              <div class="simulator-data-div">
                <textarea type="text" class="form-control" ng-model="gameTesting.simulatorData" ></textarea>
              </div>
            </div>

            <div class="form-group clearfix">
                <label for="" class="col-md-3"></label>
                <div class="form-btn-group">
                    <button type="button" class="admnpnl-btn btn-red btn-md" ng-click="gameTesting.onGamePointsAction()" ng-if="gameTesting.templateId == -1">Submit</button>
                    <button type="button" class="admnpnl-btn btn-red btn-md" ng-click="gameTesting.onGamePointsAction()"  ng-if="gameTesting.templateId != -1">Update</button>
                    <button type="button" class="admnpnl-btn  btn-md btn-grey" ng-click="gameTesting.resetGameTestingData()">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>
