<div class="row">
  <div class="login-box container">
    <div class="fontcolor-white login-header">Login</div>
    <div class="login-container">
      <form role="form" ng-submit="login.onLoginClick()">
        <div class="error-msg error" ng-show="login.message">{{login.message}}</div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" class="form-control" ng-model="login.result.userName"/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" ng-model="login.result.password"/>
        </div>
        <div class="btn-group">
          <button type="submit" class="admnpnl-btn btn-red login-btn">  Login  </button>
        </div>
      </form>
    </div>
  </div>
</div>

