<div class="view-wrapper">
    <div class ="row"><!--
         <div class="sidebar-toggle" ng-if="menuSlide.isSlide" ng-click="menuSlide.menuToggle =  !menuSlide.menuToggle; menuSlide.isTransition = true"></div> -->
        <div class="col-sm-12"><div class ="admnpnl-heading">SFS Exceptions</div></div>
    </div>
    <div class="row">

        <div class="col-sm-12">
            <form role="form" ng-submit="sfsexp.onSubmitFormData()">

                <div class="" style="background: #f2f2f2;">
                    <div class="row admpnl-input-group display-center">
                        <div class="col-sm-10 fliter-div-margin">
                            <div class="display-center">

                                <div class="dropdown form-group col-md-6 vertical-center">
                                    <div class="col-md-5">
                                        <input type ="radio" name="exception"  value="SFS" ng-model="sfsexp.serverName">
                                        <span>SFS Exception</span>
                                    </div>
                                    <div class="col-md-7 ">
                                        <input type ="radio" name="exception" value="NODE" ng-model="sfsexp.serverName">
                                        <span>Node Server Exception</span>
                                    </div>
                                </div>
                                <div class="dropdown form-group input-group-date col-md-6">

                                    <label class="label-input-text label-calander-text" >Date</label>
                                    <a class="dropdown-toggle display-inline date-picker" id="dropdown1" role="button" data-toggle="dropdown" >
                                        <div class="input-group date col-md-8">
                                            <input type="text"  class="form-control" data-ng-model="sfsexp.exceptionDate" data-date-time-input="YYYY-MM-DD" >
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="sfsexp.exceptionDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown1',minView:'day'}" data-before-render="beforeRenderStartDate($view, $dates, $leftDate, $upDate, $rightDate)"/>
                                    </ul>
                                </div>
                                <div class="form-btn-group">
                            <button type="button" class="admnpnl-btn btn-red btn-md btn-exception" ng-click="sfsexp.onSubmitFormData()">Search</button>
                         </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row report-wrapper" ng-if="sfsexp.rowCollection">
        <div class="table-responsive col-sm-12">
            <table class="table">
                <tbody>
                    <tr class="table-header">
                        <th class="display-center">{{sfsexp.server + ' Exception Report'}}</th>

                    </tr>
                    <tr ng-if="sfsexp.rowCollection.length == 0">

                        <td class="display-center"> No Result found</td>

                    </tr>
                    <tr ng-if="sfsexp.rowCollection.length != 0">

                        <td> <json-explorer json-data="sfsexp.rowCollection"></json-explorer> </td>

                   </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
