<!-- Left side column. contains the logo and sidebar -->
<div class="sidemenu-toggle" ng-if="menuSlide.isSlide"></div>
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
    	<!-- <div class="sidebar-toggle"></div> -->
        <ul class="admnpnl-menu" >
            <li ng-repeat = "row in menu.menuCollection"  ng-class="{'selected' : isMenuSelected == $index}" ng-click="menu.onMenuSelect($index)">
                <a ui-sref="{{row.uihref}}">
                    <span class="sidebar-icon" ng-class="row.icon"></span>
                    <span class="menu-item-text">{{row.name}}</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
