<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12">
            <div class ="admnpnl-heading col-md-6">Withdrawal Approval by Accounts</div>   
            <div class="admnpnl-heading admnpnl-search-box form-group col-md-6 float-right">
                <label for="ex1" class="col-md-3">Search</label>
                <div class="col-md-6">
                     <input type="text"  class="form-control float-left search-box" ng-model = "withdrawalApprove.search">
                </div>
            </div>
        </div>
    </div>
    
    <div class="row display-center" ng-show="withdrawalApprove.showAlert">
        <div class="col-md-8 alert-box  alert  alert-dismissible  display-center" ng-class="withdrawalApprove.messageClass" role="alert" ng-show="withdrawalApprove.showAlert">
            <button type="button" class="close alert-button" data-hide="alert" aria-label="Close" ng-click="withdrawalApprove.onCloseAlert()"><span aria-hidden="true">&times;</span></button>
            <strong>&nbsp; &nbsp;</strong>{{withdrawalApprove.message}}
        </div>
    </div>
     <div class="row report-wrapper padd-0" ng-if="!withdrawalApprove.withdrawalList">      
        <div class="col-md-12 padd-0">
            <div class="table-responsive padd-0 col-sm-12 amt-withdrawal text-center marg-10">
                <b><p class="padd-10">No Withdrawal request to approve.</p> </b> 
            </div>          
        </div>
    </div>
    <div class="row report-wrapper padd-0" ng-if="withdrawalApprove.withdrawalList">      
        <div class="col-md-12 padd-0">
            <div class="table-responsive padd-0 col-sm-12 amt-withdrawal">
                <table class="table">                   
                    <thead>
                        <tr class="table-header">
                            <th>S.No.</th>                            
                            <th>User Info</th>                          
                            <th>Acc. Info</th>                           
                            <th>Pan Info</th>
                            <th>With. Amt.</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr id="{{1}}" ng-repeat="item in withdrawalApprove.withdrawalList | filter :withdrawalApprove.search">
                            <td>{{$index+1}}</td>
                            <td><ul class="txt-align-left">
                                    <li><b>Screen Name :</b>{{item.user.screenName}}</li>
                                    <li><b>UserId : </b>{{item.user.userId}}</li>
                                    <li><b>email-id :</b>{{item.user.emailId}}</li>
                                </ul>
                            </td>

                            <td>
                                <ul class="txt-align-left">
                                    <li><b>Bonus Amt. :</b>{{item.wallet.bonusAmt}}</li>
                                    <li><b>Winning Amt : </b>{{item.wallet.winningAmt}}</li>
                                    <li><b>Deposit Amt. </b>{{item.wallet.depositAmt}}</li>
                                    
                                   
                                </ul>
                            </td>
                            <td><ul class="txt-align-left">
                                    <li><b>PAN No. :</b>{{item.panCard.panNumber}}</li>
                                    <li><b>Verified :  <label ng-class="item.user.isPanCardVerified == 'YES'?'color-green':'color-red'">{{item.user.isPanCardVerified}}</label></b></li>
                                    <li><b>Account No. :</b>{{item.bank.accountNumber}}</li>
                                    <li><b>Bank Name:</b>{{item.bank.bankName}}</li>
                                    <li><b>Branch Name :</b>{{item.bank.branch}}</li>
                                    <li><b>IFSC code. :</b>{{item.bank.ifscCode}}</li>                                
                                </ul>
                            </td>
                            <td>{{item.fromWinning}}</td>
                            <td>{{withdrawalApprove.getTxnDate(item.txnDate)}}</td>
                            <td>
                                <button type="button" class="btn btn-large btn-primary ">
                                    <span class="editListData" dataid="{{item.matchId}}" ng-click="withdrawalApprove.setUserDetail(item)" templatename="{{'withdrawal-request-accounts'}}"> Process </span>
                                </button>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <div class="no-templates" ng-if="withdrawalApprove.withdrawalApproveTemplatesArray.length == 0">
                <h4 class="text-center">
                    <p>There are no pancard to verify.</p><br/>                  
                </h4>
            </div>
        </div>
    </div>
</div>
