<div class="popup-container popup-md">
    <button class="cross-btn" ng-click="closeThisDialog()">X</button>

    <div class="row dialog-head">
        <div class="col-md-12">
            <h4>Process Withdrawal Request</h4>

        </div>
    </div> 

    <div class="row scroll-content">
        <div class="col-sm-12">          
            <form role="form" class="popup-form" ng-submit="adminCompliance.onSubmitWithdrawalReq()">

                <p class="color-red text-center"><b>{{ adminCompliance.errorMsg}}</b></p>
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Name<sup>*</sup></label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" ng-model="adminCompliance.userData.screenName" readonly>                           
                        </div>                        
                    </div>                   
                </div>

                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Withdrawal Amount<sup>*</sup></label>
                        <div class="col-md-7">
                            <input type="text" ng-only-number class="form-control" readonly ng-model="adminCompliance.userData.withdrawalAmt">                           
                        </div>                        
                    </div>                   
                </div>
                
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Status<sup>*</sup></label>
                        <div class="col-md-7">
                            <select class="form-control"  ng-model="adminCompliance.userData.status">
                                <option value="" selected> --Select status--</option>
                                <option value="CRM_A">APPROVED</option>        
                                <option value="CRM_C">CANCELED</option>
                                
                            </select>                          
                        </div>                        
                    </div>                   
                </div>
                
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Remark</label>
                        <div class="col-md-7">
                            <textarea type="text" class="form-control" ng-model="adminCompliance.userData.remark">     </textarea>                      
                        </div>                        
                    </div>                   
                </div>
                
                <div class="form-container" ng-if="adminCompliance.isDataError">
                    <div class="form-group clearfix">
                        <label class="col-md-12 text-danger text-center">
                         {{adminCompliance.alertText}}
                        </label>
                                               
                    </div>                   
                </div>

                <div class="form-container ">                    
                    <div class="btn-group display-center">
                        <button type="submit" class="btn btn-danger btn-submit" >
                            <span> Submit </span>
                        </button>                                                  
                    </div>                   
                </div>                                              
            </form>
        </div>
    </div>
</div>
