<div class="popup-container popup-md">
    <button class="cross-btn" ng-click="closeThisDialog()">X</button>
      
        <div class="row dialog-head">
            <div class="col-md-12">
                <h4>Edit Tour Details</h4>
            </div>
        </div>
 
    
    <div class="row scroll-content">
        <div class="col-sm-12">          
            <form role="form" class="popup-form">
                <p class="color-red text-center"><b>{{allTours.errorMsg}}</b></p>
                <!-- Tour Status -->
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Tour Name<sup>*</sup></label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" ng-model="allTours.tourData.tourName" readonly>                           
                        </div>                        
                    </div>                   
                </div>
                
                <!-- Tour Status -->
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Short Name<sup>*</sup></label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" ng-model="allTours.tourData.shortName">                           
                        </div>                        
                    </div>                   
                </div>
                
  
                <!-- Tour Status -->              
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Status<sup>*</sup></label>
                        <div class="col-md-7">
                            <select class="form-control"  ng-model="allTours.tourData.status">
                                <option value="" selected>--Set tour status--</option>
                                <option value="PENDING">PENDING</option>
                                <option value="APPROVED">APPROVED</option>
                                <option value="REJECTED">REJECTED</option>
                                <option value="ACTIVE">ACTIVE</option>
                                <option value="CLOSED">CLOSED</option>
                                <option value="HIDE">HIDE</option>
                                
                            </select>  
                        </div>                        
                    </div>                   
                </div>
                
                 <div class="form-container "> 
                        <div class="btn-group col-md-6 display-center">
                             <button type="button" class="btn btn-danger col-md-8" ng-click="allTours.onCreateLeague(allTours.tourData.tourId)">
                                 <span class="col-md-8"> Create League </span>
                             </button>                                                  
                         </div>
                         <div class="btn-group col-md-6 display-center">
                             <button type="button" class="btn btn-danger btn-submit" ng-click="allTours.onSubmitFormData(allTours.tourData.tourId)">
                                 <span> Submit </span>
                             </button>                                                  
                         </div>                   
                </div>                                              
            </form>
        </div>
    </div>
</div>
