<div class="popup-container popup-md">
    <button class="cross-btn" ng-click="closeThisDialog()">X</button>

    <div class="row dialog-head">
        <div class="col-md-12">
            <h4>Edit PAN Details</h4>
        </div>
    </div>  
    <div class="row scroll-content">
        <div class="col-sm-12">          
            <form role="form" class="popup-form" ng-submit="pancardVerify.onSubmitPanStatusData()">
                 <p class="color-red text-center"><b>{{pancardVerify.errorMsg}}</b></p>
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">User Name<sup>*</sup></label>
                        <div class="col-md-7">
                            {{pancardVerify.userPanDetail.name}}
                        </div>                        
                    </div>                   
                </div>

                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">User ID<sup>*</sup></label>
                        <div class="col-md-7">
                            {{pancardVerify.userPanDetail.userId}}
                        </div>                        
                    </div>                   
                </div>

                <div class="form-container">
                    <div class="form-group clearfix">
                        <label class="col-md-5" >DOB</label>
                        <div class="dropdown col-md-7">
                                    {{"12-12-2012"}}                       
                        </div>
                    </div>               
                </div>

                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Pan Card Number<sup>*</sup></label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" ng-model="pancardVerify.userPanDetail.panNumber">                         
                        </div>  
                        <p class="col-md-12"><span class="col-md-5"> </span>
                            </span><span class="field-error col-md-7" >{{pancardVerify.panCardErrorMsg}}</span>
                        </p>
                   
                    </div>                   
                </div>

                <div class="form-container" style="padding-top:2px;">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Status<sup>*</sup></label>
                        <div class="col-md-7">   
                            <select class="form-control"  ng-model="pancardVerify.userPanDetail.status">
                                <option value="" selected> --Select PAN status--</option>                             
                                <option value="APPROVE">APPROVE</option>   
                                <option value="FAILED">FAILED</option>
                            </select> 
                        </div>                        
                    </div>                   
                </div>

                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Remark</label>
                        <div class="col-md-7">   
                            <textarea class="form-control" ng-model="pancardVerify.remark"></textarea>
                        </div> 
                        <p class="col-md-12"><span class="col-md-5"></span>
                            <span class="field-error col-md-7" >{{pancardVerify.userRemarksErrorMsg}}</span>
                        </p>
                    </div>   
                   
                </div>
                
                <div class="form-container ">                    
                    <div class="btn-group display-center">
                        <button type="submit"  class="btn btn-danger btn-submit">
                            <span> Verify </span>
                        </button>                                                  
                    </div>                   
                </div>
                
                                             

            </form>
        </div>
    </div>
</div>
