<div class="popup-container popup-md">
    <button class="cross-btn" ng-click="closeThisDialog()">X</button>
      
        <div class="row dialog-head">
            <div class="col-md-12">
                <h4>Edit Squad Player Details</h4>
            </div>
        </div>
 
    
    <div class="row scroll-content">
        <div class="col-sm-12">          
            <form role="form" class="popup-form" ng-submit="squadplayer.onSubmitPlayerData()">
                 <p class="color-red text-center"><b>{{squadplayer.errorMsg}}</b></p>
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Player Name<sup>*</sup></label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" readonly ng-model="squadplayer.playerData.name">                           
                        </div>                        
                    </div>                   
                </div>
                            
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Player Info<sup>*</sup></label>
                        <div class="col-md-7">
                            <div class="col-md-12">
                                <input type="checkbox" ng-disabled="squadplayer.playerData.keeper" class="col-md-3" ng-model="squadplayer.playerData.bowler">
                                <label class="col-md-9">Bowler</label>
                            </div>
                            
                            <div class="col-md-12">
                                 <input type="checkbox" ng-disabled="squadplayer.playerData.keeper" class="col-md-3 " ng-model="squadplayer.playerData.batsman" >
                                 <label class="col-md-9">Batsman</label>
                            </div>
                            
                            <div class="col-md-12">
                                 <input type="checkbox" ng-disabled="squadplayer.playerData.bowler || squadplayer.playerData.batsman " class="col-md-3 disabled" ng-model="squadplayer.playerData.keeper">
                                 <label class="col-md-9">Wicketkeeper</label> 
                            </div>
                                                       
                        </div> 
                        
                    </div>                   
                </div>
                
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Game Format<sup>*</sup></label>
                        <div class="col-md-7">
                            <div class="col-md-4">
                                <input type="checkbox"  class="col-md-3" ng-model="squadplayer.playerData.TEST">
                                <label class="col-md-9">Test</label>
                            </div>
                            
                            <div class="col-md-5 padd-left-0">
                                 <input type="checkbox"  class="col-md-2 " ng-model="squadplayer.playerData.ONE_DAY" >
                                 <label class="col-md-10 txt-no-wrap">One-day</label>
                            </div>
                            
                            <div class="col-md-3 padd-left-0">
                                 <input type="checkbox" class="col-md-3" ng-model="squadplayer.playerData.T20">
                                 <label class="col-md-9">T20</label> 
                            </div>
                                                       
                        </div> 
                        
                    </div>                   
                </div>

                
                 <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Credit Points<sup>*</sup></label>
                        <div class="col-md-7">
                               <input type="text" class="form-control" ng-model="squadplayer.playerData.credit" ng-only-number data-max-decimal-points="2" data-max-length="2">                         
                        </div>                        
                    </div>                   
                </div>
                
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Status<sup>*</sup></label>
                        <div class="col-md-7">
                            <select class="form-control"  ng-model="squadplayer.playerData.status">
                                <option value="" selected>--Set player status--</option>
                                <option value="INACTIVE">INACTIVE</option>
                                <option value="ACTIVE">ACTIVE</option>
                            </select>                          
                        </div>                        
                    </div>                   
                </div>
                
                 <div class="form-container ">                    
                         <div class="btn-group display-center">
                             <button type="submit" class="btn btn-danger btn-submit">
                                 <span> Submit </span>
                             </button>                                                  
                         </div>                   
                </div>                               
                
            </form>
        </div>
    </div>
</div>
