<div class="popup-container popup-md">
    <button class="cross-btn" ng-click="closeThisDialog()">X</button>

    <div class="row dialog-head">
        <div class="col-md-12">
            <h4>Edit Match Details</h4>

        </div>
    </div> 

    <div class="row scroll-content">
        <div class="col-sm-12">          
            <form role="form" class="popup-form" ng-submit="tourMatches.onSubmitMatchData()">


                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Name<sup>*</sup></label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" ng-model="tourMatches.matchData.name" readonly>                           
                        </div>                        
                    </div>                   
                </div>

                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Related Name<sup>*</sup></label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" ng-model="tourMatches.matchData.relatedName">                           
                        </div>                        
                    </div>                   
                </div>
                
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Short Name<sup>*</sup></label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" ng-model="tourMatches.matchData.shortName">                           
                        </div>                        
                    </div>                   
                </div>


                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Status<sup>*</sup></label>
                        <div class="col-md-7">
                            <select class="form-control"  ng-model="tourMatches.matchData.status">
                                <option value="" selected> --Select match status--</option>
                                <option value="PENDING">PENDING</option>                               
                                <option value="REJECTED">REJECTED</option>
                                <option value="LOCKED">LOCKED</option>
                                <option value="ACTIVE">ACTIVE</option>
                                <option value="RUNNING">RUNNING</option>
                                <option value="UNDER_REVIEW">UNDER REVIEW</option>
                                <option value="ABANDONED">ABANDONED</option>
                                <option value="CLOSED">CLOSED</option>
                                <option value="HIDE">HIDE</option>
                            </select>                          
                        </div>                        
                    </div>                   
                </div>
                
                <div class="form-container" ng-if="tourMatches.isDataError">
                    <div class="form-group clearfix">
                        <label class="col-md-12 text-danger text-center">
                         {{tourMatches.alertText}}
                        </label>
                                               
                    </div>                   
                </div>

                <div class="form-container ">                    
                    <div class="btn-group display-center">
                        <button type="submit" class="btn btn-danger btn-submit">
                            <span> Submit </span>
                        </button>                                                  
                    </div>                   
                </div>                                              
            </form>
        </div>
    </div>
</div>
