<div class="popup-container popup-md">
    <button class="cross-btn" ng-click="closeThisDialog()">X</button>

    <div class="row dialog-head">
        <div class="col-md-12">
            <h4>Edit User Document Details</h4>
        </div>
    </div>  
    <div class="row scroll-content">
        <div class="col-sm-12">          
            <form role="form" class="popup-form">
                 <p class="color-red text-center"><b>{{ docVerify.errorMsg}}</b></p>
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">User ID</label>
                        <div class="col-md-7">
                            {{docVerify.userDocDetail.userId}}
                        </div>                        
                    </div>                   
                </div>
                
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Bank Name</label>
                        <div class="col-md-7">
                            {{docVerify.userDocDetail.bankName}}                        
                        </div>  
                    </div>                   
                </div>

                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Account No.</label>
                        <div class="col-md-7">
                            {{docVerify.userDocDetail.accountNumber}}
                        </div>                        
                    </div>                   
                </div>
              

                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Branch</label>
                        <div class="col-md-7">
                           {{docVerify.userDocDetail.branch}}                       
                        </div>                          
                    </div>                   
                </div>
                
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">IFSC Code</label>
                        <div class="col-md-7">
                            {{docVerify.userDocDetail.ifscCode}}                         
                        </div>                         
                    </div>                   
                </div>

                
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Remark</label>
                        <div class="col-md-7">   
                            <textarea class="form-control" ng-model="docVerify.remark"></textarea>
                        </div> 
                        <p class="col-md-12"><span class="col-md-5"></span>
                            <span class="field-error col-md-7" >{{docVerify.userRemarksErrorMsg}}</span>
                        </p>
                    </div>   
                   
                </div>
                
                <div class="form-container" style="padding-top:2px;">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Status<sup>*</sup></label>
                        <div class="col-md-7">   
                            <select class="form-control"  ng-model="docVerify.userDocDetail.status">
                                <option value="" selected> --Select status--</option>                             
                                <option value="APPROVE">APPROVE</option>   
                                <option value="FAILED">FAILED</option>
                            </select> 
                        </div>                        
                    </div>                   
                </div>

                <div class="form-container">                    
                    <div class="btn-group display-center">
                        <button type="button" ng-click="docVerify.onSubmitDocStatusData()" class="btn btn-danger btn-submit">
                            <span> Verify </span>
                        </button>                                                  
                    </div>                   
                </div>                               

            </form>
        </div>
    </div>
</div>
