<div class="popup-container popup-md">
    <button class="cross-btn" ng-click="closeThisDialog()">X</button>
    <div class="row dialog-head">
        <div class="col-md-12">
            <h4>Update match points</h4>
        </div>
    </div>
    
    <div class="row scroll-content">
        <div class="col-sm-12">          
            <form role="form" class="popup-form" ng-submit="cricketApi.onSubmitPlayerData()">
                
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Select Tour<sup>*</sup></label>
                        <div class="col-md-7">
                            <ui-select ng-model="cricketApi.selected" theme="bootstrap" ng-disabled="false" ng-change="cricketApi.getMatchList(cricketApi.selected)"
                                       style="min-width: 300px;" title="Choose configuration" on-select="cricketApi.onSelectConfig($item, $model)"
                                       resetsearchmodel>                      
                                <ui-select-match placeholder="Select game configuration">{{$select.selected.tourName}}</ui-select-match>
                                <ui-select-choices  repeat="item in cricketApi.allToursList"  >
                                    <div ng-bind-html="item.tourName | highlight: $select.search">
                                        {{$select.selected.tourName}}
                                    </div>
                                </ui-select-choices>             
                            </ui-select>
                        </div> 
                    </div>                   
                </div>
                
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5">Select Match<sup>*</sup></label>
                        <div class="col-md-7">
                            <select class="form-control"  ng-model="cricketApi.matchId" placeholder="Select Match" >
                                    <option value="" selected>--Select Match--</option>
                                <option ng-repeat = "row in cricketApi.matchlist" value={{row.matchId}}>
                                    {{row.relatedName}}
                                </option>
                            </select>     
                        </div>  
                    </div>                   
                </div>

                <div class="form-container ">                    
                    <div class="btn-group display-center">
                        <button type="submit" ng-click="cricketApi.updateMatchPoints()" class="btn btn-danger btn-submit">
                            <span> Submit </span>
                        </button>                                                  
                    </div>                   
                </div> 
                
            </form>
        </div>
    </div>
    
</div>
