<div class="popup-container popup-md">
    <button class="cross-btn" ng-click="closeThisDialog()">X</button>
      
        <div class="row dialog-head">
            <div class="col-md-12">
                <h4>Edit Squad Player Details</h4>

            </div>
        </div>
 
    
    <div class="row scroll-content">
        <div class="col-sm-12">          
            <form role="form" class="popup-form" ng-submit="wicketDetails.onSubmitPlayerData()">
                <div class="form-container col-md-12 ">
                    <div class="form-group clearfix display-center">
                        <label for="username" class="padd-right-10">Player Name {{"  "}}</label>
                        <div class="font-12">
                            <b> {{"Ravichandran Ashvin"}}    </b>                      
                        </div>                        
                    </div>                   
                </div>
                <div class="col-md-6">
                    
                            
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5 font-12 label-txt  align-center">Catch</label>
                        <div class="col-md-7">
                               <input type="number" class="form-control" ng-model="wicketDetails.playerMatchInfo.catch">                         
                        </div>                        
                    </div>                   
                </div>

                
                 <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5 label-txt">Stump</label>
                        <div class="col-md-7">
                               <input type="number" class="form-control" ng-model="wicketDetails.playerMatchInfo.stump">                         
                        </div>                        
                    </div>                   
                </div>
                
                 <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5 label-txt">Runout Direct</label>
                        <div class="col-md-7">
                               <input type="number" class="form-control" ng-model="wicketDetails.playerMatchInfo.runOut">                         
                        </div>                        
                    </div>                   
                </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5 label-txt">Runout Thrower</label>
                        <div class="col-md-7">
                               <input type="number" class="form-control" ng-model="wicketDetails.playerMatchInfo.runoutThrower">                         
                        </div>                        
                    </div>                   
                </div>
                
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5 label-txt">Runout Stump</label>
                        <div class="col-md-7">
                               <input type="number" class="form-control" ng-model="wicketDetails.playerMatchInfo.runOutStump">                         
                        </div>                        
                    </div>                   
                </div>
                
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-5 label-txt">Caught & Bold</label>
                        <div class="col-md-7">
                               <input type="number" class="form-control" ng-model="wicketDetails.playerMatchInfo.caughtBold">                         
                        </div>                        
                    </div>                   
                </div>
                </div>
   
                <div class="form-container" ng-if="wicketDetails.isDataError">
                    <div class="form-group clearfix">
                        <label class="col-md-12 text-danger text-center">
                         {{wicketDetails.alertText}}
                        </label>
                                               
                    </div>                   
                </div>
             
                 <div class="form-container col-md-12">                    
                         <div class="btn-group display-center">
                             <button type="submit" class="btn btn-danger btn-submit">
                                 <span> Submit </span>
                             </button>                                                  
                         </div>                   
                </div>                               
                
            </form>
        </div>
    </div>
</div>
