<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="headerCtrl as header">
    <div class="container-fluid header">
        <div class="row">
            <div class="col-xs-3 display-center"  ng-click="header.showDashboard()">
                <div class="logo" ></div>
            </div>

            <div class="col-xs-7" ng-show="header.showHeaderMenu">
                <div class="admnpnl-main-menu pull-left" ng-if="false">
                    <ul class="clearfix">
                        <li><a href="#">Game 1 </a></li>
                        <li><a href="#">Game 2 </a></li>
                        <li><a href="#">Game 3 </a></li>
                        <li class="has-children">
                            <a href="javascript:;"><div class="more-options-icon"></div></a>
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="menu-icon my-profile-icon"></div>
                                        <div class="menu-text">User</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="menu-icon change-password-icon"></div>
                                        <div class="menu-text">Password</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="menu-icon sidebar-game-reports-icon"></div>
                                        <div class="menu-text">Revenue</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="menu-icon sign-out-icon"></div>
                                        <div class="menu-text">User</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="menu-icon sign-out-icon"></div>
                                        <div class="menu-text">User</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="menu-icon sign-out-icon"></div>
                                        <div class="menu-text">User</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-2" ng-show="header.showHeaderMenu">
                <!-- <div class="pull-right  center-align signout">
                     <input type ="button" class="signout-logo signout-btn" ng-click="userLogOut()" value="SIGN OUT"> 
                </div> -->
                <div class="dropdown admin-actions">
                    <!-- <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                    <span class="caret"></span></button> -->
                    <div class="user-profile clearfix" class="dropdown-toggle" data-toggle="dropdown">
                        <div class="profile-pic"></div>
                        <div  class="header-user-name">
                            <span>{{ header.adminName}}</span>
                            <span class="caret"></span>
                        </div>
                    </div>
                    <ul class="dropdown-menu">
                        <li ng-if="false"><a href="#"><span class="my-profile-icon"></span>My Profile</a></li>
                        <li ng-if="true" changepassword><a ui-sref="changePassword"><span class="change-password-icon"></span>Change Password</a></li>
                        <li><a href="#" ng-click="header.userLogOut()" ><span class="sign-out-icon"></span>Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>