<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12"><div class ="admnpnl-heading">User Bonus Report</div></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form role="form" ng-submit="bonusReport.onSubmitFormData()" class="admnpnl-form">
                <p class="color-red text-center"><b>{{bonusReport.errorMsg}}</b></p>
                <div class="form-container">
                   
                    <div class="form-group clearfix">
                        <label class="col-md-3" >From Date<sup>*</sup></label>
                        <div class="dropdown col-md-4">
                            <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text"  class="form-control" data-ng-model="bonusReport.dateRangeStart" data-date-time-input="YYYY-MM-DD HH:mm:ss" >
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="bonusReport.dateRangeStart" data-datetimepicker-config="{ dropdownSelector: '#dropdown1',minView:'hour'}" data-before-render="beforeRenderStartDate($view, $dates, $leftDate, $upDate, $rightDate)"/>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3">To Date<sup>*</sup></label>
                        <div class="dropdown col-md-4">
                            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" >
                                <div class="input-group">
                                    <input type="text" class="form-control " data-ng-model="bonusReport.dateRangeEnd" data-date-time-input="YYYY-MM-DD HH:mm:ss">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="bonusReport.dateRangeEnd" data-datetimepicker-config="{ dropdownSelector: '#dropdown2',minView:'hour' }" data-before-render="beforeRenderEndDate($view, $dates, $leftDate, $upDate, $rightDate)"/>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="" class="col-md-3"></label>
                        <div class="form-btn-group col-md-8">
                            <button type="button" class="btn btn btn-danger btn-lg" ng-click="bonusReport.getBonusReport()">Download Excel</button>
                        </div>
                        
                        <div class="col-md-1 ng-scope" ng-if="bonusReport.result.txnList.length > 0">                                
                            <i class="fa fa-arrow-circle-up font-25" ng-click="bonusReport.showHideFormFields('hide-form')" aria-hidden="true"></i>
                        </div>

                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
