<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12">
            <div class ="admnpnl-heading">Game Reports</div>          
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form role="form"  class="admnpnl-form">
                <div class="form-container">
                    
                    <div class="row display-center" ng-show="leagueReports.showAlert" >
                        <div  class="rupee-font rupee-msg col-md-8 alert-box  alert  alert-dismissible  display-center" ng-class="leagueReports.messageClass" role="alert"  ng-show="leagueReports.showAlert">
                            <button type="button" class="close alert-button" ng-click="leagueReports.onCloseAlert()" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>&nbsp; &nbsp;</strong>{{leagueReports.message}}
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="form-group clearfix col-md-6">
                            <label for="username" class="col-md-5 padd-left-0">Select Tour<sup>*</sup></label>
                            <div class="col-md-7"> 

                                <select class="form-control"  ng-model="leagueReports.tourId" placeholder="Select Match" 
                                        ng-change="leagueReports.getMatchList(leagueReports.tourData)">
                                    <option value="" selected>--Select Tour--</option>
                                    <option ng-repeat = "item in leagueReports.tourList" value="{{item.tourId}}">
                                        {{item.tourName}}
                                    </option>
                                </select>

                            </div>                        
                        </div> 

                        <div class="form-group clearfix col-md-6">
                            <label for="username" class="col-md-5 padd-left-0">Select Match<sup>*</sup></label>
                            <div class="col-md-7">
                                <select class="form-control"  ng-model="leagueReports.result.matchId" placeholder="Select Match" 
                                        ng-change="leagueReports.getConfiglist(leagueReports.result.matchData)">
                                    <option value="" selected>--Select Match--</option>
                                    <option ng-repeat = "row in leagueReports.result.matchList" value={{row.matchId}}>
                                        {{row.name + ' '}} {{'(' + row.relatedName + ')'}}
                                    </option>
                                </select>                          
                            </div>                        
                        </div> 

                    </div>

                    <div class="col-md-12">
                        <div class="form-group clearfix col-md-6">
                            <label for="username" class="col-md-5 padd-left-0">Select League Config.</label>
                            <div class="col-md-7"> 

                                <select class="form-control"  ng-model="leagueReports.result.configId" placeholder="Select Leag Config.">
                                    <option value="" selected>--Select League Config.--</option>
                                    <option ng-repeat = "item in leagueReports.result.configList" value="{{item.configId}}">
                                        {{item.title}}
                                    </option>
                                </select>

                            </div>                        
                        </div> 

                        <div class="form-group clearfix col-md-6">
                            <label for="username" class="col-md-5 padd-left-0">Select League Type</label>
                            <div class="col-md-7">
                                <select class="form-control"  ng-model="leagueReports.result.leagueType" placeholder="Select League Type"  >
                                    <option value="" selected> --Select League Type--</option>                             
                                    <option value="CONFIRMED">CONFIRMED</option>   
                                    <option value="NOT_CONFIRMED">NOT CONFIRMED</option>
                                </select>                          
                            </div>                        
                        </div> 

                    </div>

                    <div class="form-container padd-0">  
                        <div class="form-group clearfix">                                          
                            <div class="marg-0 col-md-11 vertical-center ">  
                                <button type="submit" class="btn btn-danger" value="Search" ng-click="leagueReports.getReports()" ng-paste="$event.preventDefault()" >Submit</button>    
                            </div>                            
                        </div>  
                    </div>

                </div>
            </form>
        </div>
    </div>
    
    <div class="row report-wrapper padd-0" ng-if="leagueReports.result.reportList == 0">      
        <div class="col-md-12 padd-0">
            <div class="table-responsive padd-0 col-sm-12 amt-withdrawal text-center marg-10">
                <b><p class="padd-10">No Reports Data.</p> </b> 
            </div>          
        </div>
    </div>
    
    
    <div class="row report-wrapper" ng-if="leagueReports.result.reportList !=0">        
        <div class="col-md-12">
            <div class="table-responsive padd-0 col-sm-12 amt-withdrawal">
                <table class="table" ng-if="!leagueReports.result.isDefaultLeagueReport">                   
                    <thead>
                        <tr class="table-header font-11 ">
                            <th>S.No.</th>                            
                            <th>Chip Type</th>                          
                            <th>Entry</th>                           
                            <th>Multi-entry</th>
                            <th>League Type</th>
                            <th>Max.Team</th>
                            <th>status</th>
                            <th>Title</th>
                            <th>Winners Count</th>
                            <th>Winning amt.</th>
                            <th>Current Teams</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr class="text-lowercase" id="{{1}}" ng-repeat="item in leagueReports.result.reportList">
                            <td>{{$index+1}}</td>                            
                            <td>{{item.chipType}}</td>
                            <td>{{item.entryFee}}</td>
                            <td>{{item.isMultiEntry}}</td>
                            <td>{{item.leagueType}}</td>
                            <td>{{item.maxTeams}}</td>
                            <td>{{item.status}}</td>
                            <td>{{item.title}}</td>
                            <td>{{item.winnersCount}}</td>
                            <td>{{item.winningAmt}}</td>
                            <td>{{item.currentTeams}}</td>                           
                        </tr>
                        
                    </tbody>
                </table>
                
                <table class="table" ng-if="leagueReports.result.isDefaultLeagueReport" >                   
                    <thead>
                        <tr class="table-header font-11 " >
                            <th>S.No.</th>   
                            <th>Title</th>
                            <th>max league count</th>
                            <th>league count</th>
                            <th>empty count</th>
                            <th>filled count</th>
                            <th>partial count</th>   
                            <th>cancel count</th>
                            <th>Chip Type</th>
                            <th>League Type</th>
                            <th>status</th>
                            <th>Entry</th>  
                            <th>Prize count</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr class="text-lowercase" id="{{1}}" ng-repeat="item in leagueReports.result.reportList">
                            <td>{{$index+1}}</td>  
                            <td>{{item.title}}</td>
                            <td>{{item.maxLeagueCount}}</td>
                            <td>{{item.leagueCount}}</td>
                            <td>{{item.emptyCount}}</td>
                            <td>{{item.filledCount}}</td>
                            <td>{{item.partialCount}}</td>
                            <td>{{item.cancelCount}}</td>
                            <td>{{item.chipType}}</td>
                            <td>{{item.leagueType}}</td>
                            <td>{{item.status}}</td>
                            <td>{{item.entryFee}}</td>
                            <td>{{item.winnersCount}}</td>                        
                        </tr>
                        
                    </tbody>
                </table>
            </div>             
        </div>

    </div>
</div>
