<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12"><div class ="admnpnl-heading">Rake Report</div></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Rake Report -->
            <form role="form"  class="admnpnl-form">
                <div class="form-container">
                    <p class="color-red text-center"><b>{{rakeReport.errorMsg}}</b></p>
                    <div class="row display-center" ng-show="rakeReport.showAlert" >
                        <div  class="rupee-font rupee-msg col-md-8 alert-box  alert  alert-dismissible  display-center" ng-class="rakeReport.messageClass" role="alert"  ng-show="rakeReport.showAlert">
                            <button type="button" class="close alert-button" ng-click="rakeReport.onCloseAlert()" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>&nbsp; &nbsp;</strong>{{rakeReport.message}}
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group clearfix col-md-6">
                            <label for="username" class="col-md-5 padd-left-0">Select Tour<sup>*</sup></label>
                            <div class="col-md-7"> 
                                <select class="form-control"  ng-model="rakeReport.tourId" placeholder="Select Match" ng-change=" rakeReport.getMatchList()">
                                    <option value="" selected>--Select Tour--</option>
                                    <option ng-repeat = "item in rakeReport.tourList" value="{{item.tourId}}">
                                        {{item.tourName}}
                                    </option>
                                </select>
                            </div>                        
                        </div> 

                        <div class="form-group clearfix col-md-6">
                            <label for="username" class="col-md-5 padd-left-0">Select Match<sup>*</sup></label>
                            <div class="col-md-7">
                                <select class="form-control"  ng-model="rakeReport.matchId" placeholder="Select Match" >
                                    <option value="" selected>--Select Match--</option>
                                    <option ng-repeat = "row in rakeReport.matchList" value={{row.matchId}}>
                                        {{row.name + ' '}} {{'(' + row.relatedName + ')'}}
                                    </option>
                                </select>                          
                            </div>                        
                        </div> 
                    </div>
                    
                    <div class="col-md-12" >
                        <div class="form-group clearfix col-md-6">
                            <label for="username" class="col-md-5 padd-left-0">Rake Type<sup>*</sup></label>
                            <div class="col-md-7">
                                <select class="form-control"  ng-model="rakeReport.rakeType" placeholder="Select Rake Type">
                                    <option value="" selected>--Select Rake Type--</option>
                                    <option value="CREDIT">CREDIT</option>
                                    <option value="DEBIT">DEBIT</option>
                                </select>                          
                            </div>                        
                        </div> 
                    </div>

                    <div class="form-container padd-0">  
                        <div class="form-group clearfix">                                          
                            <div class="marg-0 col-md-11 vertical-center ">  
                                <button type="submit" class="btn btn-danger" value="Search"  ng-paste="$event.preventDefault()" ng-click="rakeReport.getRakeReport()">Submit</button>    
                            </div>                            
                        </div>  
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="table-responsive padd-0 col-sm-12 amt-withdrawal text-center marg-10" ng-if="rakeReport.isRakeDataExist">
        <b><p class="padd-10">No Rake report for the above selection.</p> </b> 
    </div>

    <div class="row report-wrapper padd-0" ng-if="rakeReport.rakeReportList.length !=0">
        <div class="table-responsive padd-0 col-sm-12 amt-withdrawal text-center marg-10">
            <b><p class="padd-10">Rake Report.</p> </b> 
        </div> 
        <div class="col-md-12 padd-0">
            <div class="table-responsive padd-0 col-sm-12 amt-withdrawal">
                <table class="table">                   
                    <thead>
                        <tr class="table-header">
                            <th>S.No.</th>                            
                            <th>TXN. Date</th>                          
                            <th>League ID</th>    
                            <th>Config. ID</th> 
                            <th>League Amount</th> 
                            <th>Rake Amount</th> 
                            <th>Winning Amount</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="{{1}}" ng-repeat="item in rakeReport.rakeReportList| filter :rakeReport.search">
                            <td>{{$index + 1}}</td>
                            <td>{{rakeReport.getDateFormat(item.txn_date)}}</td>
                            <td>{{item.league_id}}</td>
                            <td>{{item.config_id}}</td>
                            <td>{{item.league_amt}}</td>
                            <td>{{item.rake_amt}}</td>
                            <td>{{item.winning_amt}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>










