<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12"><div class ="admnpnl-heading">Tally Report</div></div>
    </div>
    

    <div class="row">
        <div class=" col-md-12 col-lg-12 menu-btn  toppad" >
            <div class="sub-header-button menu-btn-inner ">
                <button type="button" ng-click="tallyReport.getAccountTally()">User Account Tally</button>
                <button type="button" ng-click="tallyReport.showRakeTallyForm()">Rake Tally</button>
                <button type="button" ng-click="tallyReport.showGameTxnReportForm()">Game Transactions</button>
            </div>
        </div>
    </div>
    
    <div class="row display-center" ng-show="tallyReport.showAlert" >
        <div  class="rupee-font rupee-msg col-md-8 alert-box  alert  alert-dismissible  display-center" ng-class="tallyReport.messageClass" role="alert"  ng-show="tallyReport.showAlert">
            <button type="button" class="close alert-button" ng-click="tallyReport.onCloseAlert()" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>&nbsp; &nbsp;</strong>{{tallyReport.message}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Rake Tally Report -->           
            <form role="form"  class="admnpnl-form"  ng-if="tallyReport.isRakeReport">
                <div class="table-responsive padd-0 col-sm-12 amt-withdrawal text-center marg-10">
                    <b><p class="padd-10">Rake Tally Report.</p> </b> 
                </div>
                <div class="form-container">
                    <div class="col-md-12">
                        <div class="form-group clearfix col-md-6">
                            <label for="username" class="col-md-5 padd-left-0">Select Tour<sup>*</sup></label>
                            <div class="col-md-7"> 

                                <select class="form-control"  ng-model="tallyReport.tourId" placeholder="Select Match" ng-change="tallyReport.getMatchList()">
                                    <option value="" selected>--Select Tour--</option>
                                    <option ng-repeat = "item in tallyReport.tourList" value="{{item.tourId}}">
                                        {{item.tourName}}
                                    </option>
                                </select>

                            </div>                        
                        </div> 

                        <div class="form-group clearfix col-md-6">
                            <label for="username" class="col-md-5 padd-left-0">Select Match<sup>*</sup></label>
                            <div class="col-md-7">
                                <select class="form-control"  ng-model="tallyReport.result.matchId" placeholder="Select Match">
                                    <option value="" selected>--Select Match--</option>
                                    <option ng-repeat = "row in tallyReport.result.matchList" value={{row.matchId}}>
                                        {{row.name + ' '}} {{'(' + row.relatedName + ')'}}
                                    </option>
                                </select>                          
                            </div>                        
                        </div> 
                    </div>

                    <div class="form-container padd-0">  
                        <div class="form-group clearfix">                                          
                            <div class="marg-0 col-md-11 vertical-center ">  
                                <button type="submit" class="btn btn-danger" value="Search" ng-click="tallyReport.getRakeTallyList()" ng-paste="$event.preventDefault()" >Submit</button>    
                            </div>                            
                        </div>  
                    </div>
                </div>
            </form>
             
           <!-- Grame Transaction Form -->
            <form role="form"  class="admnpnl-form" ng-if="tallyReport.isGameTxn">
                <div class="table-responsive padd-0 col-sm-12 amt-withdrawal text-center marg-10">
                        <b><p class="padd-10">Game Transaction Report.</p> </b> 
                </div>
                <div class="form-container">                   
                    <div class="row display-center" ng-show="tallyReport.showAlert" >
                        <div  class="rupee-font rupee-msg col-md-8 alert-box  alert  alert-dismissible  display-center" ng-class="tallyReport.messageClass" role="alert"  ng-show="tallyReport.showAlert">
                            <button type="button" class="close alert-button" ng-click="tallyReport.onCloseAlert()" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>&nbsp; &nbsp;</strong>{{tallyReport.message}}
                        </div>
                    </div>

                    <div class="col-md-12" >
                        <div class="form-group clearfix col-md-6">
                            <label for="username" class="col-md-5 padd-left-0">Select Txn. Status<sup>*</sup></label>
                            <select class="form-control"  ng-model="tallyReport.txnStatus">
                                <option value="" selected> --Select Status--</option>
                                <option value="PENDING">Pending</option>        
                                <option value="FAILED">Failed</option>
                            </select>                         
                        </div> 

                        <div class="form-group clearfix col-md-6">
                            <label for="username" class="col-md-5 padd-left-0">Select Txn. Type<sup>*</sup></label>
                            <select class="form-control"  ng-model="tallyReport.txnType">
                                <option value="" selected> --Select Transaction Type--</option>
                                <option value="JOIN_LEAGUE">Join League</option>        
                                <option value="REFUND_LEAGUE">Refund</option>
                                <option value="WINNING_LEAGUE">Winning</option>

                            </select>                         
                        </div>
                    </div>

                    <div class="form-container padd-0">  
                        <div class="form-group clearfix">                                          
                            <div class="marg-0 col-md-11 vertical-center ">  
                                <button type="submit" class="btn btn-danger" value="Search" ng-click="tallyReport.getGameTxnReport()" ng-paste="$event.preventDefault()" >Submit</button>    
                            </div>                            
                        </div>  
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    
    <!-- Account Tally-->
    
    <div class="row report-wrapper padd-0" ng-if="tallyReport.isAccountTally && tallyReport.result.accountTallyList.length !=0">
        <div class="table-responsive padd-0 col-sm-12 amt-withdrawal text-center marg-10">
            <b><p class="padd-10">Account Tally Report.</p> </b> 
        </div> 
        <div class="col-md-12 padd-0">
            <div class="table-responsive padd-0 col-sm-12 amt-withdrawal">
                <table class="table">                   
                    <thead>
                        <tr class="table-header">
                            <th>S.No.</th> 
                            <th>Screen Name</th>
                            <th>Current Bonus</th>                          
                            <th>Current Deposit</th>                           
                            <th>Current Winning</th>  
                            <th>Expected Bonus</th>                          
                            <th>Expected Deposit</th>                           
                            <th>Expected Winning</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="{{1}}" ng-repeat="item in tallyReport.result.accountTallyList| filter :tallyReport.search">
                            <td>{{$index + 1}}</td>
                            <td>{{item.teamName}}</td>
                            <td>{{item.currentBonus}}</td>
                            <td>{{item.currentDeposit}}</td>
                            <td>{{item.currentWinning}}</td>
                            <td>{{item.expectedBonus}}</td>
                            <td>{{item.expectedDeposit}}</td>
                            <td>{{item.expectedWinning}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <!-- Rake Tally Report -->

    <div class="row report-wrapper padd-0" ng-if="tallyReport.isRakeReport">
        <div class="table-responsive padd-0 col-sm-12 amt-withdrawal text-center marg-10">
            <b><p class="padd-10">Rake Tally Report.</p> </b> 
        </div> 
        
        <div class="col-md-12 padd-0">
            <div class="table-responsive padd-0 col-sm-12 amt-withdrawal">
                <table class="table">                   
                    <thead>
                        <tr class="table-header">

                            <th>Match Id</th>
                            <th>Join Amount</th>
                            <th>Rake Debit Amount</th>
                            <th>Rake Credit Amount</th>
                            <th>TDS Amount</th>
                            <th>Winning Amount</th>
                            <th>Tally Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{tallyReport.rakeTallyRow.matchId}}</td>
                            <td>{{tallyReport.rakeTallyRow.joinAmt}}</td>
                            <td>{{tallyReport.rakeTallyRow.rakeDebitAmt}}</td>
                            <td>{{tallyReport.rakeTallyRow.rakeCreditAmt}}</td>
                            <td>{{tallyReport.rakeTallyRow.tdsAmt}}</td>
                            <td>{{tallyReport.rakeTallyRow.winningAmt}}</td>
                            <td>{{tallyReport.rakeTallyRow.tallyAmt}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Game Transaction Report -->
    <div class="row report-wrapper padd-0" ng-if="tallyReport.isGameTxn && tallyReport.result.gameTxnReportList.length == 0">      
            <div class="col-md-12 padd-0">
                <div class="table-responsive padd-0 col-sm-12 amt-withdrawal text-center marg-10">
                    <b><p class="padd-10">No data for Game Transaction.</p> </b> 
                </div>          
            </div>
    </div>
    <div class="row report-wrapper padd-0" ng-if="tallyReport.isGameTxn && tallyReport.result.gameTxnReportList.length != 0">
        <div class="table-responsive padd-0 col-sm-12 amt-withdrawal text-center marg-10">
            <b><p class="padd-10">Game Transaction Report.</p> </b> 
        </div> 
        
        <div class="col-md-12 padd-0">
            <div class="table-responsive padd-0 col-sm-12 amt-withdrawal">
                <table class="table">                   
                    <thead>
                        <tr class="table-header">
                            <th>S.No.</th>                            
                            <th>Amount</th>                          
                            <th>League Id</th>     
                            <th>Match ID</th>                            
                            <th>Status</th>                          
                            <th>Tour Id Id</th> 
                            <th>Txn. Date</th>                            
                            <th>Txn. Id</th>                          
                            <th>Txn. Type</th> 
                            <th>User ID</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="{{1}}" ng-repeat="item in tallyReport.result.gameTxnReportList| filter :tallyReport.search">
                            <td>{{$index + 1}}</td>
                            <td>{{item.amount}}</td>
                            <td>{{item.leagueId}}</td>
                            <td>{{item.matchId}}</td>
                            <td>{{item.status}}</td>
                            <td>{{item.tourId}}</td>
                            <td>{{item.txnDate}}</td>
                            <td>{{item.txnId}}</td>
                            <td>{{item.txnType}}</td>
                            <td>{{item.userId}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>










