<div class="view-wrapper">
    <div class ="row">
        <div class="col-sm-12"><div class ="admnpnl-heading">User Transaction Report</div></div>
    </div>
    <div class="row">

        <div class="col-sm-12" ng-if="txnReports.result.showForm">
            <form role="form" ng-submit="txnReports.onSubmitFormData()" class="admnpnl-form">
                <div class="form-container">
                    <div class="form-group clearfix">
                        <label for="username" class="col-md-3">Username / Mobile<sup>*</sup></label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="username" ng-model="txnReports.result.userName">
                            <p ng-if="!txnReports.result.isUserNameError"><span class="rupee-font rupee-msg" >{{" User Id : "+ txnReports.result.userId}} </span></p>
                            <p ng-if="txnReports.result.isUserNameError"><span class="field-error">{{txnReports.errorMsg.userNameError}}</span></p>
                        </div>
                        <div class="col-md-3">
                            <input type="button" class="btn search-btn" value="Search" ng-click="txnReports.getUserDetail()" ng-paste="$event.preventDefault()" >
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3" >From Date</label>
                        <div class="dropdown col-md-4">
                            <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text"  class="form-control" data-ng-model="txnReports.dateRangeStart" data-date-time-input="YYYY-MM-DD HH:mm:ss" >
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="txnReports.dateRangeStart" data-datetimepicker-config="{ dropdownSelector: '#dropdown1',minView:'hour'}" data-before-render="beforeRenderStartDate($view, $dates, $leftDate, $upDate, $rightDate)"/>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-3">To Date</label>
                        <div class="dropdown col-md-4">
                            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" >
                                <div class="input-group">
                                    <input type="text" class="form-control " data-ng-model="txnReports.dateRangeEnd" data-date-time-input="YYYY-MM-DD HH:mm:ss">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="txnReports.dateRangeEnd" data-datetimepicker-config="{ dropdownSelector: '#dropdown2',minView:'hour' }" data-before-render="beforeRenderEndDate($view, $dates, $leftDate, $upDate, $rightDate)"/>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label for="" class="col-md-3"></label>
                        <div class="form-btn-group col-md-8">
                            <button type="button" class="admnpnl-btn btn-red btn-md" ng-click="txnReports.getTxnReport()">Search</button>
                            <button type="reset" class="admnpnl-btn  btn-md btn-grey" ng-click="txnReports.onResetFormData()">Reset</button>
                        </div>
                        
                        <div class="col-md-1 ng-scope" ng-if="txnReports.result.txnList.length > 0">                                
                            <i class="fa fa-arrow-circle-up font-25" ng-click="txnReports.showHideFormFields('hide-form')" aria-hidden="true"></i>
                        </div>

                    </div>

                </div>
            </form>
        </div>
        
        <div class="col-sm-12 " ng-if=" !txnReports.result.showForm">
            <form role="form" class="admnpnl-form marg-0 ">
                <div class="form-container padd-0 bg-red ">
                    <div class="form-group vertical-center marg-0">
                        <div class="col-md-11">                                
                            <span><b>Show Selection Form</b></span>    
                        </div>
                        <div class="col-md-1">                                
                            <i class="fa fa-arrow-circle-down font-25" ng-click="txnReports.showHideFormFields('show-form')" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row report-wrapper" ng-if="txnReports.result.txnList.length > 0">
        <div class="col-md-12">
            <div class="row">
                <div class="table-responsive col-sm-12">
                    <table class="table">
                        <thead>
                            <tr class="table-header" >
                                <th>S. No.</th>
                                <th>Txn. Id</th>
                                <th>Txn. Type</th>
                                <th>Amount</th>
                                <th>Deposit Before</th>
                                <th>Winning Before</th>
                                <th>Bonus Before</th>
                                <th>Txn. Date</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="txnReports.result.txnList.length == 0">
                                <td class="display-center"> No Result found</td>
                            </tr>

                            <tr ng-repeat = "row in txnReports.result.txnList">
                                <td>{{$index+1}}</td>
                                <td>{{row.txnId}}</td>
                                <td>{{row.txnType}}</td>
                                <td>{{row.amount}}</td>
                                <td>{{row.depositBeforeTxn}}</td>
                                <td>{{row.winningBeforeTxn}}</td>
                                <td>{{row.bonusBeforeTxn}}</td>
                                <td >{{txnReports.getTxnDate(row.txnDate)}}</td>
                                <td>{{row.remarks}}</td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- No Record Found-->
    <div class="row report-wrapper padd-0" ng-if="txnReports.result.isReportError">      
        <div class="col-md-12 padd-0">
            <div class="table-responsive padd-0 col-sm-12 amt-withdrawal text-center marg-10">
                <b><p class="padd-10">{{txnReports.reportErrorMsg}}</p> </b> 
            </div>          
        </div>
    </div>
    
    <!-- Pagination -->
    <div class="row report-wrapper pagination-list" ng-if="txnReports.result.txnList.length > 0">
        <div class="col-md-5">
            <div class="form-group marg-0">
                <b><label for="amount" class="col-md-4">Records Per Page</label></b>
                <div class="col-md-3">
                    <input type="text" class="form-control col-md-8" id="amount" ng-model="txnReports.result.pageSize"  ng-only-number data-max-decimal-points="0" data-max-length="2">                           
                </div> 
                <div class="col-md-5">
                     <button type="button" class="btn btn-danger form-control col-md-4" ng-click="txnReports.setPageSize()">Set Page</button>                           
                </div>
            </div>
        </div>
        <div class="col-md-7">                  
                <ul class="float-right marg-0">
                    <li ng-repeat="item in txnReports.result.pageCount" ng-click="txnReports.getPageList($index +1)" ng-class="txnReports.result.pageIndex == $index ? 'bg-red' :''">{{$index+1}}</li>                    
                </ul>
        </div>  
        
    </div>
</div>
